<{{ tag }} {{ _get_attributes(_attr) }}>
    <div class="{{ container }}">

        {# Brand component #}
        {% if brand is not empty %}
        <twig:Component:Brand 
            :name="brand.name|default()"
            :tagline="brand.tagline|default()"
            :logo="brand.logo|default(null)"
            :size="brand.size|default('medium')"
            :url="brand.url|default()"
            :route="brand.route|default()"
        />
        {% endif %}


        {# Expand button - if menu is not showed on small devices #}
        <twig:Component:Button
            label="Expand"
            :class="header_toggler_classname"
            :dataset="header_toggler_dataset"
        />


        <div class="{{ classname('header-content') }}">

            {# Close button - if menu is showed on small device #}
            <twig:Component:Button
                label="Close"
                :class="header_close_classname"
                :dataset="header_close_dataset"
            />

            {# Menu Schema #}
            <twig:Component:Menu 
                :schema="schema" 
                :justify="justify"
            />

        </div>
    </div>
</{{ tag }}>