<twig:Button is="primary" label="Toggle left OffCanvas" :dataset="{
    target: 'my-offcanvas-left',
    action: 'toggle'
}"/>
<twig:Button is="primary" label="Open left OffCanvas" :dataset="{
    target: 'my-offcanvas-left',
    action: 'open'
}"/>
<twig:Button is="primary" label="Close left OffCanvas" :dataset="{
    target: 'my-offcanvas-left',
    action: 'close'
}"/>

<hr>

<twig:Button is="primary" label="Toggle right OffCanvas" :dataset="{
    target: 'my-offcanvas-right',
    action: 'toggle'
}"/>
<twig:Button is="primary" label="Open right OffCanvas" :dataset="{
    target: 'my-offcanvas-right',
    action: 'open'
}"/>
<twig:Button is="primary" label="Close right OffCanvas" :dataset="{
    target: 'my-offcanvas-right',
    action: 'close'
}"/>