
@use "sass:map";
@use './color';
@use './utils';
@use './../../variables/icons';


@function get ($icon-name, $fill-color: null) {
    @if $fill-color == null or $fill-color == '' {
        $fill-color: #000000;
    }

    $fill-color: color.encode($fill-color);
    $icon: map.get(icons.$icons, $icon-name);;
    $icon: utils.str-replace($icon, '#fill-color', $fill-color);

    @return $icon;
}