// * ===========================================================================
// *  BUILDER: Accordion Component
// * ===========================================================================
// *
// *  This file is the builder for the Accordion component. It defines the 
// *  default styles and behaviors for the component.
// *  The builder is responsible for setting up the base styles and properties that
// *  will be used by the component.
// *
// * ===========================================================================

@charset 'utf-8';

@use "sass:map";
@use "sass:meta";
@use "sass:math";
// @use './../mixins/flex' as *;
@use './../mixins/box-model' as *;
@use './../mixins/spacing' as *;
// @use './../storages/accordion' as store;
@use './../builders/banner';
@use './../storages/prefix';
// @use './../mixins/position' as *;
// @use './../storages/spaces';
// @use './../components/accordion';
// @use './../mixins/component';
// @use './../mixins/transition';
@use './../mixins/display' as *;

$prefix: prefix.$prefix;



// * ------------------------------------------------------------------------ //
// * - CSS Banner                                                           - //
// * ------------------------------------------------------------------------ //

@include banner.header('Component Accordion');



// * ------------------------------------------------------------------------ //
// * - Helpers                                                              - //
// * ------------------------------------------------------------------------ //



// * ------------------------------------------------------------------------ //
// * - Component Styles                                                     - //
// * ------------------------------------------------------------------------ //

.#{$prefix}accordion {
    @include width-full();
    @include max-width(600);
    @include margin(20px auto);

    &-item {
        border: 1px solid #ccc;
        border-radius: 5px;
        margin-bottom: 10px;
        overflow: hidden;

        &.open .#{$prefix}accordion-content {
            max-height: auto;
        }
    }
    &-header {
        background: #007BFF;
        color: white;
        padding: 15px;
        cursor: pointer;
        font-weight: bold;
    }
    &-content {
        // display: none;
        padding: 15px;
        background: #f1f1f1;


        max-height: 0;
        overflow: hidden;
    }

}
