// * ===========================================================================
// *  BUILDER: Alert Component
// * ===========================================================================
// *
// *  This file is the builder for the Alert component. It defines the 
// *  default styles and behaviors for the component.
// *  The builder is responsible for setting up the base styles and properties that
// *  will be used by the component.
// *
// * ===========================================================================

@charset 'utf-8';

@use "sass:map";
@use "sass:meta";
@use "sass:math";
@use './../mixins/flex' as *;
@use './../mixins/spacing' as *;
@use './../storages/alert' as store;
@use './../builders/banner';
@use './../storages/prefix';
@use './../mixins/position' as *;
@use './../storages/spaces';
@use './../components/alert';
@use './../mixins/component';
@use './../mixins/transition';

@use './../mixins/display' as *;

$prefix: prefix.$prefix;



// * ------------------------------------------------------------------------ //
// * - CSS Banner                                                           - //
// * ------------------------------------------------------------------------ //

@include banner.header('Component Alert');



// * ------------------------------------------------------------------------ //
// * - Component Mixins                                                     - //
// * ------------------------------------------------------------------------ //

// -- ---------------------------------------------
// -- Define the structure of the alert component.
// -- ---------------------------------------------
@mixin alert-structure() {
    @content;
}

// -- ---------------------------------------------
// -- Define the layout of the alert component.
// -- ---------------------------------------------
@mixin alert-layout() {
    @content;
}

// -- ---------------------------------------------
// -- Define the typography of the alert component.
// -- ---------------------------------------------
@mixin alert-typography() {
    @content;
}

// -- ---------------------------------------------
// -- Define the spacing of the alert component.
// -- ---------------------------------------------
@mixin alert-spacing() {
    @content;
}

// -- ---------------------------------------------
// -- Define the interactions of the alert component.
// -- ---------------------------------------------
@mixin alert-interactions() {
    @content;
}

// -- ---------------------------------------------
// -- Define the state styles for the alert component.
// -- ---------------------------------------------
@mixin alert-state() {
    @content;
}

// -- ---------------------------------------------
// -- Define the transition effects for the alert component.
// -- ---------------------------------------------
@mixin alert-transition() {
    @content;
}

// -- ---------------------------------------------
// -- Define the animation effects for the alert component.
// -- ---------------------------------------------
@mixin alert-animation() {
    @content;
}

// -- ---------------------------------------------
// -- Define the theme for the alert component.
// -- ---------------------------------------------
@mixin alert-theme() {
    @content;
}

// -- ---------------------------------------------
// -- Define the effects for the alert component.
// -- ---------------------------------------------
@mixin alert-effects() {
    @content;
}



// * ------------------------------------------------------------------------ //
// * - Component Styles                                                     - //
// * ------------------------------------------------------------------------ //


$btn-close-size: 24px;



// * Component Mixin & Functions
// * ---------------------------------------------

@function palette-declination($palette, $property) {

    @if 'alert--color' == map.get($property, name) {
        @return var(--#{$prefix}black);
        // @return var(--#{$prefix}#{map.get( $palette, name )}-bw-contrast);
    }
    @else if 'alert--bg-color' == map.get($property, name) {
        @return var(--#{$prefix}#{map.get( $palette, name )}-subtle);
    }

    @return null;
};

@mixin theme($color, $bg-color, $border-color: null) {
    color           : $color;
    background-color: $bg-color;
    border-color    : $border-color;
}



// * Component Structure
// * ---------------------------------------------

.#{$prefix}alert {
    @include alert-structure();
    @include alert-layout();
    @include alert-typography();
    @include alert-spacing();
    @include alert-interactions();
    @include alert-state();
    @include alert-transition();
    @include alert-animation();
    @include alert-theme();
    @include alert-effects();

    // Set layout css variables
    // --

    @each $name, $value in alert.$layout-properties {
        --#{$prefix}#{$name}: #{$value};
    }


    // Alert layout
    // --
    
    @include display-flex();
    @include flex-direction(row);
    @include flex-align-items(center);
    @include padding(var(--#{$prefix}alert-padding-x));
    @include margin-y(var(--#{$prefix}alert-padding-y));

    @include theme(
        var(--#{$prefix}alert--color),
        var(--#{$prefix}alert--bg-color)
    );
    border: store.$border-width store.$border-style var(--#{$prefix}alert--border-color);
    border-radius: store.$border-radius;

    @if store.$font-family {
        font-family: store.$font-family;
    }
    font-size       : var(--#{$prefix}alert-font-size);
    font-weight     : var(--#{$prefix}alert-font-weight);
    line-height     : var(--#{$prefix}alert-line-height);
    
    box-shadow: store.$box-shadow;
    


    // Content
    // --

    &-icon {
        // font-size: 24px;
        margin-right: 10px;
        // margin-left: 0;
    }
    &-message {
        @include margin(0, auto, 0, 0, true);

    }

    // & + & {
    //     @include margin(spaces.$base * .6, 0, 0, 0);
    // }

    
    // Sizes declinations
    // --

    @if store.$enable-sizes {
        &-small {
            --#{$prefix}alert-padding-x  : var(--#{$prefix}alert-small-padding-x);
            --#{$prefix}alert-padding-y  : var(--#{$prefix}alert-small-padding-y);
            --#{$prefix}alert-font-size  : var(--#{$prefix}alert-small-font-size);
            --#{$prefix}alert-font-weight: var(--#{$prefix}alert-small-font-weight);
            --#{$prefix}alert-line-height: var(--#{$prefix}alert-small-line-height);
        }
        &-large {
            --#{$prefix}alert-padding-x  : var(--#{$prefix}alert-large-padding-x);
            --#{$prefix}alert-padding-y  : var(--#{$prefix}alert-large-padding-y);
            --#{$prefix}alert-font-size  : var(--#{$prefix}alert-large-font-size);
            --#{$prefix}alert-font-weight: var(--#{$prefix}alert-large-font-weight);
            --#{$prefix}alert-line-height: var(--#{$prefix}alert-large-line-height);
        }
    }
    

    // Palette declinations
    // --

    @if store.$enable-palette {
        @include component.palette-declination( 
            meta.get-function(palette-declination), 
            alert.$theme-properties
        );
    }

    
    // Close button
    // --

    & .#{$prefix}button-close {
        cursor: pointer;    
        @include display-flex();
        @include flex-align-items(center);
        @include flex-justify-content(center);
        @include theme(
            var(--#{$prefix}alert--color),
            none
        );

        border: none;
        z-index: 2;
        height: $btn-close-size;
        width: $btn-close-size;
        line-height: math.div($btn-close-size, 1.5);
        font-size: math.div($btn-close-size, 1.5);
        opacity: 0;
        
        
        @include transition.set(
            (opacity), 
            store.$transition-delay, 
            store.$transition-type
        );

        &:hover {
            opacity: 1 !important;
        }
    }

    &:hover .#{$prefix}button-close {
        opacity: .4;
    }
}