// * ===========================================================================
// *  BUILDER: Alert Component
// * ===========================================================================
// *
// *  This file is the builder for the Alert component. It defines the 
// *  default styles and behaviors for the component.
// *  The builder is responsible for setting up the base styles and properties that
// *  will be used by the component.
// *
// * ===========================================================================

@charset 'utf-8';
@use "sass:map";
@use "sass:meta";
@use "sass:math";

@use './../builders/banner' as banner;
@use './../storages/prefix' as *;

// Data storage
@use './../storages/alert' as store;
@use './../storages/spaces';

@use './../components/alert';

// Helpers
@use './../mixins/component';
@use './../mixins/box-model' as *;
@use './../mixins/display' as *;
@use './../mixins/flex' as *;
@use './../mixins/interaction' as *;
@use './../mixins/position' as *;
@use './../mixins/spacing' as *;
@use './../mixins/states' as *;
@use './../mixins/transition' as *;
@use './../mixins/typography' as *;
@use './../mixins/visual' as *;



// * ------------------------------------------------------------------------ //
// * - CSS Banner                                                           - //
// * ------------------------------------------------------------------------ //

@include banner.header('Component Alert');



// * ------------------------------------------------------------------------ //
// * - Component settings                                                   - //
// * ------------------------------------------------------------------------ //

/// Component name
/// 
/// Used for generate class names and for debugging purposes
/// e.g.: $_component: 'button' => .ui-button, .ui-button-primary, ...
/// 
$_component: 'alert';


$btn-close-size: 24px;



// * ------------------------------------------------------------------------ //
// * - Helpers                                                              - //
// * ------------------------------------------------------------------------ //

@function palette-declination($palette, $property) {

    @if 'alert-color' == map.get($property, name) {
        @return var(--#{$prefix}black);
        // @return var(--#{$prefix}#{map.get( $palette, name )}-bw-contrast);
    }
    @else if 'alert-bg-color' == map.get($property, name) {
        @return var(--#{$prefix}#{map.get( $palette, name )}-subtle);
    }

    @return null;
};

@function get-var($c, $p) {
    @return var(--#{prefix($c)}-#{$p});
}



// * ------------------------------------------------------------------------ //
// * - Component builder                                                    - //
// * ------------------------------------------------------------------------ //

/// Component CSS Var
/// 
.#{prefix($_component)} {

  @each $name, $value in alert.$layout-properties {
    --#{prefix($name)}: #{$value};
  }

  // * Sizes declinations
  // * --
  @if store.$enable-sizes {
    &-small {
      --#{$prefix}alert-padding-x  : var(--#{$prefix}alert-small-padding-x);
      --#{$prefix}alert-padding-y  : var(--#{$prefix}alert-small-padding-y);
      --#{$prefix}alert-font-size  : var(--#{$prefix}alert-small-font-size);
      --#{$prefix}alert-font-weight: var(--#{$prefix}alert-small-font-weight);
      --#{$prefix}alert-line-height: var(--#{$prefix}alert-small-line-height);
    }
    &-large {
      --#{$prefix}alert-padding-x  : var(--#{$prefix}alert-large-padding-x);
      --#{$prefix}alert-padding-y  : var(--#{$prefix}alert-large-padding-y);
      --#{$prefix}alert-font-size  : var(--#{$prefix}alert-large-font-size);
      --#{$prefix}alert-font-weight: var(--#{$prefix}alert-large-font-weight);
      --#{$prefix}alert-line-height: var(--#{$prefix}alert-large-line-height);
    }
  }

  // * Palette declinations
  // * --
  @if store.$enable-palette {
    @include component.palette-declination( 
      meta.get-function(palette-declination), 
      alert.$theme-properties
    );
  }

}

/// Component container
/// 
.#{prefix($_component)} {

  // * Layout
  // * --
  @include display-flex();
  @include flex-direction(row);
  @include flex-align-items(center);

  // * Typography
  // * --
  @include font-family(store.$font-family);
  @include font-size(get-var($_component, 'font-size'));
  @include font-weight(get-var($_component, 'font-weight'));
  @include line-height(get-var($_component, 'line-height'));

  // * Box model
  // * --
  @include padding(get-var($_component, 'padding-x'));
  @include margin-y(get-var($_component, 'padding-y'));

  // * Visual
  // * --
  @include border-width(store.$border-width);
  @include border-style(store.$border-style);
  @include border-radius(store.$border-radius);
  @include box-shadow(store.$box-shadow);

  // * Theme
  // * --
  @include color(get-var($_component, 'color'));
  @include background-color(get-var($_component, 'bg-color'));
  @include border-color(get-var($_component, 'border-color'));

}

/// Component content
/// 
.#{prefix($_component)} {

  // * Icon
  // * --
  &-icon {
    @include margin-right(10px);
  }

  // * Message
  // * --
  &-message {
    @include margin(0, auto, 0, 0, true);
  }

  // * Close button
  // * --
  & .#{prefix(button-close)} {

    // * Layout
    // * --
    @include display-flex();
    @include flex-align-items(center);
    @include flex-justify-content(center);

    // * Typography
    // * --
    @include font-size(math.div($btn-close-size, 1.5));
    @include line-height(math.div($btn-close-size, 1.5));

    // * Visual
    // * --
    @include border(none);
    @include height($btn-close-size);
    @include width($btn-close-size);

    // * Position
    // * --
    @include z-index(2);

    // * Interaction
    // * --
    @include cursor(pointer);

    // * Theme
    // * --
    @include color(get-var($_component, 'color'));
    @include background-color(none);

    // * States
    // * --
    @include opacity-states((base: 0, hover: 1));

    
    
    @include transition-set(
      (opacity), 
      store.$transition-delay, 
      store.$transition-type
    );
  }

  &:hover .#{$prefix}button-close {
    opacity: .4;
  }
}


