// * ---------- @osw3/symfony-ux/assets/sass/builder/announcement.scss ---------
// *
// *    Builder for Announcement component
// *
// * ---------------------------------------------------------------------------

@use "sass:map";
@use "sass:meta";
@use './ticker';
@use './rotator';
@use './../mixins/flex';
@use './../mixins/size';
@use './../builders/banner';
@use './../storages/prefix';
@use './../mixins/transition';
@use './../storages/announcement' as store;
@use './../components/announcement';

@include banner.header('Component Announcement');
$prefix: prefix.$prefix;



// * Component Structure
// * ---------------------------------------------

.#{$prefix}announcement {
    @include flex.display;
    @include flex.justify-content(center);
    @include flex.align-items(center);
    @include size.height(null, store.$min-height, null);
    @include size.width(null, 100%, null);

    color: var(--#{$prefix}announcement--color);
    background-color: var(--#{$prefix}announcement--bg-color);
    border: store.$border-width solid var(--#{$prefix}announcement--border-color);
    border-radius: store.$border-radius;

    & a {
        color: var(--#{$prefix}announcement--color);
        text-decoration: underline;
    }

    @if store.$transition {
        @include transition.set(
            (color, background-color, border-color),
            store.$transition-delay,
            store.$transition-type,
        );
    }

    @if store.$hover {
        &:hover {
            color: var(--#{$prefix}announcement--color--hover);
            background-color: var(--#{$prefix}announcement--bg-color--hover);
            border-color: var(--#{$prefix}announcement--border-color--hover);
    
            & a {
                color: var(--#{$prefix}announcement--color--hover);
                text-decoration: underline;
            }
        }
    }
}