// * ===========================================================================
// *  BUILDER: Announcement Component
// * ===========================================================================
// *
// *  This file is the builder for the Announcement component. It defines the 
// *  default styles and behaviors for the component.
// *  The builder is responsible for setting up the base styles and properties that
// *  will be used by the component.
// *
// * ===========================================================================

@charset 'utf-8';

@use "sass:map";
@use "sass:meta";
@use './ticker';
@use './rotator';
@use './../mixins/flex' as *;
@use './../builders/banner';
@use './../storages/prefix';
@use './../mixins/transition' as *;
@use './../storages/announcement' as store;
// @use './../components/announcement';

@use './../mixins/display' as *;
@use './../mixins/box-model' as *;
@use './../mixins/visual' as *;
@use './../mixins/states' as *;

$prefix: prefix.$prefix;



// * ------------------------------------------------------------------------ //
// * - CSS Banner                                                           - //
// * ------------------------------------------------------------------------ //

@include banner.header('Component Announcement');



// * ------------------------------------------------------------------------ //
// * - Helpers                                                     - //
// * ------------------------------------------------------------------------ //




// * ------------------------------------------------------------------------ //
// * - Component Styles                                                     - //
// * ------------------------------------------------------------------------ //

.#{$prefix}announcement {
    /* Layout */
    @include display-flex();
    @include flex-justify-content(center);
    @include flex-align-items(center);

    /* Box model */
    @include min-height(store.$min-height);
    @include min-width(100%);

    /* Visual */
    @include border-width(store.$border-width);
    @include border-style(solid);
    @include border-radius(store.$border-radius);


    @if store.$has-hover-state == false {
        @include color(var(--#{$prefix}announcement--color));
        @include background-color(var(--#{$prefix}announcement--bg-color));
        @include border-color(var(--#{$prefix}announcement--border-color));
    }
    @else { 
        @include color-states((
            base: var(--#{$prefix}announcement--color),
            hover: var(--#{$prefix}announcement--color--hover),
            // focus: var(--#{$prefix}announcement--color--focus),
            // active: var(--#{$prefix}announcement--color--active),
            // disabled: var(--#{$prefix}announcement--color--disabled)
        ));
    
        @include background-color-states((
            base: var(--#{$prefix}announcement--bg-color),
            hover: var(--#{$prefix}announcement--bg-color--hover),
            // focus: var(--#{$prefix}announcement--bg-color--focus),
            // active: var(--#{$prefix}announcement--bg-color--active),
            // disabled: var(--#{$prefix}announcement--bg-color--disabled)
        ));
    
        @include border-color-states((
            base: var(--#{$prefix}announcement--border-color),
            hover: var(--#{$prefix}announcement--border-color--hover),
            // focus: var(--#{$prefix}announcement--border-color--focus),
            // active: var(--#{$prefix}announcement--border-color--active),
            // disabled: var(--#{$prefix}announcement--border-color--disabled)
        ));
    }


    /* Transition */
    @if store.$has-transition {
        @include transition-property(color, background-color, border-color);
        @include transition-duration(store.$transition-delay);
        @include transition-timing-function(store.$transition-type);
    }

    // Announcement links styles
    // -- 

    @include color-states((
        base: var(--#{$prefix}announcement--color),
        hover: var(--#{$prefix}announcement--color--hover)
    ), (
        selector: '&:STATE a'
    ));

    @include states('text-decoration', (
        base: underline,
        hover: underline
    ), (
        selector: '&:STATE a'
    ));
}
