// * ------------ @osw3/symfony-ux/assets/sass/builders/banner.scss ------------
// *
// *    Build CSS Banners
// *
// * ---------------------------------------------------------------------------

@use "sass:string";

@mixin header($title) 
{
    $max-width: 75;
    $title-length: string.length($title);
    $spaces: $max-width - $title-length;
    $padding: "";

    @for $i from 1 through $spaces {
        $padding: "#{$padding} ";
    }

    /* -------------------------------------------------------------------------- */
    /* #{$title}#{$padding}*/ 
    /* -------------------------------------------------------------------------- */
}


@mixin section($title) 
{
    $max-width: 31;
    $title-length: string.length($title);
    $spaces: $max-width - $title-length;
    $padding: "";

    @for $i from 1 through $spaces {
        $padding: "#{$padding} ";
    }

    /* ------------------------------ */
    /* #{$title}#{$padding}*/ 
    /* ------------------------------ */
}