// * ===========================================================================
// *  BUILDER: Breadcrumb Component
// * ===========================================================================
// *
// *  This file is the builder for the Breadcrumb component. It defines the 
// *  default styles and behaviors for the component.
// *  The builder is responsible for setting up the base styles and properties that
// *  will be used by the component.
// *
// * ===========================================================================

@charset 'utf-8';

@use "sass:map";
@use "sass:meta";
@use "sass:math";
@use './link';
@use './../builders/banner';
@use './../storages/prefix';
@use './../mixins/transition';
@use './../storages/breadcrumb' as store;

@use './../mixins/display' as *;

@include banner.header('Component Breadcrumb');
$prefix: prefix.$prefix;



// * ------------------------------------------------------------------------ //
// * - CSS Banner                                                           - //
// * ------------------------------------------------------------------------ //

@include banner.header('Component Breadcrumb');



// * ------------------------------------------------------------------------ //
// * - Component Mixins                                                     - //
// * ------------------------------------------------------------------------ //

// -- ---------------------------------------------
// -- Define the structure of the breadcrumb component.
// -- ---------------------------------------------
@mixin breadcrumb-structure() {
    @content;
}

// -- ---------------------------------------------
// -- Define the layout of the breadcrumb component.
// -- ---------------------------------------------
@mixin breadcrumb-layout() {
    @content;
}

// -- ---------------------------------------------
// -- Define the typography of the breadcrumb component.
// -- ---------------------------------------------
@mixin breadcrumb-typography() {
    @content;
}

// -- ---------------------------------------------
// -- Define the spacing of the breadcrumb component.
// -- ---------------------------------------------
@mixin breadcrumb-spacing() {
    @content;
}

// -- ---------------------------------------------
// -- Define the interactions of the breadcrumb component.
// -- ---------------------------------------------
@mixin breadcrumb-interactions() {
    @content;
}

// -- ---------------------------------------------
// -- Define the state styles for the breadcrumb component.
// -- ---------------------------------------------
@mixin breadcrumb-state() {
    @content;
}

// -- ---------------------------------------------
// -- Define the transition effects for the breadcrumb component.
// -- ---------------------------------------------
@mixin breadcrumb-transition() {
    @content;
}

// -- ---------------------------------------------
// -- Define the animation effects for the breadcrumb component.
// -- ---------------------------------------------
@mixin breadcrumb-animation() {
    @content;
}

// -- ---------------------------------------------
// -- Define the theme for the breadcrumb component.
// -- ---------------------------------------------
@mixin breadcrumb-theme() {
    @content;
}

// -- ---------------------------------------------
// -- Define the effects for the breadcrumb component.
// -- ---------------------------------------------
@mixin breadcrumb-effects() {
    @content;
}



// * ------------------------------------------------------------------------ //
// * - Component Styles                                                     - //
// * ------------------------------------------------------------------------ //

.#{$prefix}breadcrumb {
    @include breadcrumb-structure();
    @include breadcrumb-layout();
    @include breadcrumb-typography();
    @include breadcrumb-spacing();
    @include breadcrumb-interactions();
    @include breadcrumb-state();
    @include breadcrumb-transition();
    @include breadcrumb-animation();
    @include breadcrumb-theme();
    @include breadcrumb-effects();

    & ul {
        list-style: none;
        padding   : 0;
        margin    : 0;
        display   : flex;
        font-size : .9rem;
    }

    & li {
        display  : inline-flex;
        margin   : 0 10px 0 0;
        font-size: 1em;
    }

    & li:not(:last-child)::after {
        content: store.$separator-symbol;
        margin : 0 0 0 10px;
        color  : var(--#{$prefix}breadcrumb-separator--color);
    }

    & a {
        text-decoration: none;
        color: var(--#{$prefix}breadcrumb--color);

        @if store.$transition {
            @include transition.set(
                (color),
                store.$transition-delay,
                store.$transition-type,
            );
        }

        &:hover {
            text-decoration: none;
            color: var(--#{$prefix}breadcrumb--color--hover);
        }
    }

    & .active {
        font-weight: bold;
        color: var(--#{$prefix}breadcrumb--color--active);
    }
}
