// * ===========================================================================
// *  BUILDER: Callout Component
// * ===========================================================================
// *
// *  This file is the builder for the Callout component. It defines the 
// *  default styles and behaviors for the component.
// *  The builder is responsible for setting up the base styles and properties that
// *  will be used by the component.
// *
// * ===========================================================================

@charset 'utf-8';

@use "sass:map";
@use "sass:meta";
@use './../mixins/flex' as *;
@use './../mixins/spacing' as *;
@use './../mixins/support';
@use './../builders/banner';
@use './../storages/prefix';
@use './../mixins/component';
@use './../mixins/transition';

@use './../storages/callout' as store;
@use './../components/callout';


@use './../mixins/display' as *;

$prefix: prefix.$prefix;



// * ------------------------------------------------------------------------ //
// * - CSS Banner                                                           - //
// * ------------------------------------------------------------------------ //

@include banner.header('Component Callout');



// * ------------------------------------------------------------------------ //
// * - Component Mixins                                                     - //
// * ------------------------------------------------------------------------ //

// -- ---------------------------------------------
// -- Define the structure of the callout component.
// -- ---------------------------------------------
@mixin callout-structure() {
    /* Structure */
    @content;
}

// -- ---------------------------------------------
// -- Define the layout of the callout component.
// -- ---------------------------------------------
@mixin callout-layout() {
    /* Layout */
    @include display-flex();

    @include flex-direction(row);
    @include flex-align-items(center);
    @content;
}

// -- ---------------------------------------------
// -- Define the typography of the callout component.
// -- ---------------------------------------------
@mixin callout-typography() {
    /* Typography */
    @content;
}

// -- ---------------------------------------------
// -- Define the spacing of the callout component.
// -- ---------------------------------------------
@mixin callout-spacing() {
    /* Spacing */

    @include padding(var(--#{$prefix}callout-padding-x));
    @include margin(var(--#{$prefix}callout-padding-y) 0);
    @content;
}

// -- ---------------------------------------------
// -- Define the interactions of the callout component.
// -- ---------------------------------------------
@mixin callout-interactions() {
    /* Interactions */
    @content;
}

// -- ---------------------------------------------
// -- Define the state styles for the callout component.
// -- ---------------------------------------------
@mixin callout-state() {
    /* State styles */
    @content;
}

// -- ---------------------------------------------
// -- Define the transition effects for the callout component.
// -- ---------------------------------------------
@mixin callout-transition() {
    /* Transition effects */
    @content;
}

// -- ---------------------------------------------
// -- Define the animation effects for the callout component.
// -- ---------------------------------------------
@mixin callout-animation() {
    /* Animation effects */
    @content;
}

// -- ---------------------------------------------
// -- Define the theme for the callout component.
// -- ---------------------------------------------
@mixin callout-theme() {
    /* Theme */
    @content;
}

// -- ---------------------------------------------
// -- Define the effects for the callout component.
// -- ---------------------------------------------
@mixin callout-effects() {
    /* Effects */
    @content;
}



// * ------------------------------------------------------------------------ //
// * - Component Styles                                                     - //
// * ------------------------------------------------------------------------ //

@function palette-declination($palette, $property) {

    @if 'callout-color' == map.get($property, name) {
        @return var(--#{$prefix}#{map.get( $palette, name )}-bw-contrast);
    }
    @else if 'callout--bg-color' == map.get($property, name) {
        @return var(--#{$prefix}#{map.get( $palette, name )}-subtle);
    }

    @return null;
};



// * Component Structure
// * ---------------------------------------------

.#{$prefix}callout {
    @include callout-structure();
    @include callout-layout();
    @include callout-typography();
    @include callout-spacing();
    @include callout-interactions();
    @include callout-state();
    @include callout-transition();
    @include callout-animation();
    @include callout-theme();
    @include callout-effects();


    $parent: &;

    // Set layout css variables
    // --

    @each $name, $value in callout.$layout-properties {
        --#{$prefix}#{$name}: #{$value};
    }


    // Callout layout
    // --
    background-color: var(--#{$prefix}callout--bg-color);
    border-left     : store.$border-width solid var(--#{$prefix}callout--border-color);
    border-radius   : store.$border-radius;
    // color           : var(--#{$prefix}callout-color);

    @if store.$font-family {
        font-family: store.$font-family;
    }
    font-size       : var(--#{$prefix}callout-font-size);
    font-weight     : var(--#{$prefix}callout-font-weight);
    line-height     : var(--#{$prefix}callout-line-height);
    
    box-shadow: store.$box-shadow;

    // Content
    // --

    &-icon {
        font-size: 24px;
        margin-right: 10px;
        // margin-left: 0;
    }
    &-message {
        margin: 0 !important
    }

    &-right {
        @include flex-direction(row-reverse);
        border-left: none;
        border-right     : store.$border-width solid var(--#{$prefix}callout--border-color);

        #{$parent}-icon {
            margin-right: 0;
            margin-left: 10px;
        }
    }

    
    // Sizes declinations
    // --

    &-small {
        --#{$prefix}callout-padding-x  : var(--#{$prefix}callout-small-padding-x);
        --#{$prefix}callout-padding-y  : var(--#{$prefix}callout-small-padding-y);
        --#{$prefix}callout-font-size  : var(--#{$prefix}callout-small-font-size);
        --#{$prefix}callout-font-weight: var(--#{$prefix}callout-small-font-weight);
        --#{$prefix}callout-line-height: var(--#{$prefix}callout-small-line-height);
    }
    &-large {
        --#{$prefix}callout-padding-x  : var(--#{$prefix}callout-large-padding-x);
        --#{$prefix}callout-padding-y  : var(--#{$prefix}callout-large-padding-y);
        --#{$prefix}callout-font-size  : var(--#{$prefix}callout-large-font-size);
        --#{$prefix}callout-font-weight: var(--#{$prefix}callout-large-font-weight);
        --#{$prefix}callout-line-height: var(--#{$prefix}callout-large-line-height);
    }

    
    // Palette declinations
    // --
    
    @if store.$enable-palette {
        @include component.palette-declination( 
            meta.get-function(palette-declination), 
            callout.$theme-properties
        );
    }
}