// * ===========================================================================
// *  BUILDER: Copyright Component
// * ===========================================================================
// *
// *  This file is the builder for the Copyright component. It defines the 
// *  default styles and behaviors for the component.
// *  The builder is responsible for setting up the base styles and properties that
// *  will be used by the component.
// *
// * ===========================================================================

@charset 'utf-8';

@use './../builders/banner' as banner;
@use './../storages/prefix' as *;

// Data storage
@use './../storages/copyright' as config;
// @use './../components/copyright';

// Helpers
@use './../mixins/layout/flow/display' as *;
@use './../mixins/interaction' as *;
@use './../mixins/spacing' as *;
@use './../mixins/transition' as *;
@use './../mixins/typography' as *;



// * ------------------------------------------------------------------------ //
// * - CSS Banner                                                           - //
// * ------------------------------------------------------------------------ //

@include banner.header('Component Copyright');



// * ------------------------------------------------------------------------ //
// * - Component settings                                                   - //
// * ------------------------------------------------------------------------ //

/// Component name
/// 
/// Used for generate class names and for debugging purposes
/// e.g.: $_component: 'button' => .ui-button, .ui-button-primary, ...
/// 
$_component: 'copyright';



// * ------------------------------------------------------------------------ //
// * - Component Mixins                                                     - //
// * ------------------------------------------------------------------------ //

// -- ---------------------------------------------
// -- Define the transition effects for the copyright component.
// -- ---------------------------------------------
@mixin copyright-transition() {
    @if config.$has-transition {
        @include transition-set(
            (color, background-color),
            config.$transition-delay,
            config.$transition-type,
        );
    }
    
    @content;
}


// -- ---------------------------------------------
// -- Define the theme for the copyright component.
// -- ---------------------------------------------
@mixin copyright-theme() {
    color: var(--#{$prefix}copyright-color);
    background-color: var(--#{$prefix}copyright-bg-color);

    @if config.$has-hover-state {
        &:hover {
            color: var(--#{$prefix}copyright-color-hover, var(--#{$prefix}copyright-color));
            background-color: var(--#{$prefix}copyright-bg-color-hover, var(--#{$prefix}copyright-bg-color));
        }
    }
    
    @content;
}




// * ------------------------------------------------------------------------ //
// * - Component Styles                                                     - //
// * ------------------------------------------------------------------------ //

.#{prefix($_component)} {

  // * Layout
  // * --
  @include display(config.$display, false);

  // * Typography
  // * --
  @include font-family(config.$font-family);
  @include font-size(config.$font-size);
  @include font-weight(config.$font-weight);

  // * Spacing
  // * --
  @include padding-x(config.$padding-x, true);
  @include padding-y(config.$padding-y, true);

  // * Interactions
  // * --
  @include cursor(config.$cursor);

    // @include copyright-structure();
    // @include copyright-layout();
    // @include copyright-typography();
    // @include copyright-spacing();
    // @include copyright-interactions();
    // @include copyright-state();
    // @include copyright-transition();
    // @include copyright-animation();
    // @include copyright-theme();
    // @include copyright-effects();
}
