// * ===========================================================================
// *  Gaps - Builder
// * ===========================================================================
// *
// *  This file defines the gap utilities of the framework, which are used to 
// *  create consistent spacing between elements in a grid layout. The gap 
// *  utilities are defined based on the spacing values stored in the storage 
// *  files.
// *
// * ===========================================================================

@charset 'utf-8';

@use './../builders/banner' as banner;
@use './../storages/prefix' as *;

// Data storage
@use './../storages/spaces' as spaces-store;
@use './../storages/gaps' as store;

// Helpers
@use './../helpers/boolean' as *;
@use './../helpers/list' as *;
@use './../mixins/spacing' as *;


// * ------------------------------------------------------------------------ //
// * - CSS Banner                                                           - //
// * ------------------------------------------------------------------------ //

@include banner.header('Gaps');



// * ------------------------------------------------------------------------ //
// * - Component settings                                                   - //
// * ------------------------------------------------------------------------ //

/// Component name
/// 
/// Used for generate class names and for debugging purposes
/// e.g.: $_component: 'button' => .ui-button, .ui-button-primary, ...
/// 
$_component: 'gap';


/// Gaps selectors string
/// 
$selectors: '';
@each $name, $value in spaces-store.$spaces {$selectors: add-to-list($selectors, '.#{prefix($_component)}-#{$name}');}



// * ------------------------------------------------------------------------ //
// * - Component builder                                                    - //
// * ------------------------------------------------------------------------ //

@if is-true(store.$enable-gaps-class) {

  .#{prefix($_component)} {
    @each $name, $value in spaces-store.$spaces {
      $padding: $value;
      &-#{$name}, &-x-#{$name} { --#{prefix(gap-x)}: #{$padding}; }
      &-#{$name}, &-y-#{$name} { --#{prefix(gap-y)}: #{$padding}; }
    }
  }

  #{$selectors} {
    @include margin-left(calc(var(--#{$prefix}gap-x) * -1));
    @include margin-right(calc(var(--#{$prefix}gap-x) * -1));
  }
  
}
