// * ------------- @osw3/symfony-ux/assets/sass/builders/grid.scss -------------
// *
// *    Builder for CSS Grid
// *
// * ---------------------------------------------------------------------------

@use './../builders/banner';
@use './../storages/prefix';
@use './../storages/spaces' as stored-spaces;
@use './../storages/gaps' as store;
@include banner.header('Gaps');
$prefix: prefix.$prefix;


// * Build CSS
// * ---------------------------------------------

// * Generate Gaps
// * --

// @include banner.section('Grid gaps');
@if store.$enable-gaps-class {

    .#{$prefix}gap {
        @each $key, $value in stored-spaces.$spaces {
            // $margin: calc(-1 * $value);
            $padding: $value;
        
            &-#{$key}, &-x-#{$key} {
                --#{$prefix}gap-x: #{$padding};
            }
            &-#{$key}, &-y-#{$key} {
                --#{$prefix}gap-y: #{$padding};
            }
        }
    }

    [class*=#{$prefix}gap-] {
        margin-left: calc(var(--#{$prefix}gap-x) * -1);
        margin-right: calc(var(--#{$prefix}gap-x) * -1);
    }
}