// * ------------- @osw3/symfony-ux/assets/sass/builders/grid.scss -------------
// *
// *    Builder for CSS Grid
// *
// * ---------------------------------------------------------------------------

@use "sass:math";
@use "sass:map";
@use './../mixins/flex' as *;
@use './../mixins/box-model' as size;
@use './../mixins/display' as *;
@use './../storages/grid' as store;
@use './../mixins/spacing' as *;
@use './../builders/banner';
@use './../storages/prefix';
@use './../storages/spaces' as stored-spaces;
@use './../storages/breakpoints' as stored-breakpoints;
@use './../variables/alignments';
@include banner.header('Grid & Columns');
$prefix: prefix.$prefix;


// * Retrieve stored data
// * ---------------------------------------------

$divisions: store.$divisions;
$breakpoints: stored-breakpoints.$breakpoints;


// * Grid mixins
// * ---------------------------------------------



// * Build CSS
// * ---------------------------------------------

// * Generate the Grid
// * --

.#{$prefix}grid {
    @include display-flex();
    @include flex-direction(row);
    @include flex-wrap(wrap);

    // Make grid direct children as wrapped
    & > * {
        @include flex-grow(1);
        @include flex-shrink(0);
        @include flex-basis(0%);
        @include size.width(100%);
        @include size.max-width(100%);
        @include padding-x(var(--#{$prefix}gap-x, 0));
        @include margin-y(var(--#{$prefix}gap-y, 0));
    }
}


// * Grid columns class
// * --

@if store.$enable-grid-columns-class {
    .#{$prefix}grid {

        $selector-group : '';

        @for $i from 1 through $divisions {
            $selector-group: $selector-group + '&-columns-#{$i}>*, ';
        }

        #{$selector-group} {
            @include flex-grow(0);
            @include flex-shrink(0);
            @include flex-basis(auto);
        }

        @for $i from 1 through $divisions {
            &-columns-#{$i}>* {
                @include size.width(math.percentage(math.div(1,$i)));
            }
        }
    }
}


// * Grid alignments classes
// * --

@if store.$enable-grid-alignments-class {
    .#{$prefix}grid {
        @each $name, $value in alignments.$flex-alignments {
            &-content-#{$name} {
                @include flex-justify-content($value, true);
            }
        }
    }
}


// * Columns sizes classes
// * --

@if store.$enable-column-sizes-class {
    .#{$prefix}column {
        content: '';
        $selector-group : '';

        @for $i from 1 through $divisions {
            $selector-group: $selector-group + '&-#{$i}, ';
        }

        #{$selector-group} {
            @include flex-grow(0);
            @include flex-shrink(0);
            @include flex-basis(var(--#{$prefix}column-width));
            @include size.max-width(var(--#{$prefix}column-width));
        }

        // .column-xx
        @for $i from 1 through $divisions {
            &-#{$i} {
                --#{$prefix}column-width: #{math.percentage(math.div($i, $divisions))};
            }
        }
    
        // .column-break
        &-break {
            @include flex-basis(100%);
            @include size.height(0);
            @include size.width(100%);
            @include padding(0, 0, 0, 0, true);
            @include margin(0, 0, 0, 0, true);
        }


        // Responsive columns
        // --


        $selector-group : '';

        @each $key, $value in $breakpoints {
            @for $i from 1 through $divisions {
                $selector-group: $selector-group + '&-#{$key}-#{$i}, ';
            }
        }

        #{$selector-group} {
            @include flex-grow(0);
            @include flex-shrink(0);
            @include flex-basis(var(--#{$prefix}column-media-width));
            @include size.max-width(var(--#{$prefix}column-media-width));
        }

        @each $key, $value in $breakpoints {
            @media (min-width: map.get($breakpoints, $key)) {
                @for $i from 1 through $divisions {
                    &-#{$key}-#{$i} {
                        --#{$prefix}column-media-width: #{math.percentage(math.div($i, $divisions))};

                    }
                }
            }
        }
    }
}


// * Generate Offset classes
// * --

@if store.$enable-column-offset-class {
    .#{$prefix}offset {
        @for $i from 1 through $divisions {
            &-#{$i} {
                margin-left: math.percentage(math.div($i, $divisions));
            }
        }

        // Responsive offsets
        @each $key, $values in $breakpoints {
            @media (min-width: map.get($breakpoints, $key)) {
                @for $i from 1 through $divisions {
                    &-#{$key}-#{$i} {
                        margin-left: math.percentage(math.div($i, $divisions));
                    }
                }
            }
        }
    }
}


// * Generate Shift classes
// * --

@if store.$enable-column-shift-class {
    .#{$prefix} {
        &shift {
            margin-right: 100%;
            @for $i from 1 through $divisions {
                &-#{$i} {
                    margin-right: #{math.percentage(1 - math.div($i, $divisions))}; 
                }
            }
        }
    }
}
