// * ------------- @osw3/symfony-ux/assets/sass/builder/header.scss ------------
// *
// *    Builder for Header component
// *
// * ---------------------------------------------------------------------------

@use 'sass:map';
@use 'sass:math';
@use './brand';
@use './../mixins/flex';
@use './../storages/header' as store;
@use './../builders/banner';
@use './../storages/prefix';
@use './../mixins/position';
@use './../components/header';
@use './../mixins/transition';
@use './../storages/breakpoints';

@include banner.header('Component Header');
$prefix: prefix.$prefix;
$breakpoints: breakpoints.$breakpoints;


$left-width: store.$width;
$right-width: store.$width;

@if store.$left-width != null {
    $left-width: store.$left-width;
}
@if store.$right-width != null {
    $right-width: store.$right-width;
}


// * Component Structure
// * ---------------------------------------------
$component: header;
.#{$prefix}header {

    position: relative;
    padding: 0;
    margin: 0;
    z-index: 1000;
    background-color: var(--#{$prefix}header--bg-color);

    &:hover {
        z-index: 9999;
    }

    // Is Header Sticky ?
    // -- 

    &-sticky {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
    }

    & [class^=#{$prefix}container] {
        $direction: if(store.$is-inverse, row-reverse, row);
        @include flex.display;
        @include flex.direction($direction);
        @include flex.align-items(center);
        @include flex.justify-content(space-between);
    }



    // Brand
    // --

    & .#{$prefix}brand {
        @if store.$is-inverse {
            margin-left: store.$brand-gap;
            margin-right: store.$brand-offset * -1;
        }
        @else {
            margin-left: store.$brand-offset * -1;
            margin-right: store.$brand-gap;
        }
    }



    // Offcanvas menu
    // --

    &-nav {
        opacity: 0;
        display: none;
        // visibility: hidden;
        z-index: 1000; //  au dessus du menu header // au dessus de scroll to top
        @include position.fixed(0,0,0,0);
        @include transition.set(
            (opacity), 
            store.$transition-delay, 
            store.$transition-type
        );
    
        &:not(&-no-backdrop) {
            backdrop-filter: blur(store.$backdrop-blur);
            &::after {
                content: "";
                @include position.absolute(0,0,0,0);
                background-color: var(--#{$prefix}header--backdrop--bg-color);
                opacity: store.$backdrop-opacity;
                z-index: 1;
            }
        }

        & .#{$prefix}button-close {
            $btn-close-size: 24px;
            // position: absolute;

            cursor: pointer;
            display: flex;
            align-items: center;
            justify-content: center;

            background: none;
            border: none;
            margin-left: 10px;
            // color: var(--#{$prefix}offcanvas--header--color);
            height: $btn-close-size;
            width: $btn-close-size;
            line-height: math.div($btn-close-size, 1.5);
            font-size: math.div($btn-close-size, 1.5);
            opacity: 0.4;
            z-index: 999;
            
            @include transition.set(
                (opacity), 
                store.$transition-delay, 
                store.$transition-type
            );

            &:hover {
                opacity: 1;
            }
        }


        &-content {
            // border: 3px solid green;
            background-color: var(--#{$prefix}header--bg-color);
    
            @include flex.display;
            @include flex.direction(column);
    
            position: absolute;
            top: 0;
            bottom: 0;
            z-index: 2;
    
            @include transition.set(
                (opacity, left, right, box-shadow), 
                store.$transition-delay, 
                store.$transition-type
            );
        }
        &-header {
            @include flex.display;
            @include flex.direction(row);
            @include flex.align-items(center);
            @include flex.justify-content(space-between);
        }
        &-body {
            @include flex.grow(1);
            overflow-y: scroll;
        }



        // &-content {
        //     background-color: var(--#{$prefix}#{$component}-offcanvas--bg-color);
        // }
        // &-header {
        //     background-color: var(--#{$prefix}#{$component}-offcanvas--header--bg-color);
        //     color: var(--#{$prefix}#{$component}-offcanvas--header--color);
        // }
        // &-body {
        //     background-color: var(--#{$prefix}#{$component}-offcanvas--body--bg-color);
        //     color: var(--#{$prefix}#{$component}-offcanvas--body--color);
        // }
        // &-footer {
        //     background-color: var(--#{$prefix}#{$component}-offcanvas--footer--bg-color);
        //     color: var(--#{$prefix}#{$component}-offcanvas--footer--color);
        // }
    }

    &.open .#{$prefix}header-nav {
        opacity: 1;
        // display: block;
        // visibility: visible;
        .#{$prefix}header-nav-content {
            box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
        }
    }

    &:not(&-right) {
        .#{$prefix}header-nav-content {
            width: $left-width;
            left: math.div($left-width, -1);
            right: auto;
        }
        &.open {
            .#{$prefix}header-nav-content {
                left: 0;
            }
        }
    }

    &-right {
        .#{$prefix}header-nav-content { 
            width: $right-width;
            left: auto;
            right: math.div($right-width, -1);
        }
        &.open {
            .#{$prefix}header-nav-content {
                right: 0;
            }
        }
    }

    // & .#{$prefix}brand {
    //     z-index: -2;
    // }

    // & .#{$prefix}menu {
    //     background-color: inherit;
    // }


    // &-content {
    //     // background-color: rgb(2, 208, 95);
    //     @include flex.display;
    //     @include flex.direction(column);
    //     @include transition.set(
    //         (opacity, left, right, box-shadow), 
    //         store.$transition-delay, 
    //         store.$transition-type
    //     );

    //     box-shadow: none;
        

    //     // & .#{$prefix}menu {
    //     //     flex-grow: 1;
    //     //     justify-content: start !important;
    //     // }
    // }


    // // Backdrop
    // @if store.$has-backdrop {
    //     &.open &-content::after {
    //         content: "";
    //         @include position.fixed(0,0,0,0);
    //         background-color: var(--#{$prefix}header--backdrop--bg-color);
    //         opacity: store.$backdrop-opacity;
    //         z-index: -1;
    //     }
    // }


    // // Header mobile placement
    // // -- 

    // &-left &-content,
    // &-right &-content {
    //     @include position.fixed(0, null, 0, null);
    //     width: store.$offcanvas-width;
    //     box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    // }

    // &-left &-content {
    //     @include position.left(store.$offcanvas-width * -1);
    // }
    // &-right &-content {
    //     @include position.right(store.$offcanvas-width * -1);
    // }


    // &.open &-content::before {
    //     content: "";
    //     @include position.fixed(0,0,0,0);
    //     z-index: -1;
    //     backdrop-filter: blur(store.$backdrop--blur);
    // }
    // &.open &-content::after {
    //     content: "";
    //     @include position.fixed(0,0,0,0);
    //     background-color: var(--#{$prefix}header--backdrop--bg-color);
    //     opacity: store.$backdrop--opacity;
    //     z-index: -1;
    // }
    // &-left.open &-content {
    //     @include position.left(0);
    // }
    // &-right.open &-content {
    //     @include position.right(0);
    // }




    // // &-top {
        
    // // }



    // Header expand at $breakpoint
    // --

    @if map.has-key($breakpoints, store.$expand-at) {
        @media (min-width: map.get($breakpoints, store.$expand-at)) {
            &-toggler {
                display: none;
            }

            &-nav {
                // border: 1px solid red;
                // display: flex;
                // flex-direction: row;
                flex-grow: 1;
                position: relative;
                display: block;
                opacity: 1;
                backdrop-filter: initial;

                &-content {
                    // display: flex;
                    // flex-direction: row;
                    @include flex.direction(row);
                    width: unset !important;
                    left: unset !important;
                    right: unset !important;
                //     // border: 3px solid green;
                //     background-color: var(--#{$prefix}header--bg-color);
            
                //     @include flex.display;
                    // width:fit-content !important;
            
                    position: relative;
                //     top: 0;
                //     bottom: 0;
                //     z-index: 2;
            
                //     @include transition.set(
                //         (opacity, left, right, box-shadow), 
                //         store.$transition-delay, 
                //         store.$transition-type
                //     );

                    // & .#{$prefix}button-close {
                    //     display: none;
                    // }
                }
                &-header, &::after {
                    display: none;
                }

                // border-bottom: store.$border-width store.$border-style var(--#{$prefix}header--border-color);
    //             background-color: var(--#{$prefix}header--expanded--bg-color);

    //             & .#{$prefix}brand {
    //                 @if store.$brand-margin-left > 0 {
    //                     margin-left: store.$brand-margin-left;
    //                     margin-right: store.$brand-offset * -1;
    //                 }
    //                 @if store.$brand-margin-right > 0 {
    //                     margin-left: store.$brand-offset * -1;
    //                     margin-right: store.$brand-margin-right;
    //                 }
    //             }
    //             & .#{$prefix}menu {
    //                 flex-grow: 1;
    //                 // justify-content: inherit !important;
    //                 & .#{$prefix}has-subnav > .#{$prefix}nav-items {
    //                     max-height: 80vh;
    //                     overflow-y: scroll;
    //                 }
    //             }

    //             &-toggler, &-close {
    //                 display: none;
    //             }

    //             &-content::after {
    //                 display: none;
    //                 height: 0;
    //                 width: 0;
    //             }

    //             &-left &-content,
    //             &-right &-content {
    //                 // background-color: rgb(135, 222, 196);

    //                 position: relative;
    //                 @include flex.display(true);
    //                 @include flex.direction(row);

    //                 @include position.left(auto);
    //                 @include position.right(auto);
    //                 // width: auto;

    //                 flex-grow: 1;
    //                 box-shadow: none;
    //             }
            }
        }
    }
}


