// * ===========================================================================
// *  BUILDER: Link Component
// * ===========================================================================
// *
// *  This file is the builder for the Link component. It defines the 
// *  default styles and behaviors for the component.
// *  The builder is responsible for setting up the base styles and properties that
// *  will be used by the component.
// *
// * ===========================================================================

@charset 'utf-8';

@use './icon';
@use './../builders/banner';
@use './../storages/prefix';
@use './../mixins/icon' as iconMixins;
@use './../mixins/spacing';
@use './../mixins/transition';
// @use './../mixins/icon';

@use './../storages/link' as store;
@use './../components/link' ;
@include banner.header('Component Link');

$prefix: prefix.$prefix;



// * ------------------------------------------------------------------------ //
// * - CSS Banner                                                           - //
// * ------------------------------------------------------------------------ //

@include banner.header('Component Link');



// * ------------------------------------------------------------------------ //
// * - Component Mixins                                                     - //
// * ------------------------------------------------------------------------ //

// -- ---------------------------------------------
// -- Define the structure of the link component.
// -- ---------------------------------------------
@mixin link-structure() {
    @content;
}

// -- ---------------------------------------------
// -- Define the layout of the link component.
// -- ---------------------------------------------
@mixin link-layout() {
    @content;
}

// -- ---------------------------------------------
// -- Define the typography of the link component.
// -- ---------------------------------------------
@mixin link-typography() {
    @content;
}

// -- ---------------------------------------------
// -- Define the spacing of the link component.
// -- ---------------------------------------------
@mixin link-spacing() {
    @content;
}

// -- ---------------------------------------------
// -- Define the interactions of the link component.
// -- ---------------------------------------------
@mixin link-interactions() {
    @content;
}

// -- ---------------------------------------------
// -- Define the state styles for the link component.
// -- ---------------------------------------------
@mixin link-state() {
    @content;
}

// -- ---------------------------------------------
// -- Define the transition effects for the link component.
// -- ---------------------------------------------
@mixin link-transition() {
    @content;
}

// -- ---------------------------------------------
// -- Define the animation effects for the link component.
// -- ---------------------------------------------
@mixin link-animation() {
    @content;
}

// -- ---------------------------------------------
// -- Define the theme for the link component.
// -- ---------------------------------------------
@mixin link-theme() {
    @content;
}

// -- ---------------------------------------------
// -- Define the effects for the link component.
// -- ---------------------------------------------
@mixin link-effects() {
    @content;
}



// * ------------------------------------------------------------------------ //
// * - Component Styles                                                     - //
// * ------------------------------------------------------------------------ //


// $font-size: 4rem;

// * Component Structure
// * ---------------------------------------------

.#{$prefix}link {
    @include link-structure();
    @include link-layout();
    @include link-typography();
    @include link-spacing();
    @include link-interactions();
    @include link-state();
    @include link-transition();
    @include link-animation();
    @include link-theme();
    @include link-effects();


    display: inline-flex;
    align-items: center; 
    width: fit-content;
    line-height: inherit;
    font-size: inherit;

    cursor: store.$cursor;
    color: var(--#{$prefix}link--color);
    background-color: var(--#{$prefix}link--bg-color);
    text-decoration: store.$text-decoration;
    text-decoration-color: var(--#{$prefix}link-text-decoration--color);

    @if store.$text-decoration == underline {
        text-decoration-thickness: 2px;
    }
    @else {
        text-decoration-thickness: 0px;
    }

    @include transition.set(
        (color, background-color, text-decoration, text-decoration-color, text-decoration-thickness),
        store.$transition-delay,
        store.$transition-type,
    );

    &:hover {
        color: var(--#{$prefix}link--color--hover);
        background-color: var(--#{$prefix}link--bg-color--hover);
        text-decoration: store.$text-decoration-hover;
        text-decoration-color: var(--#{$prefix}link-text-decoration--color--hover);

        @if store.$text-decoration == underline {
            text-decoration-thickness: 2px;
        }
        @else {
            text-decoration-thickness: 0px;
        }
    }

    &:active, 
    &.active,
    &:active:hover, 
    &.active:hover {
        color: var(--#{$prefix}link--color--active);
        background-color: var(--#{$prefix}link--bg-color--active);
        text-decoration: store.$text-decoration-active;
        text-decoration-color: var(--#{$prefix}link-text-decoration--color--active);

        @if store.$text-decoration == underline {
            text-decoration-thickness: 2px;
        }
        @else {
            text-decoration-thickness: 0px;
        }
    }

    &[disabled],
    &[disabled]:active, 
    &[disabled].active, 
    &[disabled]:hover, 
    &[disabled]:active:hover, 
    &[disabled].active:hover {
        color: var(--#{$prefix}link--disabled--color) !important;
        cursor: default !important;
        text-decoration: none !important;
    }


    & .#{$prefix}icon {
        @include iconMixins.toFontSize;
        @include transition.set(
            (fill, stroke),
            store.$transition-delay,
            store.$transition-type,
        );
    }

    &:has(.#{$prefix}icon:first-child) .#{$prefix}icon {
        margin-right: 3px;
    }
    &:has(.#{$prefix}icon:last-child) .#{$prefix}icon {
        margin-left: 3px;
    }
}