// * -------------- @osw3/symfony-ux/assets/sass/builder/map.scss -------------
// *
// *    Builder for Map component
// *
// * ---------------------------------------------------------------------------

@use './../builders/banner';
@use './../storages/prefix';
@use './../mixins/flex';
@use './../mixins/spacing';

@use './../storages/map' as store;
// @use './../components/map';
@include banner.header('Component Map');


// $offset_px: 1px * store.$offset;
$offset_px: store.$offset;

// * Component Structure
// * ---------------------------------------------

.#{prefix.$prefix}map {
    position  : relative;
    min-width : 100%;
    min-height: 100%;
    overflow  : hidden;

    & > iframe {
        border  : none !important;
        position: absolute;
        height  : calc(100% + ($offset_px * 2));
        width   : calc(100% + ($offset_px * 2));

        @each $position in (top, right, bottom, left) {
            #{$position}: $offset_px * -1;
        }
    }
}
