// * ===========================================================================
// *  BUILDER: Media Component
// * ===========================================================================
// *
// *  This file is the builder for the Media component. It defines the 
// *  default styles and behaviors for the component.
// *  The builder is responsible for setting up the base styles and properties that
// *  will be used by the component.
// *
// * ===========================================================================

@charset 'utf-8';

@use "sass:map";
@use "sass:meta";
@use "sass:math";
@use './../mixins/flex' as *;
// @use './../mixins/box-model' as size;
@use './../builders/banner';
@use './../mixins/box-model' as size;
@use './../mixins/spacing' as *;
@use './../storages/prefix';
// @use './../mixins/position' as *;
@use './../storages/spaces';
@use './../mixins/component';
@use './../mixins/transition';
@use './../mixins/display' as *;

@use './../storages/media' as store;
@use './../components/media';
@include banner.header('Component Media');
$prefix: prefix.$prefix;



// * ------------------------------------------------------------------------ //
// * - CSS Banner                                                           - //
// * ------------------------------------------------------------------------ //

@include banner.header('Component Media');



// * ------------------------------------------------------------------------ //
// * - Component Mixins                                                     - //
// * ------------------------------------------------------------------------ //

// -- ---------------------------------------------
// -- Define the structure of the media component.
// -- ---------------------------------------------
@mixin media-structure() {
    @content;
}

// -- ---------------------------------------------
// -- Define the layout of the media component.
// -- ---------------------------------------------
@mixin media-layout() {
    @content;
}

// -- ---------------------------------------------
// -- Define the typography of the media component.
// -- ---------------------------------------------
@mixin media-typography() {
    @content;
}

// -- ---------------------------------------------
// -- Define the spacing of the media component.
// -- ---------------------------------------------
@mixin media-spacing() {
    @content;
}

// -- ---------------------------------------------
// -- Define the interactions of the media component.
// -- ---------------------------------------------
@mixin media-interactions() {
    @content;
}

// -- ---------------------------------------------
// -- Define the state styles for the media component.
// -- ---------------------------------------------
@mixin media-state() {
    @content;
}

// -- ---------------------------------------------
// -- Define the transition effects for the media component.
// -- ---------------------------------------------
@mixin media-transition() {
    @content;
}

// -- ---------------------------------------------
// -- Define the animation effects for the media component.
// -- ---------------------------------------------
@mixin media-animation() {
    @content;
}

// -- ---------------------------------------------
// -- Define the theme for the media component.
// -- ---------------------------------------------
@mixin media-theme() {
    @content;
}

// -- ---------------------------------------------
// -- Define the effects for the media component.
// -- ---------------------------------------------
@mixin media-effects() {
    @content;
}



// * ------------------------------------------------------------------------ //
// * - Component Styles                                                     - //
// * ------------------------------------------------------------------------ //



// * Component Structure
// * ---------------------------------------------

.#{$prefix}media {
    @include media-structure();
    @include media-layout();
    @include media-typography();
    @include media-spacing();
    @include media-interactions();
    @include media-state();
    @include media-transition();
    @include media-animation();
    @include media-theme();
    @include media-effects();


    @include display-flex;
    @include flex-direction(column);
    @include size.width(var(--#{$prefix}media-width, 100%));
    // padding: .5rem;
    // margin: .5rem;
    // border: store.$border-width solid transparent;
    // border-radius: store.$border-radius;
    // box-shadow: store.$box-shadow;

    // width: var(--#{$prefix}media-width, 100%);

    &-inline {
        display: inline-flex;
    }


    & img {
        object-fit: contain;
        max-height: 100%;
        max-width: 100%;
    }

    & figcaption {
        font-style: italic;
    }
}



.#{$prefix}audio, 
.#{$prefix}picture, 
.#{$prefix}video, 
.#{$prefix}pdf {
    // border: 1px solid blue;
    // margin-bottom: 10px;

    @include display-flex;
    @include flex-direction(column);
    // padding: .5rem;

    // .#{$prefix}media > & {
    //     padding: 0;
    // }


    max-height: 100%;
    max-width: 100%;
    min-width: 100%;
}

.#{$prefix}pdf {
    width: 100%;
    height: auto;
    

    &[data-orientation=portrait] {
        aspect-ratio: 210 / 297;
    }
    &[data-orientation=landscape] {
        aspect-ratio: 297 / 210;
    }

    & embed, & iframe {
        width: 100%;
        height: 100%;
        border: none;
        background: transparent;
    }
}