// * -------------- @osw3/symfony-ux/assets/sass/builder/menu.scss -------------
// *
// *    Builder for Menu component
// *
// * ---------------------------------------------------------------------------

@use './../builders/banner';
@use './../storages/prefix';
@use './../mixins/flex';
@use './../mixins/spacing';

@use './../storages/menu' as store;
@use './../components/menu';
@include banner.header('Component Menu');


// * Component Structure
// * ---------------------------------------------

.#{prefix.$prefix}nav {
    border: 1px solid red;

    // list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    // background: #333;

    // Nav Horizontal (default)
    flex-direction: row;

    // Nav vertical
    &-vertical { 
        flex-direction: column;
    }
}
