// * ===========================================================================
// *  BUILDER: Menu Component
// * ===========================================================================
// *
// *  This file is the builder for the Menu component. It defines the 
// *  default styles and behaviors for the component.
// *  The builder is responsible for setting up the base styles and properties that
// *  will be used by the component.
// *
// * ===========================================================================

@charset 'utf-8';

@use 'sass:map';
@use './nav';
@use './../mixins/flex';
@use './../mixins/spacing';
@use './../builders/banner';
@use './../storages/prefix';
@use './../mixins/position';
@use './../mixins/transition';
@use './../variables/alignments';
@use './../storages/breakpoints';
@use './../storages/menu' as store;
@use './../components/menu';

@include banner.header('Component Menu');
$prefix: prefix.$prefix;



// * ------------------------------------------------------------------------ //
// * - CSS Banner                                                           - //
// * ------------------------------------------------------------------------ //

@include banner.header('Component Menu');



// * ------------------------------------------------------------------------ //
// * - Component Mixins                                                     - //
// * ------------------------------------------------------------------------ //

// -- ---------------------------------------------
// -- Define the structure of the menu component.
// -- ---------------------------------------------
@mixin menu-structure() {
    @content;
}

// -- ---------------------------------------------
// -- Define the layout of the menu component.
// -- ---------------------------------------------
@mixin menu-layout() {
    @content;
}

// -- ---------------------------------------------
// -- Define the typography of the menu component.
// -- ---------------------------------------------
@mixin menu-typography() {
    @content;
}

// -- ---------------------------------------------
// -- Define the spacing of the menu component.
// -- ---------------------------------------------
@mixin menu-spacing() {
    @content;
}

// -- ---------------------------------------------
// -- Define the interactions of the menu component.
// -- ---------------------------------------------
@mixin menu-interactions() {
    @content;
}

// -- ---------------------------------------------
// -- Define the state styles for the menu component.
// -- ---------------------------------------------
@mixin menu-state() {
    @content;
}

// -- ---------------------------------------------
// -- Define the transition effects for the menu component.
// -- ---------------------------------------------
@mixin menu-transition() {
    @content;
}

// -- ---------------------------------------------
// -- Define the animation effects for the menu component.
// -- ---------------------------------------------
@mixin menu-animation() {
    @content;
}

// -- ---------------------------------------------
// -- Define the theme for the menu component.
// -- ---------------------------------------------
@mixin menu-theme() {
    @content;
}

// -- ---------------------------------------------
// -- Define the effects for the menu component.
// -- ---------------------------------------------
@mixin menu-effects() {
    @content;
}



// * ------------------------------------------------------------------------ //
// * - Component Styles                                                     - //
// * ------------------------------------------------------------------------ //
$breakpoints: breakpoints.$breakpoints;


// * Component Structure
// * ---------------------------------------------

.#{$prefix}menu {
    @include menu-structure();
    @include menu-layout();
    @include menu-typography();
    @include menu-spacing();
    @include menu-interactions();
    @include menu-state();
    @include menu-transition();
    @include menu-animation();
    @include menu-theme();
    @include menu-effects();

    // Set layout css variables
    // --

    @each $name, $value in menu.$layout-properties {
        --#{$prefix}#{$name}: #{$value};
    }
    --#{$prefix}menu-section-order: var(--#{$prefix}menu-section-order-default);


    // Menu container
    // --
    // div.menu 

    // border: 3px solid red;
    background-color: var(--#{$prefix}menu--bg-color);
    @include flex.display;
    @include flex.direction(column);
    @include spacing.inner(0);
    @include spacing.outer(0);
    
    // Menu vertical
    // --

    // Menu > nav items
    & .#{$prefix}nav-items { 
        @include flex.direction(column);
    }


    // Menu section order
    // -- 

    & > * {
        order: var(--#{$prefix}menu-section-order-default);
    }
    

    // Menu Items alignments
    // --
    
    @each $name, $value in alignments.$flex-alignments {
        &-#{$name} {
            @include flex.justify-content($value, true);
        }
    }
    &-fill > * {
        @include flex.grow(1);
    }


    @if store.$expand-at {
        @media (min-width: map.get($breakpoints, store.$expand-at)) {
            & > * {
                order: var(--#{$prefix}menu-section-order-expand);
            }

            &:not(&-vertical), 
            &:not(&-vertical) .#{$prefix}nav-items { 
                @include flex.direction(row);
                @include flex.align-items(center);
            }
        }
    }

}