// * ===========================================================================
// *  BUILDER: Offcanvas Component
// * ===========================================================================
// *
// *  This file is the builder for the Offcanvas component. It defines the 
// *  default styles and behaviors for the component.
// *  The builder is responsible for setting up the base styles and properties that
// *  will be used by the component.
// *
// * ===========================================================================

@charset 'utf-8';

// @use "sass:map";
// @use "sass:meta";
@use "sass:math";
@use './../utils/no-scroll';
@use './../mixins/flex' as *;
@use './../mixins/spacing' as *;
@use './../storages/offcanvas' as store;
@use './../builders/banner';
@use './../storages/prefix';
@use './../mixins/position' as *;
// @use './../storages/spaces';
@use './../components/offcanvas';
// @use './../mixins/component';
@use './../mixins/transition';
@use './../mixins/display' as *;


@include banner.header('Component Offcanvas');
$prefix: prefix.$prefix;



// * ------------------------------------------------------------------------ //
// * - CSS Banner                                                           - //
// * ------------------------------------------------------------------------ //

@include banner.header('Component Offcanvas');



// * ------------------------------------------------------------------------ //
// * - Component Mixins                                                     - //
// * ------------------------------------------------------------------------ //

// -- ---------------------------------------------
// -- Define the structure of the offcanvas component.
// -- ---------------------------------------------
@mixin offcanvas-structure() {
    @content;
}

// -- ---------------------------------------------
// -- Define the layout of the offcanvas component.
// -- ---------------------------------------------
@mixin offcanvas-layout() {
    @content;
}

// -- ---------------------------------------------
// -- Define the typography of the offcanvas component.
// -- ---------------------------------------------
@mixin offcanvas-typography() {
    @content;
}

// -- ---------------------------------------------
// -- Define the spacing of the offcanvas component.
// -- ---------------------------------------------
@mixin offcanvas-spacing() {
    @content;
}

// -- ---------------------------------------------
// -- Define the interactions of the offcanvas component.
// -- ---------------------------------------------
@mixin offcanvas-interactions() {
    @content;
}

// -- ---------------------------------------------
// -- Define the state styles for the offcanvas component.
// -- ---------------------------------------------
@mixin offcanvas-state() {
    @content;
}

// -- ---------------------------------------------
// -- Define the transition effects for the offcanvas component.
// -- ---------------------------------------------
@mixin offcanvas-transition() {
    @content;
}

// -- ---------------------------------------------
// -- Define the animation effects for the offcanvas component.
// -- ---------------------------------------------
@mixin offcanvas-animation() {
    @content;
}

// -- ---------------------------------------------
// -- Define the theme for the offcanvas component.
// -- ---------------------------------------------
@mixin offcanvas-theme() {
    @content;
}

// -- ---------------------------------------------
// -- Define the effects for the offcanvas component.
// -- ---------------------------------------------
@mixin offcanvas-effects() {
    @content;
}



// * ------------------------------------------------------------------------ //
// * - Component Styles                                                     - //
// * ------------------------------------------------------------------------ //


$left-width: store.$width;
$right-width: store.$width;

@if store.$left-width != null {
    $left-width: store.$left-width;
}
@if store.$right-width != null {
    $right-width: store.$right-width;
}


// * Component Mixin & Functions
// * ---------------------------------------------




// * Component Structure
// * ---------------------------------------------

.#{$prefix}offcanvas {
    @include offcanvas-structure();
    @include offcanvas-layout();
    @include offcanvas-typography();
    @include offcanvas-spacing();
    @include offcanvas-interactions();
    @include offcanvas-state();
    @include offcanvas-transition();
    @include offcanvas-animation();
    @include offcanvas-theme();
    @include offcanvas-effects();

    // Offcanvas container
    // -- 

    // Default state: close
    opacity: 0;
    display: none;
    z-index: 1000; //  au dessus du menu header // au dessus de scroll to top
    @include position-fixed();
    @include top(0);
    @include left(0);
    @include bottom(0);
    @include right(0);
    @include transition.set(
        (opacity), 
        store.$transition-delay, 
        store.$transition-type
    );


    // Offcanvas Backdrop 
    // --

    &:not(&-no-backdrop) {
        backdrop-filter: blur(store.$backdrop--blur);
        &::after {
            content: "";
            @include position-absolute();
            @include top(0);
            @include left(0);
            @include bottom(0);
            @include right(0);
            background-color: var(--#{$prefix}offcanvas--backdrop--bg-color);
            opacity: store.$backdrop--opacity;
            z-index: 1;
        }
    }


    // Offcanvas Open 
    // --

    &.open {
        opacity: 1;
        .#{$prefix}offcanvas-content {
            box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
        }
    }

    // Offcanvas Content (container)
    // -- 

    &-content {
        // border: 3px solid green;
        background-color: var(--#{$prefix}offcanvas--bg-color);

        @include display-flex;
        @include flex-direction(column);

        position: absolute;
        top: 0;
        bottom: 0;
        z-index: 2;

        @include transition.set(
            (opacity, left, right, box-shadow), 
            store.$transition-delay, 
            store.$transition-type
        );
    }


    // Offcanvas Positions
    // -- 

    &:not(&-right) {
        .#{$prefix}offcanvas-content {
            width: $left-width;
            left: math.div($left-width, -1);
            right: auto;
        }
        &.open {
            .#{$prefix}offcanvas-content {
                left: 0;
            }
        }
    }

    &-right {
        .#{$prefix}offcanvas-content { 
            width: $right-width;
            left: auto;
            right: math.div($right-width, -1);
        }
        &.open {
            .#{$prefix}offcanvas-content {
                right: 0;
            }
        }
    }

    
    // Offcanvas Content (section)
    // -- 
    
    & .#{$prefix}button-close {
        $btn-close-size: 24px;
        // position: absolute;

        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;

        background: none;
        border: none;
        margin-left: 10px;
        color: var(--#{$prefix}offcanvas--header--color);
        height: $btn-close-size;
        width: $btn-close-size;
        line-height: math.div($btn-close-size, 1.5);
        font-size: math.div($btn-close-size, 1.5);
        opacity: 0.4;
        z-index: 999;
        
        @include transition.set(
            (opacity), 
            store.$transition-delay, 
            store.$transition-type
        );

        &:hover {
            opacity: 1;
        }
    }

    &-header, &-body, &-footer {
        position: relative;
        @include padding-x(store.$padding-x);
        @include padding-y(store.$padding-y);
    }
    &-header {
        @include display-flex;
        @include flex-direction(row);
        @include flex-justify-content(space-between);
        background-color: var(--#{$prefix}offcanvas--header--bg-color);
        color: var(--#{$prefix}offcanvas--header--color);
    }
    &-body {
        @include flex-grow(1);
        overflow-y: scroll;
        -webkit-overflow-scrolling: touch;
        background-color: var(--#{$prefix}offcanvas--body--bg-color);
        color: var(--#{$prefix}offcanvas--body--color);
    }
    &-footer {
        background-color: var(--#{$prefix}offcanvas--footer--bg-color);
        color: var(--#{$prefix}offcanvas--footer--color);

        &:after {
            content: "";
            border-top: 10px solid red;
            width: 100%;
            display: block;
            position: absolute;
            left: 0;
            top: 0;
        }
    }


    @if store.$separator-width > 0 {
        &-header, &-footer {
            &:after {
                content: "";
                display: block;
                position: absolute;
                left: 0;
                border-top: store.$separator-width solid var(--#{$prefix}offcanvas--separator--border-color);
                width: 100%;
            }
        }
    
        &-header:after {
            bottom: 0;
        }
        &-footer:after {
            top: 0;
        }
    }
}