// * ------------ @osw3/symfony-ux/assets/sass/builders/palette.scss -----------
// *
// *    Builder for CSS Palette variables
// *
// * ---------------------------------------------------------------------------

@use './../builders/banner';
@use './../storages/palette' as store;
@use './../functions/color' as f-color;
@use './../functions/collection' as f-collection;
@include banner.header('Palette');


// * Retrieve stored data
// * ---------------------------------------------

$palette: store.$palette;
$useless: store.$useless;


// * Unset useless colors
// * ---------------------------------------------

@if f-collection.notEmpty($useless) {
    @each $key, $value in $palette {
        @if f-collection.keyExists($useless, $key) {
            $palette: f-collection.unset($palette, $key);
        }
    }
}


// * Build CSS
// * ---------------------------------------------

// todo: really need to create palette CSS Variable ? or just export SCSS variable to components ?
// :root {
    // /* */
//     @each $key, $value in $palette {

//         --#{$key}: #{$value};

//         // --#{$key}--text: #{f-color.shade($value, 60%)};
//         // --#{$key}--background: #{f-color.tint($value, 80%)};
//         // --#{$key}--border: #{f-color.tint($value, 60%)};
//     }
// }