// * ===========================================================================
// *  Palette Builder
// * ===========================================================================
// *
// *  This file defines the palette builder, which is responsible for generating
// *  the CSS variables for the color palette used throughout the framework.
// *
// * ===========================================================================

@charset 'utf-8';
@use "sass:list";
@use "sass:map";

@use './../builders/banner';
@use './../storages/prefix' as *;

// Data storage
@use './../storages/palette' as store;

// Helpers
@use './../helpers/boolean' as *;
@use './../helpers/color' as *;
@use './../helpers/empty' as *;
@use './../helpers/list' as *;
@use './../helpers/map' as *;



// * ------------------------------------------------------------------------ //
// * - CSS Banner                                                           - //
// * ------------------------------------------------------------------------ //

@include banner.header('Palette');



// * ------------------------------------------------------------------------ //
// * - Component settings                                                   - //
// * ------------------------------------------------------------------------ //

/// Palette
/// 
/// A map of colors used in the framework, where the key is the color name and 
/// the value is the color value. The palette is defined in the storage file 
/// and can be customized by the user. The palette is used to generate the CSS 
/// variables for the colors, as well as their declinations and contrasts. 
/// 
$palette: store.$palette;

/// Useless palette
/// 
/// A list of color names that are considered useless and should be removed from
/// the palette. This can be used to remove colors that are not needed in the 
/// project, or to avoid conflicts with other color definitions. The useless 
/// palette is defined in the storage file and can be customized by the user. 
/// 
$useless: store.$useless;

/// Declinations
/// 
/// A map of declinations for the colors in the palette, where the key is the
/// color name and the value is a map of declination names and their
/// corresponding color transformations. The declinations are used to generate 
/// additional CSS variables for the colors, such as lighter or darker versions.
/// The declinations are defined in the storage file and can be customized by 
/// the user.
/// 
$declinations: store.$declinations;



// * ------------------------------------------------------------------------ //
// * - Helpers                                                              - //
// * ------------------------------------------------------------------------ //

/// Declination
/// Make declination for a color and generate CSS variables for it.
///
/// @param $name string The name of the color in the palette (e.g. "primary").
/// @param $base color The base color value to use for the declination.
/// @param $rules map A map of declination names and their corresponding color transformations (e.g. (emphasis: tint 20%, subtle: shade 20%))
/// 
@mixin _declination($name, $base, $rules) {
  @each $declination-name, $declination in $rules{

    $mode : list.nth($declination, 1);
    $value: list.nth($declination, 2);

    @if $mode == tint {
      $color: color-tint($base, $value);
      --#{$prefix}#{$name}-#{$declination-name}: #{$color};
    }
    @else {
      $color: color-shade($base, $value);
      --#{$prefix}#{$name}-#{$declination-name}: #{$color};
    }
  }
}



// * ------------------------------------------------------------------------ //
// * - Component builder                                                    - //
// * ------------------------------------------------------------------------ //

/// Remove useless palette
/// 
@if is-not-empty($useless) {
  @each $key, $value in $palette {
    @if in-list($useless, $key) {
      $palette: unset-key($palette, $key);
    }
  }
}

/// Build palette
/// 
:root {
  @each $name, $value in $palette {

    /// Main color
    --#{$prefix}#{$name}: #{$value};

    /// Properties declination
    $has-declination: false;
    @each $declination-name, $declination-properties in $declinations {
      @if $declination-name == $name {
        @include _declination($name, $value, $declination-properties);
        $has-declination: true;
      }
    }

    /// All declination '*'
    @if is-false($has-declination) {
      $declination-properties: map.get($declinations, '*');
      @include _declination($name, $value, $declination-properties);
    }

    /// Black and White contrast
    --#{$prefix}#{$name}-bw-contrast: #{color-contrast($value)};
  }
}
