// * ===========================================================================
// *  BUILDER: Rating Component
// * ===========================================================================
// *
// *  This file is the builder for the Rating component. It defines the 
// *  default styles and behaviors for the component.
// *  The builder is responsible for setting up the base styles and properties that
// *  will be used by the component.
// *
// * ===========================================================================

@charset 'utf-8';

@use 'sass:math';
@use './../builders/banner';
@use './../storages/prefix';
@use './../mixins/transition';

@use './../storages/rating' as store;
// @use './../components/rating' ;
@include banner.header('Component Rating');
$prefix: prefix.$prefix;



// * ------------------------------------------------------------------------ //
// * - CSS Banner                                                           - //
// * ------------------------------------------------------------------------ //

@include banner.header('Component Rating');



// * ------------------------------------------------------------------------ //
// * - Component Mixins                                                     - //
// * ------------------------------------------------------------------------ //

// -- ---------------------------------------------
// -- Define the structure of the rating component.
// -- ---------------------------------------------
@mixin rating-structure() {
    @content;
}

// -- ---------------------------------------------
// -- Define the layout of the rating component.
// -- ---------------------------------------------
@mixin rating-layout() {
    @content;
}

// -- ---------------------------------------------
// -- Define the typography of the rating component.
// -- ---------------------------------------------
@mixin rating-typography() {
    @content;
}

// -- ---------------------------------------------
// -- Define the spacing of the rating component.
// -- ---------------------------------------------
@mixin rating-spacing() {
    @content;
}

// -- ---------------------------------------------
// -- Define the interactions of the rating component.
// -- ---------------------------------------------
@mixin rating-interactions() {
    @content;
}

// -- ---------------------------------------------
// -- Define the state styles for the rating component.
// -- ---------------------------------------------
@mixin rating-state() {
    @content;
}

// -- ---------------------------------------------
// -- Define the transition effects for the rating component.
// -- ---------------------------------------------
@mixin rating-transition() {
    @content;
}

// -- ---------------------------------------------
// -- Define the animation effects for the rating component.
// -- ---------------------------------------------
@mixin rating-animation() {
    @content;
}

// -- ---------------------------------------------
// -- Define the theme for the rating component.
// -- ---------------------------------------------
@mixin rating-theme() {
    @content;
}

// -- ---------------------------------------------
// -- Define the effects for the rating component.
// -- ---------------------------------------------
@mixin rating-effects() {
    @content;
}



// * ------------------------------------------------------------------------ //
// * - Component Styles                                                     - //
// * ------------------------------------------------------------------------ //


// * Component Structure
// * ---------------------------------------------

$base: 1.5rem;

$sizes: (
    small : .6,
    medium: .9,
    large : 1.4,
);

.#{$prefix}rating {
    @include rating-structure();
    @include rating-layout();
    @include rating-typography();
    @include rating-spacing();
    @include rating-interactions();
    @include rating-state();
    @include rating-transition();
    @include rating-animation();
    @include rating-theme();
    @include rating-effects();



    --#{$prefix}rating-symbol-off: #{store.$symbol-off};
    --#{$prefix}rating-symbol-on: #{store.$symbol-on};

    display: flex;
    width: 100%;

    &-selector {    
        // border: 1px solid blue;
        padding: .4rem;

        display: flex;
        overflow: hidden;
        flex-direction: row;
    }

    &-item {
        // border: 1px solid red;
        height: $base * 1;
        width: $base * 1;
        background-image: var(--#{$prefix}rating-symbol-on);
        background-repeat: no-repeat;
        background-position: center;


        @if store.$transition {
            @include transition.set(
                (transform),
                store.$transition-delay,
                store.$transition-type,
            );
        }

        & > span {
            display: none !important;
        }

        // &.selected {
        //     background-image: var(--#{$prefix}rating-symbol-on);

        // }
        // &.pre-selected {
        //     background-image: var(--#{$prefix}rating-symbol-on);
        // }
    }
    &-radio {
        display: none !important;
    }




    &-selector:hover &-item:not(#\#), 
    &-item, 
    &-radio:invalid ~ &-item:hover {
        filter: grayscale(0);
    }
    
    &-selector:hover &-item:hover ~ &-item:not(#\#), 
    &-radio:invalid ~ &-item, 
    &-radio:checked + &-item ~ &-item {
        filter: grayscale(1) brightness(0.75) opacity(0.75);
    }

    @if store.$scale-selected {
        &-radio:checked + &-item {
            transform: scale(1.3);
            transition-timing-function: cubic-bezier(0.5, 1.5, 0.25, 1);
        }
    }


    @each $name, $multiplicate in $sizes {
        &-#{$name} {
            .#{$prefix}rating-item {
                height: $base * $multiplicate;
                width: $base * $multiplicate;
            }
        }
    }

    &-counter, &-legend {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        padding-left: math.div($base, 2);
        padding-right: math.div($base, 2);
    }
}