// * ===========================================================================
// *  BUILDER: Rotator Component
// * ===========================================================================
// *
// *  This file is the builder for the Rotator component. It defines the 
// *  default styles and behaviors for the component.
// *  The builder is responsible for setting up the base styles and properties that
// *  will be used by the component.
// *
// * ===========================================================================

@charset 'utf-8';

@use './../builders/banner';
@use './../storages/prefix';
@use './../mixins/flex' as *;
@use './../mixins/spacing' as *;
@use './../mixins/display' as *;

@use './../storages/rotator' as store;
// @use './../components/rotator';
@include banner.header('Component Rotator');
$prefix: prefix.$prefix;



// * ------------------------------------------------------------------------ //
// * - CSS Banner                                                           - //
// * ------------------------------------------------------------------------ //

@include banner.header('Component Rotator');



// * ------------------------------------------------------------------------ //
// * - Component Mixins                                                     - //
// * ------------------------------------------------------------------------ //




// * ------------------------------------------------------------------------ //
// * - Component Styles                                                     - //
// * ------------------------------------------------------------------------ //


// * Component Structure
// * ---------------------------------------------

.#{$prefix}rotator {

    @include display-flex();

    overflow  : hidden;
    // min-height: store.$min-height;
    min-width : 100%;
    height    : store.$height;

    &-inner {
        @include display-flex();
        @include flex-justify-content(center);
        @include flex-align-items(center);
        @include padding(0);
        @include margin(0);
        position: relative;
        list-style: none;
        width: 100%;
        height: 100%;
    }

    &-item {
        position: absolute;
        white-space: nowrap;
        display: none;
        opacity: 0;
    }

}
