// * ------------- @osw3/symfony-ux/assets/sass/builder/ticker.scss ------------
// *
// *    Builder for Ticker component
// *
// * ---------------------------------------------------------------------------

@use './../builders/banner';
@use './../storages/prefix';
@use './../mixins/flex';
@use './../mixins/spacing';

@use './../storages/ticker' as store;
@use './../components/ticker';
@include banner.header('Component Ticker');
$prefix: prefix.$prefix;


// * Component Structure
// * ---------------------------------------------

.#{$prefix}ticker {

    @include flex.display;

    overflow  : hidden;
    min-height: 100%;
    min-width : 100%;
    height    : store.$height;

    &-inner {
        @include flex.display;
        @include flex.justify-content(center);
        @include flex.align-items(center);
        @include spacing.inner(0);
        @include spacing.outer(0);
        position: relative;
        list-style: none;
        width: 100%;
        height: 100%;
    }

    &-item {
        position: absolute;
        white-space: nowrap;
        display: none;
    }

}
