// * ---------- @osw3/symfony-ux/assets/sass/builders/transitions.scss ---------
// *
// *    Builder for CSS Transitions variables
// *
// * ---------------------------------------------------------------------------

@use './../storages/transitions' as store;


// * Retrieve stored data
// * ---------------------------------------------

$base: store.$base;
$transitions: store.$transitions;


// * Build CSS
// * ---------------------------------------------

:root {
    @each $key, $value in $transitions {
        $delay: $value * $base;
        --transition-#{$key}: #{$delay};
    }
}
