// ************************************************************************** //
// *
// *    Pallet Builder
// *
// ************************************************************************** //

@use './../abstracts/mixins/banner';
@use './../abstracts/functions/color';

@include banner.header('Base pallet');


// * =============================================
// *
// *    Generate pallet variables
// *
// * =============================================

:root {
    @each $key, $value in $pallet {
        // --#{$prefix}#{$key}: #{$value};
        --#{$key}: #{$value};

        @if $has-shade {
            // --#{$prefix}#{$key}-shade: --#{$prefix}#{$key}-shade-30;
            --#{$key}-shade: --#{$key}-shade-30;
            @for $i from 1 through 10 {
                $int_percentage: $i * 10;
                $str_percentage: $i * 10%;
                // --#{$prefix}#{$key}-shade-#{$int_percentage}:  #{color.shade($value, $str_percentage)};
                --#{$key}-shade-#{$int_percentage}:  #{color.shade($value, $str_percentage)};
            }
        }

        @if $has-tint {
            // --#{$prefix}#{$key}-tint: --#{$prefix}#{$key}-tint-30;
            --#{$key}-tint: --#{$key}-tint-30;
            @for $i from 1 through 10 {
                $int_percentage: $i * 10;
                $str_percentage: $i * 10%;
                // --#{$prefix}#{$key}-tint-#{$int_percentage}:  #{color.tint($value, $str_percentage)};
                --#{$key}-tint-#{$int_percentage}:  #{color.tint($value, $str_percentage)};
            }
        }
    }
}