// ************************************************************************** //
// *
// *    palette Builder
// *
// ************************************************************************** //

@use './../abstracts/mixins/banner';
@use './../abstracts/functions/color';

@include banner.header('Base palette');


// * =============================================
// *
// *    Generate palette variables
// *
// * =============================================

:root {
    @each $palette-name, $value in $palette {
        --#{$palette-name}: #{$value};

        $shades: map-get($palette-shades, $palette-name);
        $tints: map-get($palette-tints, $palette-name);

        @if $shades {
            @for $i from 1 through length($shades) {
                $percent: nth($shades, $i) * 1%;
                --#{$palette-name}--shade-#{nth($shades, $i)}: #{color.shade($value, $percent)};
            }
        }

        @if $tints {
            @for $i from 1 through length($tints) {
                $percent: nth($tints, $i) * 1%;
                --#{$palette-name}--tint-#{nth($tints, $i)}: #{color.tint($value, $percent)};
            }
        }
    }
}