// ******************************* DevBrain UI ****************************** //
// *
// *    Utilities : Screen Reader Only
// *
// ************************************************************************** //
// *
// *    <div class="sr-only">...</div>
// *
// ************************************************************************** //

@use './../abstracts/mixins/position';

.sr-only {
    @include position.absolute;

    width: 1px;
    height: 1px;
    padding: map-get($spacers, 0);
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border-width: 0;
}