@use 'sass:string';
@use './../functions/icon';
@use './../functions//utils';


/**
 * 
 */
@mixin toFontSize() {
    height: 1em;
    display: inline-flex;
    vertical-align: baseline;

    &:has(img), &:has(svg) {
        width: 1em;
    }
}