// Last gen: 2024-10-08 12:13:25
$prefix: 'ux';
$varWithDefault: true;
$breakpoint-name-phone: 'phone';
$breakpoint-phone: 576px;
$container-phone: 540px;
$breakpoint-name-tablet: 'tablet';
$breakpoint-tablet: 768px;
$container-tablet: 720px;
$breakpoint-name-laptop: 'laptop';
$breakpoint-laptop: 992px;
$container-laptop: 960px;
$breakpoint-name-desktop: 'desktop';
$breakpoint-desktop: 1200px;
$container-desktop: 1140px;
$breakpoint-name-wide: 'wide';
$breakpoint-wide: 1400px;
$container-wide: 1440px;
$breakpoint-name-ultra: 'ultra';
$breakpoint-ultra: 1600px;
$container-ultra: 1520px;
$additional-breakpoints: ('big-screen': (breakpoint: 2000px, container: 1900px));
$useless-breakpoints: ('ultra','big-screen');
$blue: #018490;
$indigo: #6610f2;
$purple: #6f42c1;
$pink: #d63384;
$red: #dc3545;
$orange: #fd7e14;
$yellow: #ffc107;
$green: #198754;
$teal: #20c997;
$cyan: #0dcaf0;
$black: #111111;
$white: #ffffff;
$gray_100: #f8f9fa;
$gray_200: #e9ecef;
$gray_300: #dee2e6;
$gray_400: #ced4da;
$gray_500: #adb5bd;
$gray_600: #6c757d;
$gray_700: #495057;
$gray_800: #343a40;
$gray_900: #212529;
$pumpkin: #FF5E15;
$pink-flamingo: #ff38ff;
$generated-additional-colors: ('pumpkin': $pumpkin,'pink-flamingo': $pink-flamingo);
$generated-useless-colors: ('teal','pumpkin');
$generated-colors-shades: ('pink-flamingo' : (20,30));
$generated-colors-tints: ('pink-flamingo' : (20,30));
$ui-colors-name-success: 'success';
$ui-colors-name-danger: 'danger';
$ui-colors-name-warning: 'warning';
$ui-colors-name-info: 'info';
$ui-colors-name-primary: 'primary';
$ui-colors-name-secondary: 'secondary';
$ui-colors-name-light: 'light';
$ui-colors-name-dark: 'dark';
$ui-colors-name-muted: 'muted';
$highlight: #00FF99;
$generated-additional-ui-colors: ('highlight': #00FF99);
$generated-useless-palette: ('light','dark','muted');
$transition-base: 1;
$transition-slow: 0.8;
$transition-normal: 0.3;
$transition-fast: 0.1;
$spacer-base: 1rem;
$spacer-1: 0.25;
$spacer-2: 0.5;
$spacer-3: 1;
$spacer-4: 1.5;
$spacer-5: 2;
$spacer-6: 3;
$grid-divisions: 12;
$theme-default: 'light';
$brand-breakpoints: ('phone','tablet');
$scroll-to-top--shape: 'square';
$scroll-to-top--symbol: 'arrow-up';
$scroll-to-top--position: 'bottom-right';
$scroll-to-top--transition: 'natural';