// Last gen: 2024-08-18 02:10:37
$prefix: 'ux';
$breakpoint-name-phone: 'phone';
$breakpoint-phone: 576px;
$container-phone: 540px;
$breakpoint-name-tablet: 'tablet';
$breakpoint-tablet: 768px;
$container-tablet: 720px;
$breakpoint-name-laptop: 'laptop';
$breakpoint-laptop: 992px;
$container-laptop: 960px;
$breakpoint-name-desktop: 'desktop';
$breakpoint-desktop: 1200px;
$container-desktop: 1140px;
$breakpoint-name-wide: 'wide';
$breakpoint-wide: 1400px;
$container-wide: 1440px;
$breakpoint-name-ultra: 'ultra';
$breakpoint-ultra: 1600px;
$container-ultra: 1520px;
$additional-breakpoints: ('extra': (breakpoint: 576px, container: 540px));
$transition-base: 1;
$transition-slow: 0.8;
$transition-normal: 0.3;
$transition-fast: 0.1;
$spacer-base: 1rem;
$spacer-1: 0.25;
$spacer-2: 0.5;
$spacer-3: 1;
$spacer-4: 1.5;
$spacer-5: 2;
$spacer-6: 3;
$grid-divisions: 12;
$theme-default: 'light';
$brand-breakpoints: ('phone','tablet','laptop');