// Last gen: 2025-01-19 11:48:51
$prefix: 'ux';
$varWithDefault: true;
$breakpoint-name-phone: 'phone';
$breakpoint-phone: 576px;
$container-phone: 540px;
$breakpoint-name-tablet: 'tablet';
$breakpoint-tablet: 768px;
$container-tablet: 720px;
$breakpoint-name-laptop: 'laptop';
$breakpoint-laptop: 992px;
$container-laptop: 960px;
$breakpoint-name-desktop: 'desktop';
$breakpoint-desktop: 1200px;
$container-desktop: 1140px;
$breakpoint-name-wide: 'wide';
$breakpoint-wide: 1400px;
$container-wide: 1440px;
$breakpoint-name-ultra: 'ultra';
$breakpoint-ultra: 1600px;
$container-ultra: 1520px;
$blue: #0d6efd;
$indigo: #6610f2;
$purple: #6f42c1;
$pink: #d63384;
$red: #dc3545;
$orange: #fd7e14;
$yellow: #ffc107;
$green: #198754;
$teal: #20c997;
$cyan: #0dcaf0;
$black: #111111;
$white: #ffffff;
$gray_100: #f8f9fa;
$gray_200: #e9ecef;
$gray_300: #dee2e6;
$gray_400: #ced4da;
$gray_500: #adb5bd;
$gray_600: #6c757d;
$gray_700: #495057;
$gray_800: #343a40;
$gray_900: #212529;
$ui-color-name-success: 'success';
$ui-color-name-danger: 'danger';
$ui-color-name-warning: 'warning';
$ui-color-name-info: 'info';
$ui-color-name-primary: 'primary';
$ui-color-name-secondary: 'secondary';
$ui-color-name-light: 'light';
$ui-color-name-dark: 'dark';
$ui-color-name-muted: 'muted';
$grid-divisions: 12;
$spacer-base: 1rem;
$spacer-1: 0.25;
$spacer-2: 0.5;
$spacer-3: 1;
$spacer-4: 1.5;
$spacer-5: 2;
$spacer-6: 3;
$theme-default: 'light';
$transition-base: 1s;
$transition-slow: 0.8;
$transition-normal: 0.3;
$transition-fast: 0.1;
$brand-breakpoints: ('laptop','desktop');
$scroll-to-top--shape: 'square';
$scroll-to-top--symbol: 'arrow-up';
$scroll-to-top--position: 'bottom-right';
$scroll-to-top--transition: 'natural';