// ************************************************************************** //
// *
// *    Z-Index definition.
// *
// ************************************************************************** //

  // $zindex-dropdown:                   1000;
  // $zindex-sticky:                     1020;
  // $zindex-fixed:                      1030;
$z-index--scroll-to-top: 1040 !default;
$z-index--overlay      : 1040 !default;
$z-index--modal        : 1040 !default;
$z-index--offcanvas    : 1045 !default;
  // $zindex-modal-backdrop:             1050;
  // $zindex-modal:                      1055;
  // $zindex-popover:                    1070;
  // $zindex-tooltip:                    1080;