// * ------------ @osw3/symfony-ux/assets/sass/variables/colors.scss -----------
// *
// *    Default colors definition.
// *
// *    - Base colors
// *    - Additional colors
// *    - Colors variations
// *    - Useless colors
// *
// * ---------------------------------------------------------------------------

@use 'sass:list';
@use 'sass:map';
@use 'sass:meta';
@use './../generated';


// * Defaults Black & White & Gray scales values
// * ---------------------------------------------

$black   : if(meta.global-variable-exists('black'   , $module: generated), generated.$black     , #111111) !default;
$white   : if(meta.global-variable-exists('white'   , $module: generated), generated.$white     , #ffffff) !default;
$gray-100: if(meta.global-variable-exists('gray-100', $module: generated), generated.$gray-100  , #f8f9fa) !default;
$gray-200: if(meta.global-variable-exists('gray-200', $module: generated), generated.$gray-200  , #e9ecef) !default;
$gray-300: if(meta.global-variable-exists('gray-300', $module: generated), generated.$gray-300  , #dee2e6) !default;
$gray-400: if(meta.global-variable-exists('gray-400', $module: generated), generated.$gray-400  , #ced4da) !default;
$gray-500: if(meta.global-variable-exists('gray-500', $module: generated), generated.$gray-500  , #adb5bd) !default;
$gray-600: if(meta.global-variable-exists('gray-600', $module: generated), generated.$gray-600  , #6c757d) !default;
$gray-700: if(meta.global-variable-exists('gray-700', $module: generated), generated.$gray-700  , #495057) !default;
$gray-800: if(meta.global-variable-exists('gray-800', $module: generated), generated.$gray-800  , #343a40) !default;
$gray-900: if(meta.global-variable-exists('gray-900', $module: generated), generated.$gray-900  , #212529) !default;


// * Defaults Colors values
// * ---------------------------------------------

$blue  : if(meta.global-variable-exists('blue'      , $module: generated), generated.$blue      , #0d6efd) !default;
$indigo: if(meta.global-variable-exists('indigo'    , $module: generated), generated.$indigo    , #6610f2) !default;
$purple: if(meta.global-variable-exists('purple'    , $module: generated), generated.$purple    , #6f42c1) !default;
$pink  : if(meta.global-variable-exists('pink'      , $module: generated), generated.$pink      , #d63384) !default;
$red   : if(meta.global-variable-exists('red'       , $module: generated), generated.$red       , #dc3545) !default;
$orange: if(meta.global-variable-exists('orange'    , $module: generated), generated.$orange    , #fd7e14) !default;
$yellow: if(meta.global-variable-exists('yellow'    , $module: generated), generated.$yellow    , #ffc107) !default;
$green : if(meta.global-variable-exists('green'     , $module: generated), generated.$green     , #198754) !default;
$teal  : if(meta.global-variable-exists('teal'      , $module: generated), generated.$teal      , #20c997) !default;
$cyan  : if(meta.global-variable-exists('cyan'      , $module: generated), generated.$cyan      , #0dcaf0) !default;
