// * ------------ @osw3/symfony-ux/assets/sass/variables/fonts.scss ------------
// *
// *    Default fonts definition.
// *
// *    - Base fonts sizes
// *
// * ---------------------------------------------------------------------------

@use 'sass:meta';
@use './../generated';


// * Base fonts sizes
// * ---------------------------------------------

// $base-font-size  : if(meta.global-variable-exists('base-font-size' , $module: generated), generated.$base-font-size , 16px);
$base-font-size  : if(meta.global-variable-exists('base-font-size', $module: generated), $if-true: generated.$base-font-size, $if-false: 16px);

$base-line-height: if(meta.global-variable-exists('base-line-height', $module: generated), $if-true: generated.$base-line-height, $if-false: 1.5);

// * Headings base sizes
// * ---------------------------------------------

$h1-font-size: if(meta.global-variable-exists('h1-font-size', $module: generated), $if-true: generated.$h1-font-size, $if-false: 2rem);
$h2-font-size: if(meta.global-variable-exists('h2-font-size', $module: generated), $if-true: generated.$h2-font-size, $if-false: 1.75rem);
$h3-font-size: if(meta.global-variable-exists('h3-font-size', $module: generated), $if-true: generated.$h3-font-size, $if-false: 1.5rem);
$h4-font-size: if(meta.global-variable-exists('h4-font-size', $module: generated), $if-true: generated.$h4-font-size, $if-false: 1.25rem);
$h5-font-size: if(meta.global-variable-exists('h5-font-size', $module: generated), $if-true: generated.$h5-font-size, $if-false: 1rem);
$h6-font-size: if(meta.global-variable-exists('h6-font-size', $module: generated), $if-true: generated.$h6-font-size, $if-false: 0.875rem);
$heading-line-height: if(meta.global-variable-exists('heading-line-height', $module: generated), $if-true: generated.$heading-line-height, $if-false: 1.25);
