// ************************************************************************** //
// *
// *    palette definition.
// *
// ************************************************************************** //

@use 'sass:meta';
@use './../generated';
@use './../abstracts/functions/color';
@use './../abstracts/functions/collection';


// * =============================================
// *
// *    Base UI Colors
// *
// * =============================================

/// UI Colors names
/// =============================================

$palette-name-success  : if(meta.global-variable-exists('palette-name-success', $module: generated), generated.$palette-name-success, 'success') !default;
$palette-name-danger   : if(meta.global-variable-exists('palette-name-danger', $module: generated), generated.$palette-name-danger, 'danger') !default;
$palette-name-warning  : if(meta.global-variable-exists('palette-name-warning', $module: generated), generated.$palette-name-warning, 'warning') !default;
$palette-name-info     : if(meta.global-variable-exists('palette-name-info', $module: generated), generated.$palette-name-info, 'info') !default;
$palette-name-primary  : if(meta.global-variable-exists('palette-name-primary', $module: generated), generated.$palette-name-primary, 'primary') !default;
$palette-name-secondary: if(meta.global-variable-exists('palette-name-secondary', $module: generated), generated.$palette-name-secondary, 'secondary') !default;
$palette-name-light    : if(meta.global-variable-exists('palette-name-light', $module: generated), generated.$palette-name-light, 'light') !default;
$palette-name-dark     : if(meta.global-variable-exists('palette-name-dark', $module: generated), generated.$palette-name-dark, 'dark') !default;
$palette-name-muted    : if(meta.global-variable-exists('palette-name-muted', $module: generated), generated.$palette-name-muted, 'muted') !default;


/// UI Colors collection
/// =============================================
/// Default names and colors assignment

$palette: (
    $palette-name-success  : $green,
    $palette-name-danger   : $red,
    $palette-name-warning  : $orange,
    $palette-name-info     : $cyan,
    $palette-name-primary  : $blue,
    $palette-name-secondary: $gray-600,
    $palette-name-light    : $white,
    $palette-name-dark     : $black,
    $palette-name-muted    : $gray-500,
);



// * =============================================
// *
// *    UI Colors variations
// *
// * =============================================

$palette-shades: () !default;
$palette-tints: () !default;



// * =============================================
// *
// *    Additional UI Colors
// *
// * =============================================

/// Add customs colors to the palette
/// -----
/// $additional-palette: ( 'my-color': purple );
$generated-additional-palette: if(meta.global-variable-exists('generated-additional-palette', $module: generated), generated.$generated-additional-palette, ()) !default;
$additional-palette          : () !default;
$additional-palette          : map-merge(
    $generated-additional-palette, 
    $additional-palette
);

@if collection.notEmpty($additional-palette) {
    @each $key, $value in $additional-palette {
        $palette: map-merge($palette, ($key: $value));
    }
}



// * =============================================
// *
// *    Useless UI Colors
// *
// * =============================================

/// Remove from palette
/// -----
/// $remove-palette: ('success');
$generated-useless-palette: if(meta.global-variable-exists('generated-useless-palette', $module: generated), generated.$generated-useless-palette, ()) !default;
$useless-palette          : () !default;
$useless-palette          : append($generated-useless-palette, $useless-palette, 'comma');

@if collection.notEmpty($useless-palette) {
    @each $key, $value in $palette {
        @if collection.keyExists($useless-palette, $key) {
            $palette: collection.unset($palette, $key);
        }
    }
}