// * ------------ @osw3/symfony-ux/assets/sass/variables/prefix.scss -----------
// *
// *    Default prefix definition.
// *
// * ---------------------------------------------------------------------------

@use 'sass:meta';
@use './../generated';


// * Prefix default value
// * ---------------------------------------------

$prefix: if(sass(meta.global-variable-exists('prefix', $module: generated)): generated.$prefix; else: 'ux');



/// ==============================================

// $TEXT_COLOR            : 'color';
// $TEXT_COLOR_HOVER      : 'color--hover';

// $BACKGROUND_COLOR      : 'bg-color';
// $BACKGROUND_COLOR_HOVER: 'bg-color--hover';

// $BORDER_COLOR          : 'border-color';
// $BORDER_COLOR_HOVER    : 'border-color--hover';
