// * ---------- @osw3/symfony-ux/assets/sass/variables/transition.scss ---------
// *
// *    Default transition definition.
// *
// *    - Default transitions names
// *    - Default transitions values
// *    - Default containers names
// *
// * ---------------------------------------------------------------------------

@use "sass:meta";
@use './../generated';


// * Default transitions base
// * ---------------------------------------------

$base: if(sass(meta.global-variable-exists('transition-base', $module: generated)): generated.$transition-base; else: '1s') !default;

// * Default transitions names
// * ---------------------------------------------

$transition-name-slow  : if(sass(meta.global-variable-exists('transition-name-slow'      , $module: generated)): generated.$transition-name-slow      ; else: 'slow') !default;
$transition-name-normal: if(sass(meta.global-variable-exists('transition-name-normal'    , $module: generated)): generated.$transition-name-normal    ; else: 'normal') !default;
$transition-name-fast  : if(sass(meta.global-variable-exists('transition-name-fast'      , $module: generated)): generated.$transition-name-fast      ; else: 'fast') !default;


// * Default transitions values
// * ---------------------------------------------

$transition-slow       : if(sass(meta.global-variable-exists('transition-slow'           , $module: generated)): generated.$transition-slow           ; else: 'slow') !default;
$transition-normal     : if(sass(meta.global-variable-exists('transition-normal'         , $module: generated)): generated.$transition-normal         ; else: 'normal') !default;
$transition-fast       : if(sass(meta.global-variable-exists('transition-fast'           , $module: generated)): generated.$transition-fast           ; else: 'fast') !default;
