// ************************************************************************** //
// *
// *    Utilities variables.
// *
// ************************************************************************** //

@use 'sass:meta';
@use './../generated';
@use './prefix';


$_PREFIX: prefix.$prefix;

/// Sides
/// =============================================
///

$sides: (
    t: top,
    r: right,
    b: bottom,
    l: left,
);

.#{$_PREFIX}no-scroll {
    overflow: hidden;
    height: 100%;
}

$border-radius: 6px !default;
