
@use './var';

@mixin outline($key)
{

    @include var.set('color', $key);
    background-color: transparent;
    @include var.set('border-color', $key, null, true);
    border-width: 1px !important;
    border-style: solid !important;
}