// ************************************************************************** //
// *
// *    Components: Accordion
// *
// ************************************************************************** //

@use './../abstracts/mixins/banner';
@use './../abstracts/mixins/spaces';
@use './../abstracts/mixins/transition';

$_component: 'accordion';
$_classname: '#{$prefix}#{$_component}';

@include banner.header('Component #{$_component}');


// * =============================================
// *
// *    Component functions
// *
// * =============================================



// * =============================================
// *
// *    Component Properties
// *
// * =============================================

// * Default sizes and/or positions variables
// * =========================


// * Default theme variables
// * =========================


// * =============================================
// *
// *    Component Definition
// *
// * =============================================

.#{$_classname} {

    // border: 10px solid red;

    /// Accordion Item
    /// --

    &-item {
        border: 1px solid #ccc;
    }
    &-item + &-item {
        margin-top: -1px;
    }

    
    /// Accordion header
    /// --
    
    &-header {
        background-color: #f1f1f1;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        @include spaces.margin(0,0,0,0);
        @include spaces.padding($spacer,$spacer,$spacer,$spacer);
    }
    // .show &-header {
    //     background-color: #d1d1d1;
    // }


    /// Accordion content
    /// --
    
    &-content {
        // border: 10px solid purple;
        max-height: 0;
        overflow: hidden;
        // display: none;

        @include transition.set((max-height), map-get($delays, normal));
    }

    // &-item.open &-content {
    //     max-height: 100px;
    // }

    
    // /// Accordion content inner
    // /// --

    // &-inner {
    //     // border: 10px solid blue;
    //     @include spaces.padding($spacer,$spacer,$spacer,$spacer);
    // }

    // &-button {
    //     cursor: pointer;
    // }
}