// ******************************* DevBrain UI ****************************** //
// *
// *    Components: Accordion
// *
// ************************************************************************** //

@use './../abstracts/mixins/banner';
@use './../abstracts/mixins/spaces';
@use './../abstracts/mixins/transition';

$_component: 'accordion';
$_classname: '#{$prefix}#{$_component}';

@include banner.header('Component #{$_component}');


// * =============================================
// *
// *    Component functions
// *
// * =============================================



// * =============================================
// *
// *    Component Properties
// *
// * =============================================

// * Default sizes and/or positions variables
// * =========================


// * Default theme variables
// * =========================


// * =============================================
// *
// *    Component Definition
// *
// * =============================================

.#{$_classname} {

    /// Accordion panel
    /// --
    
    &-panel {
        border: 1px solid #ccc;
    }
    &-panel + &-panel {
        margin-top: -1px;
    }

    
    /// Accordion header
    /// --
    
    &-header {
        @include spaces.padding($spacer,$spacer,$spacer,$spacer);
        background-color: #f1f1f1;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    .show &-header {
        background-color: #d1d1d1;
    }


    /// Accordion content
    /// --
    
    &-content {
        // border: 10px solid purple;
        max-height: 0;
        overflow: hidden;
        // display: none;

        @include transition.set((max-height), map-get($delays, normal));
    }

    
    /// Accordion content inner
    /// --

    &-inner {
        // border: 10px solid blue;
        @include spaces.padding($spacer,$spacer,$spacer,$spacer);
    }

    &-button {
        cursor: pointer;
    }
}