// ************************************************************************** //
// *
// *    Components: Alert
// *
// ************************************************************************** //
@use "sass:map";
@use './../variables/prefix';
@use './../abstracts/mixins/var';
@use './../abstracts/mixins/banner';
@use './../abstracts/mixins/sizes';
@use './../abstracts/mixins/corner';
@use './../abstracts/mixins/spaces';
@use './../abstracts/mixins/position';
@use './../functions/color';



// * ======================================================================== //
// * Component constants
// * ======================================================================== //

$_COMPONENT: 'alert';
$_CLASSNAME: '#{prefix.$prefix}#{$_COMPONENT}';

@include banner.header('Component #{$_COMPONENT}');



// * ======================================================================== //
// * Component variables
// * ======================================================================== //

// * Layout variables
// * ------------------------------------------------------------------------ //

$alert--margin-y                                : $spacer !default;
$alert--border-radius                           : map.get($radius, 'small') !default;


// * Theme variables
// * ------------------------------------------------------------------------ //

// No theme variable definition



// * ======================================================================== //
// * Component definition
// * ======================================================================== //

// * Palette
// * ------------------------------------------------------------------------ //

.#{$_CLASSNAME} {
    @each $key, $value in $ui-colors {
        &-#{$key} {
            --#{$_CLASSNAME}--text      : var(--#{$key}--text);
            --#{$_CLASSNAME}--background: var(--#{$key}--background);
            --#{$_CLASSNAME}--border    : var(--#{$key}--border);
        }
    }
}


// * Structure
// * ------------------------------------------------------------------------ //

.#{$_CLASSNAME} {

    /// Alert container
    /// --
    
    border-width: 1px;
    border-style: solid;
    @include position.relative;
    @include corner.rounded($alert--border-radius);
    @include sizes.width(100%);

    @include spaces.padding(
        $spacer * .6,
        $spacer * 1.4,
        $spacer * .6, 
        $spacer * 1.4 
    );

    @include spaces.margin(
        null, 
        null, 
        $alert--margin-y, 
        null
    );

    @include var.set('color', '#{$_COMPONENT}--text');
    @include var.set('background-color', '#{$_COMPONENT}--background');
    @include var.set('border-color', '#{$_COMPONENT}--border');


    & + & {
        @include spaces.margin( $alert--margin-y, null, null, null );
    }

    /// Alert dismiss button
    /// --
    
    & .#{prefix.$prefix}button-close {
        z-index: 2;
        @include position.absolute(0, 0, null, null);
        @include spaces.padding($spacer * 1.25, $spacer, $spacer * 1.25, $spacer);
    }
}


// * Responsive
// * ------------------------------------------------------------------------ //

// No responsive definition
