// * ===========================================================================
// *  VARIABLES: Announcement Component
// * ===========================================================================
// *
// *  This file contains the default variable values for the announcement component.
// *
// * ===========================================================================

@charset 'utf-8';

@use './../storages/prefix';
$prefix: prefix.$prefix;



// * ------------------------------------------------------------------------ //
// * - Default theme properties                                             - //
// * ------------------------------------------------------------------------ //

$theme-properties: (
    'announcement--color'              : var(--#{$prefix}black),
    'announcement--color--hover'       : var(--#{$prefix}black),
    'announcement--bg-color'           : var(--#{$prefix}gray-300),
    'announcement--bg-color--hover'    : var(--#{$prefix}gray-400),
    'announcement--border-color'       : null,
    'announcement--border-color--hover': null,
);



// * ------------------------------------------------------------------------ //
// * - Default structure properties                                         - //
// * ------------------------------------------------------------------------ //

$layout-properties: ();
