// * ------------ @osw3/symfony-ux/assets/sass/components/announcement.scss -----------
// *
// *    Builder for Announcement component
// *
// *    /!\ this file is used to pre-build and provide : 
// *    -> 'builder/root.scss'
// *    -> 'builder/announcement.scss'
// *
// * ---------------------------------------------------------------------------

@use './../storages/prefix';
$prefix: prefix.$prefix;


// * Default theme properties
// * ---------------------------------------------

$theme-properties: (
    'announcement--color'              : var(--#{$prefix}black),
    'announcement--color--hover'       : var(--#{$prefix}black),
    'announcement--bg-color'           : var(--#{$prefix}gray-300),
    'announcement--bg-color--hover'    : var(--#{$prefix}gray-400),
    'announcement--border-color'       : null,
    'announcement--border-color--hover': null,
);


// * Default structure properties
// * ---------------------------------------------

$layout-properties: ();
