// ************************************************************************** //
// *
// *    Components: Avatar
// *
// ************************************************************************** //

@use './../variables/prefix';
@use './../abstracts/mixins/banner';

$_PREFIX: prefix.$prefix;

$_COMPONENT: 'avatar';
$_CLASSNAME: '#{$_PREFIX}#{$_COMPONENT}';

@include banner.header('Component #{$_COMPONENT}');


// * =============================================
// *
// *    Component functions
// *
// * =============================================



// * =============================================
// *
// *    Component Properties
// *
// * =============================================

// * Default layout variables
// * =========================


// * Default theme variables
// * =========================


// * =============================================
// *
// *    Component Definition
// *
// * =============================================

.#{$_CLASSNAME} {

    /**/
    
}