// ************************************************************************** //
// *
// *    Components: Badge
// *
// ************************************************************************** //

@use './../variables/prefix';
@use './../abstracts/mixins/var';
@use './../abstracts/mixins/corner';
@use './../abstracts/mixins/spaces';
@use './../abstracts/mixins/banner';
@use './../abstracts/mixins/palette';
@use './../abstracts/functions/color';

$_PREFIX: prefix.$prefix;

$_COMPONENT: 'badge';
$_CLASSNAME: '#{$_PREFIX}#{$_COMPONENT}';

@include banner.header('Component #{$_COMPONENT}');


// * =============================================
// *
// *    Component functions
// *
// * =============================================



// * =============================================
// *
// *    Component Properties
// *
// * =============================================

// * Default layout variables
// * =========================


// * Default theme variables
// * =========================


// * =============================================
// *
// *    Component Definition
// *
// * =============================================


// * Palette
// * =========================

.#{$_CLASSNAME} {
    @each $key, $value in $ui-colors {
        &-#{$key} {
            // --#{$_CLASSNAME}--color           : var(--#{$key});
            // --#{$_CLASSNAME}--background-color: var(--#{$key}--tint-70);
            // --#{$_CLASSNAME}--border-color    : var(--#{$key});
        }
    }
}


// * Structure
// * =========================

.#{$_CLASSNAME} {

    /// Badge container
    /// --
    
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border-width: 1px;
    border-style: solid;
    color: var(--white);
    font-weight: 700;
    @include corner.rounded($spacer);


    /// Badge sizes
    /// --

    & {
        @include spaces.padding( $spacer * .4, $spacer * .6, $spacer * .4, $spacer * .6 );
        // font-size: $spacer * .8;
        font-size: 0.75em;
        line-height: .8;
    }
    &-small {
        @include spaces.padding( $spacer * .3, $spacer * .4, $spacer * .3, $spacer * .4 );
        font-size: $spacer * .7;
        line-height: .6;
    }
    &-large {
        @include spaces.padding( $spacer * .6, $spacer * .8, $spacer * .6, $spacer * .8 );
        font-size: $spacer * 1;
        line-height: 1;
    }


    /// Badge palette
    /// --
    
    // @each $key, $value in $ui-colors {
    
    //     $_shade       : color.shade($value, 30%);
    //     $_tint        : color.tint($value, 60%);
    //     $_contrastText: color.contrastText($_shade);
    
    //     // Fill color
    //     // --

    //     &-#{$key} {
    //         background-color: var(--#{$key});
    //         border-color: var(--#{$key});
    //     }

    //     // Stroke (outline) color
    //     // --

    //     &-#{$key}-outline {
    //         @include palette.outline($key);
    //     }
    // }
}