// * ------------ @osw3/symfony-ux/assets/sass/components/brand.scss -----------
// *
// *    Builder for Brand component
// *
// *    /!\ this file is used to pre-build and provide : 
// *    -> 'builder/root.scss'
// *    -> 'builder/brand.scss'
// *
// * ---------------------------------------------------------------------------

@use './../storages/prefix';
@use './../storages/brand';
$prefix: prefix.$prefix;

$breakpoints: brand.$breakpoints;


// * Default theme properties
// * ---------------------------------------------

$theme-properties: (
    brand-color             : var(--#{$prefix}dark),
    brand-hover-color       : inherit, //var(--#{$prefix}inherit),
    // brand-bg-color          : var(--#{$prefix}cyan),
    // brand-hover-bg-color    : var(--#{$prefix}cyan),
    // brand-border-color      : var(--#{$prefix}red),
    // brand-hover-border-color: var(--#{$prefix}red),
);


// * Default structure properties
// * ---------------------------------------------

$layout-properties: ();
