// * ------------ @osw3/symfony-ux/assets/sass/components/brand.scss -----------
// *
// *    Builder for Brand component
// *
// *    /!\ this file is used to pre-build and provide : 
// *    -> 'builder/root.scss'
// *    -> 'builder/brand.scss'
// *
// * ---------------------------------------------------------------------------

@use './../storages/prefix';
@use './../storages/brand';

$breakpoints: brand.$breakpoints;


// * Default theme properties
// * ---------------------------------------------

$theme-properties: (
    brand-color             : var(--#{prefix.$prefix}dark),
    brand-hover-color       : inherit, //var(--#{prefix.$prefix}inherit),
    // brand-bg-color          : var(--#{prefix.$prefix}cyan),
    // brand-hover-bg-color    : var(--#{prefix.$prefix}cyan),
    // brand-border-color      : var(--#{prefix.$prefix}red),
    // brand-hover-border-color: var(--#{prefix.$prefix}red),
);


// * Default structure properties
// * ---------------------------------------------

// $layout-properties: (
//     brand-padding-x            : brand.$padding-x,
//     brand-padding-y            : brand.$padding-y,
//     brand-primary-font-family  : brand.$primary-font-family,
//     brand-primary-font-size    : brand.$primary-font-size,
//     brand-primary-font-weight  : brand.$primary-font-weight,
//     brand-secondary-font-family: brand.$secondary-font-family,
//     brand-secondary-font-size  : brand.$secondary-font-size,
//     brand-secondary-font-weight: brand.$secondary-font-weight,
//     brand-tagline-offset       : brand.$tagline-offset,
//     brand-transition-delay     : brand.$transition-delay,
//     brand-transition-type      : brand.$transition-type,
// );
