// ************************************************************************** //
// *
// *    Components: Breadcrumb
// *
// ************************************************************************** //

@use './../abstracts/mixins/var';
@use './../abstracts/mixins/banner';

$_component: 'breadcrumb';
$_classname: '#{$prefix}#{$_component}';

@include banner.header('Component #{$_component}');



// * =============================================
// *
// *    Component functions
// *
// * =============================================



// * =============================================
// *
// *    Component Properties
// *
// * =============================================

// * Default layout variables
// * =========================

$breadcrumb--separator : "/" !default;


// * Default theme variables
// * =========================

$breadcrumb--background-color: transparent;
$breadcrumb--link-color      : $gray-700;
$breadcrumb--link-hover-color: $gray-900;
$breadcrumb--active-color    : $gray-900;


// * =============================================
// *
// *    Component Definition
// *
// * =============================================

.#{$_classname} {

    /// Breadcrumb container
    /// --
    
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    margin: 0;
    background: var(--breadcrumb--background-color, $breadcrumb--background-color);

    
    /// Breadcrumb items
    /// --
    
    &-item {
        display: flex;
        align-items: center;
    
        // Item link

        & a {
            color: var(--breadcrumb--link-color, $breadcrumb--link-color);
            text-decoration: none;
        
            &:hover {
                color: var(--breadcrumb--link-color-hover, $breadcrumb--link-hover-color);
                text-decoration: none;
            }
        }

        // Active item

        &.active {
            color: var(--breadcrumb--active-color, $breadcrumb--active-color);
        
            & a {
                pointer-events: none;
                text-decoration: none;
                color: inherit;
            }
        }

        // Items separator

        & + &::before {
            content: $breadcrumb--separator;
            padding: 0 0.5em;
            color: var(--breadcrumb--active-color, $breadcrumb--active-color);
        }
    }
}