// * ----------- @osw3/symfony-ux/assets/sass/components/button.scss -----------
// *
// *    Default variables for Button component
// *
// *    /!\ this file is used to pre-build and provide : 
// *    -> 'builder/root.scss'
// *    -> 'builder/button.scss'
// *
// * ---------------------------------------------------------------------------

@use './../storages/button';
@use './../storages/prefix';


// * Default theme properties
// * ---------------------------------------------

$theme-properties: (
    button-color             : var(--#{prefix.$prefix}black),
    button-hover-color       : inherit, //var(--#{prefix.$prefix}inherit),
    button-bg-color          : var(--#{prefix.$prefix}gray-400),
    button-hover-bg-color    : var(--#{prefix.$prefix}gray-500),
    button-border-color      : var(--#{prefix.$prefix}gray-600),
    button-hover-border-color: var(--#{prefix.$prefix}gray-700),
);


// * Default structure properties
// * ---------------------------------------------

$layout-properties: (
    button-padding-x         : button.$padding-x,
    button-padding-y         : button.$padding-y,
    button-border-width      : button.$border-width,
    button-border-radius     : button.$border-radius,
    button-font-family       : button.$font-family,
    button-font-size         : button.$font-size,
    button-font-weight       : button.$font-weight,
    button-line-height       : button.$line-height,
    button-box-shadow        : button.$box-shadow,
    button-disabled-opacity  : button.$disabled-opacity,
    button-focus-box-shadow  : button.$focus-box-shadow
);
