// ************************************************************************** //
// *
// *    Components: Button
// *
// ************************************************************************** //

// TODO: Revoir le CSS de l'état "disabled" du bouton

@use './../abstracts/mixins/var';
@use './../abstracts/mixins/corner';
@use './../abstracts/mixins/spaces';
@use './../abstracts/mixins/banner';
@use './../abstracts/mixins/palette';
@use './../abstracts/mixins/transition';
@use './../abstracts/functions/color';

$COMPONENT: 'button';
$CLASSNAME: '#{$prefix}#{$COMPONENT}';

@include banner.header('Component #{$COMPONENT}');



// * =============================================
// *
// *    Component Properties
// *
// * =============================================

// * Default layout variables
// * =========================


// * Default theme variables
// * =========================



// * =============================================
// *
// *    Component Definition
// *
// * =============================================


// * Palette
// * =========================

.#{$CLASSNAME} {

    --#{$CLASSNAME}--text: #{$black};
    --#{$CLASSNAME}--text-hover: #{$black};
    --#{$CLASSNAME}--text-active: #{$black};
    --#{$CLASSNAME}--text-disabled: #{$black};
    --#{$CLASSNAME}--background: transparent;
    --#{$CLASSNAME}--background-hover: transparent;
    --#{$CLASSNAME}--background-active: transparent;
    --#{$CLASSNAME}--background-disabled: transparent;
    --#{$CLASSNAME}--border: transparent;
    --#{$CLASSNAME}--border-hover: transparent;
    --#{$CLASSNAME}--border-active: transparent;
    --#{$CLASSNAME}--border-disabled: transparent;
    --#{$CLASSNAME}--focus: transparent;

    @each $key, $value in $ui-colors {

        $base-color: map-get($ui-colors, $key);
        $contrast  : color.contrastText($base-color);
        $text-color: map-get($colors, #{$contrast});

        &-#{$key} {
            --#{$CLASSNAME}--text: #{$text-color};
            --#{$CLASSNAME}--text-hover: #{$text-color};
            --#{$CLASSNAME}--text-active: #{$text-color};
            --#{$CLASSNAME}--text-disabled: #{$text-color};
            --#{$CLASSNAME}--background: #{$base-color};
            --#{$CLASSNAME}--background-hover: #{color.shade($base-color, 15%)};
            --#{$CLASSNAME}--background-active: #{color.shade($base-color, 20%)};
            --#{$CLASSNAME}--background-disabled: #{$base-color};
            --#{$CLASSNAME}--border: #{$base-color};
            --#{$CLASSNAME}--border-hover: #{color.shade($base-color, 20%)};
            --#{$CLASSNAME}--border-active: #{color.shade($base-color, 25%)};
            --#{$CLASSNAME}--border-disabled: #{$base-color};
            --#{$CLASSNAME}--focus: #{color.tint($base-color, 15%)};
        }
        &-#{$key}-outline {
            --#{$CLASSNAME}--text: #{$base-color};
            --#{$CLASSNAME}--text-hover: #{$text-color};
            --#{$CLASSNAME}--text-active: #{$text-color};
            --#{$CLASSNAME}--text-disabled: #{$base-color};
            --#{$CLASSNAME}--background: transparent;
            --#{$CLASSNAME}--background-hover: #{$base-color};
            --#{$CLASSNAME}--background-active: #{$base-color};
            --#{$CLASSNAME}--background-disabled: transparent;
            --#{$CLASSNAME}--border: #{$base-color};
            --#{$CLASSNAME}--border-hover: #{$base-color};
            --#{$CLASSNAME}--border-active: #{$base-color};
            --#{$CLASSNAME}--border-disabled: #{$base-color};
            --#{$CLASSNAME}--focus: #{$base-color};
        }
    }
}

// * Structure
// * =========================

.#{$CLASSNAME} {
    
    cursor: pointer;

    font-size: $spacer * 1;
    font-weight: 400;
    line-height: 1;
    border-width: 1px;
    border-style: solid;
    border-color: transparent;
    background-color: transparent;
    @include corner.rounded(6px);
    @include transition.set((background-color, border-color, color), .3s);
    @include spaces.padding( $spacer * .6, $spacer * 1.4, $spacer * .6, $spacer * 1.4 );
    @include spaces.margin( .25rem, .125rem, .25rem, .125rem );
    

    @include var.set('color', '#{$CLASSNAME}--text');
    @include var.set('background-color', '#{$CLASSNAME}--background');
    @include var.set('border-color', '#{$CLASSNAME}--border');

    &:hover {
        @include var.set('color', '#{$CLASSNAME}--text-hover');
        @include var.set('background-color', '#{$CLASSNAME}--background-hover');
        @include var.set('border-color', '#{$CLASSNAME}--border-hover');
    }

    &.active, &:active {
        @include var.set('color', '#{$CLASSNAME}--text-active');
        @include var.set('background-color', '#{$CLASSNAME}--background-active');
        @include var.set('border-color', '#{$CLASSNAME}--border-active');
    }
    &.focus, &:focus, &:focus-visible {
        @include var.set('outline-color', '#{$CLASSNAME}--focus');
        outline-style: solid;
        outline-width: 4px;
    }

    &[disabled] {
        cursor: default;
        opacity: .65;
        @include var.set('color', '#{$CLASSNAME}--text-disabled');
        @include var.set('background-color', '#{$CLASSNAME}--background-disabled');
        @include var.set('border-color', '#{$CLASSNAME}--border-disabled');
    }

    & .no-border {
        border: none !important;
    }
}

// * Sizes
// * =========================

.#{$CLASSNAME} {
    &-small {
        font-size: $spacer * .8;
        @include spaces.padding( $spacer * .4, $spacer * 1, $spacer * .4, $spacer * 1 );
    }

    &-large {
        font-size: $spacer * 1.6;
        @include spaces.padding( $spacer * 1, $spacer * 2, $spacer * 1, $spacer * 2 );
    }
    
    &-block {
        display: block;
        min-width: 100%;
    }
}