// * ----------- @osw3/symfony-ux/assets/sass/components/callout.scss -----------
// *
// *    Default variables for Callout component
// *
// *    /!\ this file is used to pre-build and provide : 
// *    -> 'builder/root.scss'
// *    -> 'builder/callout.scss'
// *
// * ---------------------------------------------------------------------------

@use './../storages/prefix';
@use './../storages/callout';
$prefix: prefix.$prefix;


// * Default theme properties
// * ---------------------------------------------

$theme-properties: (
    'callout-color'        : var(--#{$prefix}black),
    'callout--bg-color'    : var(--#{$prefix}gray-400),
    'callout--border-color': var(--#{$prefix}gray-600),
);


// * Default structure properties
// * ---------------------------------------------

$layout-properties: (
    callout-padding-x        : callout.$padding-x,
    callout-small-padding-x  : callout.$padding-x-small,
    callout-large-padding-x  : callout.$padding-x-large,

    callout-padding-y        : callout.$padding-y,
    callout-small-padding-y  : callout.$padding-y-small,
    callout-large-padding-y  : callout.$padding-y-large,

    callout-font-size        : callout.$font-size,
    callout-small-font-size  : callout.$font-size-small,
    callout-large-font-size  : callout.$font-size-large,

    callout-font-weight      : callout.$font-weight,
    callout-small-font-weight: callout.$font-weight-small,
    callout-large-font-weight: callout.$font-weight-large,
    
    callout-line-height      : callout.$line-height,
    callout-small-line-height: callout.$line-height-small,
    callout-large-line-height: callout.$line-height-large,

    // callout-border-width      : callout.$border-width,
    // callout-border-radius     : callout.$border-radius,
    // callout-font-family       : callout.$font-family,
    // callout-box-shadow        : callout.$box-shadow,
    // callout-focus-box-shadow  : callout.$focus-box-shadow,
    // callout-disabled-opacity  : callout.$disabled-opacity,
);
