// ************************************************************************** //
// *
// *    Components: Carousel
// *
// ************************************************************************** //

@use './../abstracts/mixins/banner';

$_component: 'carousel';
$_classname: '#{$prefix}#{$_component}';

@include banner.header('Component #{$_component}');



// * =============================================
// *
// *    Component functions
// *
// * =============================================



// * =============================================
// *
// *    Component Properties
// *
// * =============================================

// * Default sizes and/or positions variables
// * =========================

$carousel--slides--height: 300px !default;


// * Default theme variables
// * =========================


// * =============================================
// *
// *    Component Definition
// *
// * =============================================

.#{$_classname} {

    /**/
    
}