// ************************************************************************** //
// *
// *    Components: Carousel
// *
// ************************************************************************** //

@use './../variables/prefix';
@use './../abstracts/mixins/banner';



// * ======================================================================== //
// * Component constants
// * ======================================================================== //

$_COMPONENT: 'carousel';
$_CLASSNAME: '#{prefix.$prefix}#{$_COMPONENT}';

@include banner.header('Component #{$_COMPONENT}');



// * ======================================================================== //
// * Component variables
// * ======================================================================== //

// * Layout variables
// * ------------------------------------------------------------------------ //

$carousel--slides--height: 300px !default;


// * Theme variables
// * ------------------------------------------------------------------------ //

// No theme variable definition



// * ======================================================================== //
// * Component definition
// * ======================================================================== //

// * Palette
// * ------------------------------------------------------------------------ //

// No palette definition


// * Structure
// * ------------------------------------------------------------------------ //

// No structure definition


// * Responsive
// * ------------------------------------------------------------------------ //

// No responsive definition
