// ************************************************************************** //
// *
// *    Components: Carousel
// *
// ************************************************************************** //

@use './../abstracts/mixins/banner';

$COMPONENT: 'carousel';
$CLASSNAME: '#{$prefix}#{$COMPONENT}';

@include banner.header('Component #{$COMPONENT}');



// * =============================================
// *
// *    Component functions
// *
// * =============================================



// * =============================================
// *
// *    Component Properties
// *
// * =============================================

// * Default layout variables
// * =========================

$carousel--slides--height: 300px !default;


// * Default theme variables
// * =========================


// * =============================================
// *
// *    Component Definition
// *
// * =============================================

.#{$CLASSNAME} {

    /**/
    
}