// ************************************************************************** //
// *
// *    Components: Chip
// *
// ************************************************************************** //

@use './../abstracts/mixins/banner';
@use './../abstracts/mixins/corner';
@use './../abstracts/mixins/spaces';
@use './../abstracts/functions/color';

$_component: 'chip';
$_classname: '#{$prefix}#{$_component}';

@include banner.header('Component #{$_component}');



// * =============================================
// *
// *    Component functions
// *
// * =============================================



// * =============================================
// *
// *    Component Properties
// *
// * =============================================

// * Default layout variables
// * =========================


// * Default theme variables
// * =========================


// * =============================================
// *
// *    Component Definition
// *
// * =============================================


// * Palette
// * =========================

.#{$_classname} {
    @each $key, $value in $palette {
        &-#{$key} {
            // --#{$_classname}--color           : var(--#{$key});
            // --#{$_classname}--background-color: var(--#{$key}--tint-70);
            // --#{$_classname}--border-color    : var(--#{$key});
        }
    }
}


// * Structure
// * =========================

.#{$_classname} {

    /// Chips container
    /// --
    
    border-width: 1px;
    border-style: solid;
    @include corner.rounded(6px);
    @include spaces.padding( $spacer * .6, $spacer * 1.4, $spacer * .6, $spacer * 1.4 );


    /// Chips palettes
    /// --

    // @each $key, $value in $palette {
    //     &-#{$key} {
    //         color: $value;
    //         // background-color: color.tint($value, 70%);
    //         border-color: $value;
    //     }
    // }
}