// ******************************* DevBrain UI ****************************** //
// *
// *    Components: Chip
// *
// ************************************************************************** //

@use './../abstracts/mixins/corner';
@use './../abstracts/mixins/spaces';
@use './../abstracts/functions/color';


/// Chip variables
/// =============================================
///


/// Chip component
/// =============================================
///

.chip {
    @include corner.rounded(6px);
    @include spaces.padding( $spacer * .6, $spacer * 1.4, $spacer * .6, $spacer * 1.4 );
    border-width: 1px;
    border-style: solid;
}

@each $key, $value in $pallet {
    .chip-#{$key} {
        color: $value;
        background-color: color.tint($value, 70%);
        border-color: $value;
    }
}