// ************************************************************************** //
// *
// *    Components: Cookie Consent
// *
// ************************************************************************** //

@use './../variables/colors';
@use './../variables/prefix';
@use './../variables/transitions';
@use './../abstracts/mixins/var';
@use './../abstracts/mixins/banner';
@use './../abstracts/mixins/transition';

$_PREFIX: prefix.$prefix;
$_COMPONENT: 'cookie-box';
$_CLASSNAME: '#{$_PREFIX}#{$_COMPONENT}';

@include banner.header('Component #{$_COMPONENT}');



// * =============================================
// *
// *    Component functions
// *
// * =============================================



// *
// * Component properties
// * ------------------------
// *

// * Layout Variables
// * --

$cookie-box--backdrop: true !default;
$default--cookie-consent--background-color: colors.$white;


// * Theme Variables
// * --


// *
// * Component definition
// * ------------------------
// *

.#{$_CLASSNAME} {

    /// CookieBox container inner
    /// --

    &-inner {
        background-color: var(--cookie-consent--background-color, $default--cookie-consent--background-color);
        position: relative;
        z-index: 2;
    }


    /// CookieBox header
    /// --

    &-header {
        // border: 3px solid green;
        padding: $spacer;
    }


    /// CookieBox content
    /// --

    &-content {
        // border: 3px solid pink;
        padding: $spacer;
    }


    /// CookieBox options
    /// --

    &-options {
        // border: 3px solid orange;
        padding: $spacer;
    }


    /// CookieBox action buttons
    /// --

    &-actions {
        // border: 3px solid blue;
        padding: $spacer;
    }


    /// CookieBox backdrop
    /// --

    @if $cookie-box--backdrop {
        &::after {
            @include transition.set((opacity), map-get(transitions.$delays, normal));
            content: "";
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
        
            opacity: 0;
        
            background-color: rgb(0 0 0 / 70%);
            backdrop-filter: blur(5px);
        
            z-index: 1;
        }
        &.show::after {
            position: fixed;
            opacity: 1;
        }
    }
}

// Cookie Box Banner
// --
.#{$_CLASSNAME} {
    &-banner {
        @include transition.set((top, bottom), map-get(transitions.$delays, normal));
        position: fixed;
        z-index: 9000;
        right: 0;
        left: 0;

        // padding: $spacer * 2;
    }

    &-top {
        top: -100vh;
        bottom: auto;
        &.show {
            top: 0;
        }
    }

    &-bottom {
        top: auto;
        bottom: -100vh;
        &.show {
            bottom: 0;
        }
    }
}