// ************************************************************************** //
// *
// *    Components: Copyright
// *
// ************************************************************************** //

@use "sass:map";
@use './../variables/colors';
@use './../variables/prefix';
@use './../variables/spacers';
@use './../variables/transitions';
@use './../abstracts/mixins/var';
@use './../abstracts/mixins/banner';
@use './../abstracts/mixins/transition';



// * ======================================================================== //
// * Component constants
// * ======================================================================== //


$_COMPONENT: 'copyright';
$_CLASSNAME: '#{prefix.$prefix}#{$_COMPONENT}';

@include banner.header('Component #{$_COMPONENT}');



// * ======================================================================== //
// * Component functions & mixins
// * ======================================================================== //

// No function or mixins definition



// * ======================================================================== //
// * Component variables
// * ======================================================================== //

// * Layout variables
// * ------------------------------------------------------------------------ //

$copyright--font-size   : spacers.$spacer * .8 !default;
$copyright--transition  : 'normal' !default;


// * Theme variables
// * ------------------------------------------------------------------------ //

$copyright--color       : colors.$gray-600 !default;
$copyright--color--hover: colors.$gray-600 !default;



// * ======================================================================== //
// * Component definition
// * ======================================================================== //

// * Palette
// * ------------------------------------------------------------------------ //

.#{$_CLASSNAME} {
    @include var.define($_COMPONENT, prefix.$TEXT_COLOR, $copyright--color);
    @include var.define($_COMPONENT, prefix.$TEXT_COLOR_HOVER, $copyright--color--hover);
}


// * Structure
// * ------------------------------------------------------------------------ //

.#{$_CLASSNAME} {
    
    display: inline-block;
    font-size: $copyright--font-size;
    color: var(--#{prefix.$prefix}#{$_COMPONENT}--#{prefix.$TEXT_COLOR});

    @include transition.set((color), map.get(
        transitions.$delays, 
        $copyright--transition
    ));

    &:hover {
        color: var(--#{prefix.$prefix}#{$_COMPONENT}--#{prefix.$TEXT_COLOR_HOVER});
    }
}


// * Responsive
// * ------------------------------------------------------------------------ //

// No responsive definition
