// * ===========================================================================
// *  VARIABLES: Copyright Component
// * ===========================================================================
// *
// *  This file contains the default variable values for the copyright component.
// *
// * ===========================================================================

@charset 'utf-8';

@use './../storages/prefix';
@use './../storages/copyright';
$prefix: prefix.$prefix;



// * ------------------------------------------------------------------------ //
// * - Default theme properties                                             - //
// * ------------------------------------------------------------------------ //

$theme-properties: (
    'copyright-color'         : inherit,
    'copyright-color-hover'   : initial,
    'copyright-bg-color'      : initial,
    'copyright-bg-color-hover': initial,
);



// * ------------------------------------------------------------------------ //
// * - Default structure properties                                         - //
// * ------------------------------------------------------------------------ //

$layout-properties: (
);
