// * ---------- @osw3/symfony-ux/assets/sass/components/copyright.scss ---------
// *
// *    Default variables for Copyright component
// *
// *    /!\ this file is used to pre-build and provide : 
// *    -> 'builder/root.scss'
// *    -> 'builder/copyright.scss'
// *
// * ---------------------------------------------------------------------------

@use 'sass:map';
@use './../storages/prefix';
@use './../storages/copyright';
$prefix: prefix.$prefix;


// * Default theme properties
// * ---------------------------------------------

$theme-properties: (
    'copyright-color'           : inherit,
    'copyright--color--hover'   : initial,
    'copyright--bg-color'       : initial,
    'copyright--bg-color--hover': initial,
);


// * Default structure properties
// * ---------------------------------------------

$layout-properties: ();
