// ************************************************************************** //
// *
// *    Components: Cover
// *
// ************************************************************************** //

@use './../variables/prefix';
@use './../abstracts/mixins/banner';

$_PREFIX: prefix.$prefix;

$_COMPONENT: 'cover';
$_CLASSNAME: '#{$_PREFIX}#{$_COMPONENT}';

@include banner.header('Component #{$_COMPONENT}');



// * =============================================
// *
// *    Component functions
// *
// * =============================================



// *
// * Component properties
// * ------------------------
// *

// * Layout Variables
// * --


// * Theme Variables
// * --


// *
// * Component definition
// * ------------------------
// *

.#{$_CLASSNAME} {

    /// Component definition
    /// --

    
    /// Component Sizes
    /// --
    

    /// Component palettes
    /// --
    

    /// Component States
    /// --
    
}