// ************************************************************************** //
// *
// *    Components: Dialog
// *
// ************************************************************************** //

@use "sass:map";
@use './../variables/colors';
@use './../variables/prefix';
@use './../abstracts/mixins/banner';
@use './../abstracts/mixins/position';
@use './../abstracts/mixins/transition';



// * ======================================================================== //
// * Component constants
// * ======================================================================== //

$_COMPONENT: 'dialog';
$_CLASSNAME: '#{prefix.$prefix}#{$_COMPONENT}';

@include banner.header('Component #{$_COMPONENT}');



// * ======================================================================== //
// * Component functions & mixins
// * ======================================================================== //

// No function or mixins definition



// * ======================================================================== //
// * Component variables
// * ======================================================================== //

// * Layout variables
// * ------------------------------------------------------------------------ //

$overlay-blur : 10px;
$overlay-opacity: 0.5;
$overlay-color: colors.$black;


// * Theme variables
// * ------------------------------------------------------------------------ //

// No theme variable definition



// * ======================================================================== //
// * Component definition
// * ======================================================================== //

// * Palette
// * ------------------------------------------------------------------------ //

// No palette definition


// * Structure
// * ------------------------------------------------------------------------ //

// No structure definition

.#{$_CLASSNAME} {

    // display: block;
    // opacity: 0;

    // background-color:  #{rgba($overlay-color, $overlay-opacity)};
    // backdrop-filter: blur($overlay-blur);

    // @include position.fixed(0,0,0,0);
    // @include transition.set((opacity), map.get(transitions.$delays, normal));

    // &.open {
    //     opacity: 1;
    // }
    
}

dialog {
    background-color: red;
}

dialog::backdrop {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    background-image: linear-gradient(
      45deg,
      magenta,
      rebeccapurple,
      dodgerblue,
      green
    );
    opacity: 0.75;
}


// * Responsive
// * ------------------------------------------------------------------------ //

// No responsive definition
