// ************************************************************************** //
// *
// *    Components: Dialog
// *
// ************************************************************************** //

@use './../abstracts/mixins/banner';
@use './../abstracts/mixins/position';
@use './../abstracts/mixins/transition';

$_component: 'dialog';
$_classname: '#{$prefix}#{$_component}';

@include banner.header('Component #{$_component}');



// * =============================================
// *
// *    Component functions
// *
// * =============================================



// * =============================================
// *
// *    Component Properties
// *
// * =============================================

// * Default layout variables
// * =========================

$overlay-blur : 10px;
$overlay-opacity: 0.5;
$overlay-color: $black;


// * Default theme variables
// * =========================


// * =============================================
// *
// *    Component Definition
// *
// * =============================================

.#{$_classname} {

    display: none;
    opacity: 0;

    background-color:  #{rgba($overlay-color, $overlay-opacity)};
    backdrop-filter: blur($overlay-blur);

    @include position.fixed(0,0,0,0);
    @include transition.set((opacity), map-get($delays, normal));

    &.open {
        opacity: 1;
    }
    
}