// * ---------- @osw3/symfony-ux/assets/sass/components/form.scss ---------
// *
// *    Default variables for Form component
// *
// *    /!\ this file is used to pre-build and provide : 
// *    -> 'builder/root.scss'
// *    -> 'builder/form.scss'
// *
// * ---------------------------------------------------------------------------

@use 'sass:map';
@use './../storages/prefix';
@use './../storages/form-widget';
$prefix: prefix.$prefix;


// * Default theme properties
// * ---------------------------------------------

$theme-properties: (
    'form-widget--required--color'       : var(--#{$prefix}red),


    // Widget layout

    'form-widget--color'                 : inherit, // inherit
    'form-widget--color--hover'          : inherit,
    'form-widget--color--active'         : inherit,
    // 'form-widget--color--disabled'       : initial,
    // 'form-widget--color--readonly'       : initial,
    // 'form-widget--color--error'          : initial,
    // 'form-widget--color--success'        : initial,

    'form-widget--bg-color'              : initial, //var(--#{$prefix}gray-100),
    'form-widget--bg-color--hover'       : initial,
    'form-widget--bg-color--active'      : initial,
    // 'form-widget--bg-color--disabled'    : initial,
    // 'form-widget--bg-color--readonly'    : initial,
    // 'form-widget--bg-color--error'       : initial,
    // 'form-widget--bg-color--success'     : initial,

    'form-widget--border-color'          : initial, //initial,
    'form-widget--border-color--hover'   : initial,
    'form-widget--border-color--active'  : initial,
    // 'form-widget--border-color--disabled': initial,
    // 'form-widget--border-color--readonly': initial,
    // 'form-widget--border-color--error'   : initial,
    // 'form-widget--border-color--success' : initial,


    // Widget Label

    'form-widget-label--color'                 : inherit, // override form-widget--color
    // // 'form-widget-label--color--hover'          : initial,
    // // 'form-widget-label--color--active'         : initial,
    // // 'form-widget-label--color--disabled'       : initial,
    // // 'form-widget-label--color--readonly'       : initial,
    // // 'form-widget-label--color--error'          : initial,
    // // 'form-widget-label--color--success'        : initial,

    'form-widget-label--bg-color'              : initial, //initial,
    // // 'form-widget-label--bg-color--hover'       : initial,
    // // 'form-widget-label--bg-color--active'      : initial,
    // // 'form-widget-label--bg-color--disabled'    : initial,
    // // 'form-widget-label--bg-color--readonly'    : initial,
    // // 'form-widget-label--bg-color--error'       : initial,
    // // 'form-widget-label--bg-color--success'     : initial,

    'form-widget-label--border-color'          : initial, //initial,
    'form-widget-label--border-color--hover'   : initial,
    'form-widget-label--border-color--active'  : initial,
    // 'form-widget-label--border-color--disabled': initial,
    // 'form-widget-label--border-color--readonly': initial,
    // 'form-widget-label--border-color--error'   : initial,
    // 'form-widget-label--border-color--success' : initial,


    // Widget Control

    'form-widget-control--color'                 : inherit,
    'form-widget-control--color--hover'          : initial,
    'form-widget-control--color--active'         : initial,
    'form-widget-control--color--disabled'       : var(--#{$prefix}gray-500),
    // 'form-widget-control--color--readonly'       : initial,
    // 'form-widget-control--color--error'          : initial,
    // 'form-widget-control--color--success'        : initial,

    'form-widget-control--bg-color'              : var(--#{$prefix}white), 
    'form-widget-control--bg-color--hover'       : var(--#{$prefix}white), 
    'form-widget-control--bg-color--active'      : var(--#{$prefix}white),
    'form-widget-control--bg-color--disabled'    : var(--#{$prefix}gray-200),
    // 'form-widget-control--bg-color--readonly'    : var(--#{$prefix}form-widget-control--bg-color--disabled),
    // 'form-widget-control--bg-color--error'       : initial,
    // 'form-widget-control--bg-color--success'     : initial,

    'form-widget-control--border-color'          : var(--#{$prefix}gray-300),
    'form-widget-control--border-color--hover'   : var(--#{$prefix}gray-300),
    'form-widget-control--border-color--active'  : var(--#{$prefix}gray-300),
    'form-widget-control--border-color--disabled': var(--#{$prefix}gray-300),
    // 'form-widget-control--border-color--readonly': initial,
    // 'form-widget-control--border-color--error'   : initial,
    // 'form-widget-control--border-color--success' : initial,


    // Widget Description

    'form-widget-description--color'             : var(--#{$prefix}gray-600), // override form-widget--color
    'form-widget-description--bg-color'          : inherit,


    // Widget group

    'form-widget-group--color'                 : inherit,
    'form-widget-group--bg-color'              : var(--#{$prefix}gray-100),


);


// * Default structure properties
// * ---------------------------------------------

$layout-properties: ();
