// * ----------- @osw3/symfony-ux/assets/sass/components/header.scss -----------
// *
// *    Builder for Header component
// *
// *    /!\ this file is used to pre-build and provide : 
// *    -> 'builder/root.scss'
// *    -> 'builder/header.scss'
// *
// * ---------------------------------------------------------------------------

@use './../storages/header';
@use './../storages/prefix';
$prefix: prefix.$prefix;


// * Default theme properties
// * ---------------------------------------------

$theme-properties: (
    'header--backdrop--bg-color'  : var(--#{$prefix}black),
    
    'header--color'                  : var(--#{$prefix}red),
    'header-offcanvas--color'        : var(--#{$prefix}header--color),
    'header-offcanvas--header--color': var(--#{$prefix}header--color),
    'header-offcanvas--body--color'  : var(--#{$prefix}header--color),
    'header-offcanvas--footer--color': var(--#{$prefix}header--color),
    
    'header--bg-color'                  : var(--#{$prefix}gray-200),
    'header-offcanvas--bg-color'        : var(--#{$prefix}header--bg-color),
    'header-offcanvas--header--bg-color': var(--#{$prefix}header--bg-color),
    'header-offcanvas--body--bg-color'  : var(--#{$prefix}header--bg-color),
    'header-offcanvas--footer--bg-color': var(--#{$prefix}header--bg-color),


    // header--color              : inherit,
    // header--color--hover       : inherit,

    
    // header--bg-color--hover    : inherit,
    'header--border-color'       : var(--#{$prefix}gray-300),
    // header--border-color--hover: inherit,

);


// * Default structure properties
// * ---------------------------------------------

$layout-properties: ();
