// ************************************************************************** //
// *
// *    Link components.
// *
// ************************************************************************** //

@use './../variables/colors';
@use './../variables/prefix';
@use './../abstracts/functions/icon';
@use './../abstracts/mixins/var';
@use './../abstracts/mixins/banner';



// * ======================================================================== //
// * Component constants
// * ======================================================================== //

$_COMPONENT: 'link';
$_CLASSNAME: '#{prefix.$prefix}#{$_COMPONENT}';

@include banner.header('Component #{$_COMPONENT}');



// * ======================================================================== //
// * Component functions & mixins
// * ======================================================================== //

// No function or mixins definition



// * ======================================================================== //
// * Component variables
// * ======================================================================== //

// * Layout variables
// * ------------------------------------------------------------------------ //

$link--text-decoration: underline !default;
$link--text-decoration--hover: none !default;
$link--text-decoration--active: none !default;


// * Theme variables
// * ------------------------------------------------------------------------ //

$link--text-color: colors.$blue !default;
$link--text-color--hover: colors.$blue !default;
$link--text-color--active: colors.$blue !default;
$link--text-color--disabled: colors.$gray-600 !default;



// * ======================================================================== //
// * Component definition
// * ======================================================================== //

// * Palette
// * ------------------------------------------------------------------------ //

.#{$_CLASSNAME} {
    @each $key, $value in $ui-colors {
        &-#{$key} {
            // --#{$_CLASSNAME}--color           : var(--#{$key});
            // --#{$_CLASSNAME}--background-color: var(--#{$key}--tint-70);
            // --#{$_CLASSNAME}--border-color    : var(--#{$key});
        }
    }
}


// * Structure
// * ------------------------------------------------------------------------ //

.#{$_CLASSNAME} {    
    --icon         : #{icon.get('external-link', var(--link--text-color))};
    // --icon-active  : #{icon.get('external-link', var(--link--text-color--active))};
    // --icon-disabled: #{icon.get('external-link', var(--link--text-color--disabled))};

    cursor: pointer;
    text-decoration: $link--text-decoration;
    @include var.set('color', 'link--text-color', $link--text-color);
    
    &:hover {
        @include var.set('color', 'link--text-color--hover', $link--text-color--hover);
        text-decoration: $link--text-decoration--hover;
    }

    &:active, 
    &.active,
    &:active:hover, 
    &.active:hover {
        @include var.set('color', 'link--text-color--active', $link--text-color--active);
        text-decoration: $link--text-decoration--active;
    }

    &[disabled] {
        @include var.set('color', 'link--text-color--disabled', $link--text-color--disabled);
        cursor: default !important;
        text-decoration: none !important;
    }

    &[target]:not([target=_self],[target=_parent]) {
        position: relative;
        padding-right: 8px;

        &::after {
            content: "";
            display: block;
            box-sizing: border-box;
            position: absolute;
            width: 12px;
            height: 12px;
            top: 2px;
            right: -8px;
            background: transparent var(--icon) center no-repeat;
        }
    }
}


// * Responsive
// * ------------------------------------------------------------------------ //

// No responsive definition
