// ************************************************************************** //
// *
// *    Link components.
// *
// ************************************************************************** //

@use './../abstracts/functions/icon';
@use './../abstracts/mixins/var';
@use './../abstracts/mixins/banner';

$COMPONENT: 'link';
$CLASSNAME: '#{$prefix}#{$COMPONENT}';

@include banner.header('Component #{$COMPONENT}');



// * =============================================
// *
// *    Component Properties
// *
// * =============================================

// * Default layout variables
// * =========================

$link--text-decoration: underline !default;
$link--text-decoration--hover: none !default;
$link--text-decoration--active: none !default;


// * Default theme variables
// * =========================

$link--text-color: $blue !default;
$link--text-color--hover: $blue !default;
$link--text-color--active: $blue !default;
$link--text-color--disabled: $gray-600 !default;



// * =============================================
// *
// *    Component Definition
// *
// * =============================================


// * Palette
// * =========================

.#{$CLASSNAME} {
    @each $key, $value in $ui-colors {
        &-#{$key} {
            // --#{$CLASSNAME}--color           : var(--#{$key});
            // --#{$CLASSNAME}--background-color: var(--#{$key}--tint-70);
            // --#{$CLASSNAME}--border-color    : var(--#{$key});
        }
    }
}


// * Structure
// * =========================

.#{$CLASSNAME} {    
    --icon         : #{icon.get('external-link', var(--link--text-color))};
    // --icon-active  : #{icon.get('external-link', var(--link--text-color--active))};
    // --icon-disabled: #{icon.get('external-link', var(--link--text-color--disabled))};

    cursor: pointer;
    text-decoration: $link--text-decoration;
    @include var.set('color', 'link--text-color', $link--text-color);
    
    &:hover {
        @include var.set('color', 'link--text-color--hover', $link--text-color--hover);
        text-decoration: $link--text-decoration--hover;
    }

    &:active, 
    &.active,
    &:active:hover, 
    &.active:hover {
        @include var.set('color', 'link--text-color--active', $link--text-color--active);
        text-decoration: $link--text-decoration--active;
    }

    &[disabled] {
        @include var.set('color', 'link--text-color--disabled', $link--text-color--disabled);
        cursor: default !important;
        text-decoration: none !important;
    }

    &[target]:not([target=_self],[target=_parent]) {
        position: relative;
        padding-right: 8px;

        &::after {
            content: "";
            display: block;
            box-sizing: border-box;
            position: absolute;
            width: 12px;
            height: 12px;
            top: 2px;
            right: -8px;
            background: transparent var(--icon) center no-repeat;
        }
    }
}