// ******************************* DevBrain UI ****************************** //
// *
// *    Components: Map
// *
// ************************************************************************** //

@use './../abstracts/mixins/banner';

@include banner.header('Component Map');


/// Badge variables
/// =============================================

// Default Values
// --------------------------
// -- No data


// Default Theme
// --------------------------
// -- No data



/// Badge component
/// =============================================

.map {
    $offset: 0;
    $offset_px: 1px * $offset;

    position: relative;
    min-width: 100%;
    min-height: 100%;
    overflow: hidden;

    height: 420px;

    & iframe {
        border: none !important;
        position: absolute;
        height: calc(100% + ($offset_px * 2));
        width: calc(100% + ($offset_px * 2));

        top: $offset_px * -1;
        right: $offset_px * -1;
        bottom: $offset_px * -1;
        left: $offset_px * -1;
    }
}