// ************************************************************************** //
// *
// *    Components: Map
// *
// ************************************************************************** //

@use './../variables/prefix';
@use './../abstracts/mixins/banner';

$_PREFIX: prefix.$prefix;

$_COMPONENT: 'map';
$_CLASSNAME: '#{$_PREFIX}#{$_COMPONENT}';

@include banner.header('Component #{$_COMPONENT}');



// * =============================================
// *
// *    Component functions
// *
// * =============================================



// * =============================================
// *
// *    Component Properties
// *
// * =============================================

// * Default layout variables
// * =========================


// * Default theme variables
// * =========================


// * =============================================
// *
// *    Component Definition
// *
// * =============================================

.#{$_CLASSNAME} {

    /// Component definition
    /// --

    
    /// Component Sizes
    /// --
    

    /// Component palettes
    /// --
    

    /// Component States
    /// --

    $offset: 0;
    $offset_px: 1px * $offset;

    position: relative;
    min-width: 100%;
    min-height: 100%;
    overflow: hidden;

    height: 420px;

    & iframe {
        border: none !important;
        position: absolute;
        height: calc(100% + ($offset_px * 2));
        width: calc(100% + ($offset_px * 2));

        top: $offset_px * -1;
        right: $offset_px * -1;
        bottom: $offset_px * -1;
        left: $offset_px * -1;
    }
}