// ************************************************************************** //
// *
// *    Components: Media
// *
// ************************************************************************** //

@use './../variables/prefix';
@use './../abstracts/mixins/banner';



// * ======================================================================== //
// * Component constants
// * ======================================================================== //

$_COMPONENT: 'media';
$_CLASSNAME: '#{prefix.$prefix}#{$_COMPONENT}';

@include banner.header('Component #{$_COMPONENT}');



// * ======================================================================== //
// * Component functions & mixins
// * ======================================================================== //

// No function or mixins definition



// * ======================================================================== //
// * Component variables
// * ======================================================================== //

// * Layout variables
// * ------------------------------------------------------------------------ //

$media--caption--font-size: $spacer * .9 !default;


// * Theme variables
// * ------------------------------------------------------------------------ //

// No theme variable definition



// * ======================================================================== //
// * Component definition
// * ======================================================================== //

// * Palette
// * ------------------------------------------------------------------------ //

// No palette definition


// * Structure
// * ------------------------------------------------------------------------ //

.#{$_CLASSNAME} {

    /// Component definition
    /// --

    display: flex;
    flex-direction: column;
    margin: 0;

    
    /// Component Sizes
    /// --
    

    /// Component palettes
    /// --
    

    /// Component States
    /// --

    &-inline {
        display: inline-flex;
    }
    &-audio {
        flex-direction: row;
        // justify-content: center;
        align-items: center;

        & audio {
            margin-right: $spacer;
        }
    }

    & img {
        object-fit: contain;
        max-height: 100%;
        max-width: 100%;
    }

    & video {
        object-fit: contain;
        max-height: 100%;
        max-width: 100%;
        
        // object-fit: cover;
        &[poster] {
            object-fit: cover;
        }
    }

    &-image,
    &-audio,
    &-video {
        & figcaption {
            font-size: $media--caption--font-size;
            font-style: italic;
        }
    }
}


// * Responsive
// * ------------------------------------------------------------------------ //

// No responsive definition
