// * ------------ @osw3/symfony-ux/assets/sass/components/menu.scss -----------
// *
// *    Builder for Menu component
// *
// *    /!\ this file is used to pre-build and provide : 
// *    -> 'builder/root.scss'
// *    -> 'builder/menu.scss'
// *
// * ---------------------------------------------------------------------------

@use './../storages/prefix';
@use './../storages/menu';
$prefix: prefix.$prefix;


// * Default theme properties
// * ---------------------------------------------

$theme-properties: (
    // menu-color             : var(--#{$prefix}red),
    // menu--color--hover       : inherit, //var(--#{$prefix}inherit),
    menu--bg-color          : green, //var(--#{$prefix}gray-800),
    // menu--bg-color--hover    : var(--#{$prefix}cyan),
    // menu--border-color      : var(--#{$prefix}red),
    // menu--border-color--hover: var(--#{$prefix}red),

    // menu-item-color          : var(--#{$prefix}gray-500),
    // menu-item--color--hover    : var(--#{$prefix}white),
    // menu-item--color--active   : var(--#{$prefix}white),
    // menu-item--bg-color       : inherit,
    // menu-item--bg-color--hover : var(--#{$prefix}gray-900),
    // menu-item--bg-color--active: var(--#{$prefix}gray-600),


    // menu-sub--bg-color       : var(--#{$prefix}gray-600),
    // menu-sub--bg-color--hover : var(--#{$prefix}gray-700),

    // menu-sub-item-color          : var(--#{$prefix}gray-500),
    // menu-sub-item--color--hover    : var(--#{$prefix}white),
    // menu-sub-item--color--active   : var(--#{$prefix}white),
    // menu-sub-item--bg-color       : inherit,
    // menu-sub-item--bg-color--hover : var(--#{$prefix}gray-900),
    // menu-sub-item--bg-color--active: var(--#{$prefix}gray-600),
);


// * Default structure properties
// * ---------------------------------------------

$layout-properties: ();
