// ************************************************************************** //
// *
// *    Components: Modal
// *
// ************************************************************************** //

@use './../variables/colors';
@use './../variables/prefix';
@use './../variables/zindex';
@use './../variables/spacers';
@use './../abstracts/mixins/var';
@use './../abstracts/mixins/flex';
@use './../abstracts/mixins/sizes';
@use './../abstracts/mixins/banner';
@use './../abstracts/mixins/spaces';
@use './../abstracts/mixins/position';
@use './../abstracts/mixins/transition';

$_PREFIX: prefix.$prefix;

$_COMPONENT: 'modal';
$_CLASSNAME: '#{$_PREFIX}#{$_COMPONENT}';

$spacers: spacers.$spacers;

@include banner.header('Component #{$_COMPONENT}');



// * =============================================
// *
// *    Component functions
// *
// * =============================================



// * =============================================
// *
// *    Component Properties
// *
// * =============================================

// * Default layout variables
// * =========================

$overlay-blur : 10px;
$overlay-opacity: 0.5;
$overlay-color: colors.$black;

$modal--pos-x: ('left', 'center', 'right') !default;
$modal--pos-y: ('top', 'middle', 'bottom') !default;

$modal--appear-from: top !default;


$modal--content--border-radius: 8px !default;
$modal--content--border-width: 1px !default;
$modal--content--height: 100% !default;
$modal--content--width: 500px !default;
$modal--content-large--width: 800px !default;
$modal--inner--border-width: 1px !default;


// * Default theme variables
// * =========================

$modal--content--border-color: colors.$gray-500 !default;
$modal--content--background-color: colors.$white !default;
$modal--header--background-color: colors.$gray-400 !default;
$modal--body--background-color: colors.$white !default;
$modal--footer--background-color: colors.$gray-200 !default;
$modal--inner--border-color: colors.$gray-200 !default;


// * =============================================
// *
// *    Component Definition
// *
// * =============================================

.#{$_CLASSNAME} {

    opacity: 0;
    display: none;
    overflow: auto;
    flex-direction: column;
    z-index: zindex.$z-index--modal;

    @include position.fixed(0,0,0,0);
    @include transition.set((opacity), map-get($delays, normal));

    // $padding: #{$spacer-6}rem;
    $padding: #{map-get($spacers, 6)}rem;
    @include spaces.padding($padding,$padding,$padding,$padding);

    &:not(&-no-backdrop) {
        background-color: #{rgba($overlay-color, $overlay-opacity)};
        backdrop-filter: blur($overlay-blur);
    }


    &-wrapper {
        width: $modal--content--width;
        max-width: $modal--content--width;
        max-height: 100vh !important;
        // $padding: #{$spacer-6}rem;
        // @include spaces.padding($padding,$padding,$padding,$padding);
    }



    @if length($modal--pos-x) != 0 and length($modal--pos-y) != 0 {
        @for $i from 1 through length($modal--pos-y) {
            $pos-y: nth($modal--pos-y, $i);
            &-#{$pos-y} {

                @for $i from 1 through length($modal--pos-x) {
                    $pos-x: nth($modal--pos-x, $i);
                    &-#{$pos-x} {
            
                        @if $pos-y == 'middle' {
                            justify-content: center;
                        }
                        @else if $pos-y == 'bottom' {
                            justify-content: end;
                        }
                        @else {
                            justify-content: start;
                        }

                        @if $pos-x == 'center' {
                            align-items: center;
                        }
                        @else if $pos-x == 'right' {
                            align-items: end;
                        }
                        @else {
                            align-items: start;
                        }
                    }
                }

            }
        }
    }
    @else {
        & {
            justify-content: center;
            align-items: center;
        }
    }

    &-content {
        position: relative;
        background-color: $modal--content--background-color;
        border-style: solid;
        border-width: $modal--content--border-width;
        border-color: $modal--content--border-color;
        border-radius: $modal--content--border-radius;
        @include flex.column;
        height: $modal--content--height;
        min-height: 280px !important;
        max-height: 100vh !important;

        @include transition.set((top), map-get($delays, normal));

        @if $modal--appear-from == bottom {
            top: $modal--content--width;
        }
        @else {
            top: $modal--content--width * -1;
        }

        > :first-child {
            border-top-left-radius: $modal--content--border-radius;
            border-top-right-radius: $modal--content--border-radius;
        }
        > :last-child {
            border-bottom-left-radius: $modal--content--border-radius;
            border-bottom-right-radius: $modal--content--border-radius;
        }
    }


    &-header, &-body, &-footer {
        z-index: 1;
        padding: map-get($_SPACERS, 2) map-get($_SPACERS, 3);
    }
    &-header {
        display: flex;
        flex-shrink: 0;
        align-items: center;
        justify-content: space-between;
        @if $modal--inner--border-width > 0 {
            border-bottom-style: solid;
            border-bottom-width: $modal--inner--border-width;
            border-bottom-color: $modal--inner--border-color;
        }
        // background-color: $modal--header--background-color;
        @if $modal--header--background-color != false {
            @include var.set('background-color', 'modal--header--background-color', $modal--header--background-color);
        }

    }
    &-body {
        flex-grow: 1;
        overflow-y: scroll;
        -webkit-overflow-scrolling: touch;
        // background-color: $modal--body--background-color;
        @if $modal--body--background-color != false {
            @include var.set('background-color', 'modal--body--background-color', $modal--body--background-color);
        }
    }
    &-footer {
        display: flex;
        flex-shrink: 0;
        align-items: center;
        justify-content: space-between;

        @if $modal--inner--border-width > 0 {
            border-top-style: solid;
            border-top-width: $modal--inner--border-width;
            border-top-color: $modal--inner--border-color;
        }

        // background-color: $modal--footer--background-color;
        @if $modal--footer--background-color != false {
            @include var.set('background-color', 'modal--footer--background-color', $modal--footer--background-color);
        }
    }

    & .#{$_PREFIX}button-close {
        z-index: 2;
        // @include position.absolute(map-get($_SPACERS, 2), map-get($_SPACERS, 2), null, null);
        @include sizes.set(6px,6px);
    }

    &.open {
        opacity: 1;
        z-index: 2;
        .#{$_CLASSNAME}-content {
            top: 0;
        }
    }
}