// * ------------ @osw3/symfony-ux/assets/sass/components/nav.scss -----------
// *
// *    Builder for Nav component
// *
// *    /!\ this file is used to pre-build and provide : 
// *    -> 'builder/root.scss'
// *    -> 'builder/nav.scss'
// *
// * ---------------------------------------------------------------------------

@use './../storages/prefix';
@use './../storages/nav';
$prefix: prefix.$prefix;


// * Default theme properties
// * ---------------------------------------------

$theme-properties: (
    // nav-color             : var(--#{$prefix}red),
    // nav--color--hover       : inherit, //var(--#{$prefix}inherit),
    nav--bg-color          : var(--#{$prefix}gray-800),
    // nav--bg-color--hover    : var(--#{$prefix}cyan),
    // nav--border-color      : var(--#{$prefix}red),
    // nav--border-color--hover: var(--#{$prefix}red),

    nav-item-color          : var(--#{$prefix}gray-500),
    nav-item--color--hover    : var(--#{$prefix}white),
    nav-item--color--active   : var(--#{$prefix}white),
    nav-item--bg-color       : inherit,
    nav-item--bg-color--hover : var(--#{$prefix}gray-900),
    nav-item--bg-color--active: var(--#{$prefix}gray-600),


    nav-sub--bg-color       : var(--#{$prefix}gray-600),
    nav-sub--bg-color--hover : var(--#{$prefix}gray-700),

    nav-sub-item-color          : var(--#{$prefix}gray-500),
    nav-sub-item--color--hover    : var(--#{$prefix}white),
    nav-sub-item--color--active   : var(--#{$prefix}white),
    nav-sub-item--bg-color       : inherit,
    nav-sub-item--bg-color--hover : var(--#{$prefix}gray-900),
    nav-sub-item--bg-color--active: var(--#{$prefix}gray-600),
);


// * Default structure properties
// * ---------------------------------------------

$layout-properties: (
    nav-item-padding-x: nav.$padding-x,
    nav-item-padding-y: nav.$padding-y,
);
