// ************************************************************************** //
// *
// *    Components: Offcanvas
// *
// ************************************************************************** //

@use "sass:map";
@use 'sass:meta';
@use './../generated';
@use './../variables/colors';
@use './../variables/prefix';
@use './../variables/transitions';
@use './../abstracts/mixins/var';
@use './../abstracts/mixins/flex';
@use './../abstracts/mixins/banner';
@use './../abstracts/mixins/sizes';
@use './../abstracts/mixins/position';
@use './../abstracts/mixins/transition';



// * ======================================================================== //
// * Component constants
// * ======================================================================== //


$_COMPONENT: 'offcanvas';
$_CLASSNAME: '#{prefix.$prefix}#{$_COMPONENT}';

@include banner.header('Component #{$_COMPONENT}');



// * ======================================================================== //
// * Component variables
// * ======================================================================== //

// * Layout variables
// * ------------------------------------------------------------------------ //

$offcanvas--has-backdrop: if(meta.global-variable-exists('offcanvas--has-backdrop', $module: generated), generated.$offcanvas--has-backdrop, true) !default;

$overlay-blur : 10px;
$overlay-opacity: 0.5;
$overlay-color: colors.$black;

// Todo: make it resonsive
$offcanvas--content--width: 280px !default;


// * Theme variables
// * ------------------------------------------------------------------------ //

$offcanvas--container--background-color: colors.$white;

$offcanvas--header--background-color: colors.$gray-400 !default;
$offcanvas--footer--background-color: colors.$gray-200 !default;



// * ======================================================================== //
// * Component definition
// * ======================================================================== //

// * Palette
// * ------------------------------------------------------------------------ //

.#{$_CLASSNAME} {
    --#{$_CLASSNAME}--container--background-color: #{$offcanvas--container--background-color};
}


// * Structure
// * ------------------------------------------------------------------------ //

.#{$_CLASSNAME} {

    opacity: 0;
    display: none;
    // overflow: auto;
    flex-direction: row;
    justify-content: start;

    @include position.fixed(0,0,0,0);
    @include transition.set((opacity), map.get(transitions.$delays, normal));

    &:not(&-no-backdrop) {
        background-color: #{rgba($overlay-color, $overlay-opacity)};
        backdrop-filter: blur($overlay-blur);
    }

    &-content {
        width: $offcanvas--content--width;

        @include flex.column;
        @include position.fixed(0, null, 0, null);
        @include var.set('background-color', 'offcanvas--container--background-color', $offcanvas--container--background-color);
        @include transition.set((opacity, left, right, box-shadow), map.get(transitions.$delays, normal));
    }

    &-left {
        justify-content: start;
        .#{$_CLASSNAME}-content {
            @include position.left( $offcanvas--content--width * -1 );
        }
        &.open {
            .#{$_CLASSNAME}-content {
                @include position.left(0);
            }
        }
    }
    &-right {
        justify-content: end;
        .#{$_CLASSNAME}-content {
            @include position.right( $offcanvas--content--width * -1 );
        }
        &.open {
            .#{$_CLASSNAME}-content {
                @include position.right(0);
            }
        }
    }


    &-inner {
        display: block;
        width: 100%;
        padding: map.get($_SPACERS, 2) map.get($_SPACERS, 3);
    }

    &-header, &-body, &-footer {
        z-index: 1;
        padding: map.get($_SPACERS, 2) map.get($_SPACERS, 3);
    }
    &-header {
        display: flex;
        flex-shrink: 0;
        align-items: center;
        justify-content: space-between;
        // z-index: 1;
        @include var.set('background-color', 'offcanvas--header--background-color', $offcanvas--header--background-color);
    }
    &-body {
        // z-index: 1;
        flex-grow: 1;
        overflow-y: scroll;
        -webkit-overflow-scrolling: touch;
    }
    &-footer {
        // z-index: 1;
        @include var.set('background-color', 'offcanvas--footer--background-color', $offcanvas--footer--background-color);
    }

    & .#{prefix.$prefix}button-close {
        z-index: 2;
        // @include position.absolute(map.get($_SPACERS, 2), map.get($_SPACERS, 2), null, null);
        @include sizes.set(6px,6px);
    }

    &.open {
        opacity: 1;
        z-index: 2;
        .#{$_CLASSNAME}-content {
            box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
        }
    }
}

// .#{$_CLASSNAME} {
//     @include flex.column;
//     @include position.fixed(0, null, 0, null);
//     @include var.set('background-color', 'offcanvas--container--background-color', $offcanvas--container--background-color);
//     @include transition.set((opacity, left, right, box-shadow), map.get(transitions.$delays, normal));

//     opacity: 0;
//     width: $offcanvas--width;
//     max-width: 100%;
//     max-height: 100%;
//     z-index: $z-index--offcanvas;
    
//     &-left {
//         @include position.left( -$offcanvas--width );
//         &.show {
//             @include position.left(0);
//         }
//     }
//     &-right {
//         @include position.right( -$offcanvas--width );
//         &.show {
//             @include position.right(0);
//         }
//     }

//     &-inner {
//         display: block;
//         width: 100%;
//         padding: map.get($_SPACERS, 2) map.get($_SPACERS, 3);
//     }
//     &-header {
//         z-index: 1;
//         @include var.set('background-color', 'offcanvas--header--background-color', $offcanvas--header--background-color);
//     }
//     &-body {
//         z-index: 1;
//         flex-grow: 1;
//         overflow-y: scroll;
//         -webkit-overflow-scrolling: touch;
//     }
//     &-footer {
//         z-index: 1;
//         @include var.set('background-color', 'offcanvas--footer--background-color', $offcanvas--footer--background-color);
//     }

//     & .#{prefix.$prefix}button-close {
//         z-index: 2;
//         @include position.absolute(map.get($_SPACERS, 2), map.get($_SPACERS, 2), null, null);
//         @include sizes.set(6px,6px);
//     }

//     &.show {
//         opacity: 1;
//         box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
//     }
// }


// * Responsive
// * ------------------------------------------------------------------------ //

// No responsive definition
