// ************************************************************************** //
// *
// *    Components: Offcanvas
// *
// ************************************************************************** //

@use 'sass:meta';
@use './../generated';
@use './../variables/prefix';
@use './../abstracts/mixins/var';
@use './../abstracts/mixins/flex';
@use './../abstracts/mixins/banner';
@use './../abstracts/mixins/position';
@use './../abstracts/mixins/transition';

$_PREFIX: prefix.$prefix;

$_COMPONENT: 'overlay';
$_CLASSNAME: '#{$_PREFIX}#{$_COMPONENT}';

@include banner.header('Component #{$_COMPONENT}');



// * =============================================
// *
// *    Component functions
// *
// * =============================================




// * =============================================
// *
// *    Component Properties
// *
// * =============================================

// * Default layout variables
// * =========================

// $offcanvas--has-backdrop: if(meta.global-variable-exists('offcanvas--has-backdrop', $module: generated), generated.$offcanvas--has-backdrop, true) !default;
$offcanvas--width: 280px !default;
// $offcanvas--z    : 1000 !default;


// * Default theme variables
// * =========================

$offcanvas--backdrop--background-color : $black;
$offcanvas--container--background-color: $white;


// * =============================================
// *
// *    Component Definition
// *
// * =============================================

.#{$_PREFIX}no-scroll {
    overflow: hidden;
    height: 100%;
}

.#{$_CLASSNAME} {

    $overlay-blur : 20px;
    $overlay-opacity: 0.5;
    $overlay-color: $black;


    @include position.fixed(0,0,0,0);
    overflow: hidden;
    z-index: $z-index--overlay;

    &.show {
        &::after {
            opacity: 1;
        }
    }

    &::after {
        content: "";


        $position: $overlay-blur * -2;
        @include position.absolute($position,$position,$position,$position);
        // position: absolute;
        // top: $overlay-blur * -2;
        // right: $overlay-blur * -2;
        // bottom: $overlay-blur * -2;
        // left: $overlay-blur * -2;
        background-color:  #{rgba($overlay-color, $overlay-opacity)};
        opacity: 0;
        backdrop-filter: blur($overlay-blur);

        transition: opacity .3s;
    }
}