// ************************************************************************** //
// *
// *    Components: Popover
// *
// ************************************************************************** //

@use './../variables/prefix';
@use './../abstracts/mixins/banner';

$_PREFIX: prefix.$prefix;

$_COMPONENT: 'popover';
$_CLASSNAME: '#{$_PREFIX}#{$_COMPONENT}';

@include banner.header('Component #{$_COMPONENT}');



// * =============================================
// *
// *    Component functions
// *
// * =============================================



// *
// * Component properties
// * ------------------------
// *

// * Layout Variables
// * --


// * Theme Variables
// * --


// *
// * Component definition
// * ------------------------
// *


// * Palette
// * =========================

.#{$_CLASSNAME} {
    @each $key, $value in $ui-colors {
        &-#{$key} {
            // --#{$_CLASSNAME}--color           : var(--#{$key});
            // --#{$_CLASSNAME}--background-color: var(--#{$key}--tint-70);
            // --#{$_CLASSNAME}--border-color    : var(--#{$key});
        }
    }
}


// * Structure
// * =========================

.#{$_CLASSNAME} {

    /// Component definition
    /// --

    
    /// Component Sizes
    /// --
    

    /// Component palettes
    /// --
    

    /// Component States
    /// --
    
}