// * ------------ @osw3/symfony-ux/assets/sass/components/rating.scss -----------
// *
// *    Builder for Rating component
// *
// *    /!\ this file is used to pre-build and provide : 
// *    -> 'builder/root.scss'
// *    -> 'builder/rating.scss'
// *
// * ---------------------------------------------------------------------------

@use './../storages/prefix';
@use './../storages/rating';
$prefix: prefix.$prefix;


// * Default theme properties
// * ---------------------------------------------

$theme-properties: (
    // rating-color             : var(--#{$prefix}dark),
    // rating-hover-color       : inherit, //var(--#{$prefix}inherit),
    // rating-bg-color          : var(--#{$prefix}cyan),
    // rating-hover-bg-color    : var(--#{$prefix}cyan),
    // rating-border-color      : var(--#{$prefix}red),
    // rating-hover-border-color: var(--#{$prefix}red),
);


// * Default structure properties
// * ---------------------------------------------

$layout-properties: ();
