// ************************************************************************** //
// *
// *    Components: Navigation
// *
// ************************************************************************** //

@use './../variables/prefix';
@use './../abstracts/mixins/var';
@use './../abstracts/mixins/flex';
@use './../abstracts/mixins/banner';
@use './../abstracts/mixins/position';
@use './../abstracts/mixins/transition';

$_PREFIX: prefix.$prefix;

$_COMPONENT: 'reading-progress';
$_CLASSNAME: '#{$_PREFIX}#{$_COMPONENT}';

@include banner.header('Component #{$_COMPONENT}');



// *
// * Component properties
// * ------------------------
// *

// * Layout Variables
// * --


// * Theme Variables
// * --


// *
// * Component definition
// * ------------------------
// *

.#{$_CLASSNAME} {
}