// ************************************************************************** //
// *
// *    Components: Rotator
// *
// ************************************************************************** //

@use './../abstracts/mixins/flex';
@use './../abstracts/mixins/banner';
@use './../abstracts/mixins/spaces';

$_component: 'rotator';
$_classname: '#{$prefix}#{$_component}';

@include banner.header('Component #{$_component}');



// * =============================================
// *
// *    Component Properties
// *
// * =============================================

// * Default layout variables
// * =========================

$rotator--min-height: 100% !default;


// * Default theme variables
// * =========================


// * =============================================
// *
// *    Component Definition
// *
// * =============================================

.#{$_classname} {
    @include flex.row;
    overflow: hidden;
    min-height: $rotator--min-height;
    min-width: 100%;
    height: 40px;

    &-inner {
        @include flex.centered;
        @include spaces.padding(0,0,0,0);
        @include spaces.margin(0,0,0,0);
        position: relative;
        list-style: none;
        width: 100%;
        height: 100%;
    }

    &-item {
        position: absolute;
        white-space: nowrap;
        display: none;
        opacity: 0;
    }
}