// ************************************************************************** //
// *
// *    Components: Scroll To Top
// *
// ************************************************************************** //

@use 'sass:math';
@use './../abstracts/mixins/var';
@use './../variables/zindex';
@use './../abstracts/mixins/flex';
@use './../abstracts/mixins/sizes';
@use './../abstracts/mixins/banner';
@use './../abstracts/mixins/corner';
@use './../abstracts/mixins/position';
@use './../abstracts/mixins/transition';

$_component: 'scroll-to-top';
$_classname: '#{$prefix}#{$_component}';

@include banner.header('Component #{$_component}');



// * =============================================
// *
// *    Component functions
// *
// * =============================================

@function calculate-font-size($element-height, $base-rem, $base-height, $multiplier) {
    $ratio: $base-rem * math.div($multiplier, $base-height);
    @return $element-height * $ratio;
}



// * =============================================
// *
// *    Component Properties
// *
// * =============================================

// * Default layout variables
// * =========================

$scroll-to-top--size     : 40px !default;
$scroll-to-top--position : right !default;
$scroll-to-top--offset-x : $spacer !default;
$scroll-to-top--offset-y : $spacer !default;
$scroll-to-top--symbol   : "\23F6" !default;
$scroll-to-top--font-size: 2 !default;
$scroll-to-top--z-index   : zindex.$button-to-top !default;


// * Default theme variables
// * =========================

$scroll-to-top--background-color      : $teal;
$scroll-to-top--border-color          : $teal;
$scroll-to-top--text-color            : $white;
$scroll-to-top--background-color--hover: $green;
$scroll-to-top--border-color--hover    : $green;
$scroll-to-top--text-color--hover      : $white;


// * =============================================
// *
// *    Component Definition
// *
// * =============================================

.#{$_classname} {

    /// Component definition
    /// --
    
    @if scroll-to-top--position == 'left' {
        @include position.fixed(null, null, -$spacer*3, scroll-to-top--offset-x);
    }
    @else {
        @include position.fixed(null, scroll-to-top--offset-x, -$spacer*3, null);
    }
    @include sizes.set(scroll-to-top--size, scroll-to-top--size);
    @include transition.set((bottom, opacity, background-color, border-color, color), map-get($delays, 'normal'));
    @include corner.rounded(6px);

    @include flex.row;
    align-items: center;
    justify-content: center;

    background-color: var(--button-to-top--background-color, $scroll-to-top--background-color);
    border: 1px solid var(--button-to-top--border-color, $scroll-to-top--border-color);
    color: var(--button-to-top--text-color, $scroll-to-top--text-color);
    opacity: 0;
    cursor: pointer;
    z-index: scroll-to-top--z-index;

    
    /// Component Sizes
    /// --
    

    /// Component Pallets
    /// --
    

    /// Component States
    /// --

    &.show {
        @include position.bottom($scroll-to-top--offset-y);
        opacity: 1;
    }

    &::after {
        content: $scroll-to-top--symbol;
        font-size: calculate-font-size($scroll-to-top--size, $spacer, 40px, $scroll-to-top--font-size);
    }

    &:hover {
        background-color: var(--button-to-top--background-hover-color, $scroll-to-top--background-color--hover);
        border-color: var(--button-to-top--border-hover-color, $scroll-to-top--border-color--hover);
        color: var(--button-to-top--text-hover-color, $scroll-to-top--text-color--hover);
    }
}