// * -------- @osw3/symfony-ux/assets/sass/components/scroll-to-top.scss -------
// *
// *    Default variables for Scroll-to-top component
// *
// *    /!\ this file is used to pre-build and provide : 
// *    -> 'builder/root.scss'
// *    -> 'builder/scroll-to-top.scss'
// *
// * ---------------------------------------------------------------------------

@use './../storages/prefix';
@use './../storages/scroll-to-top';


// * Default theme properties
// * ---------------------------------------------

$theme-properties: (
    scroll-to-top-color             : var(--#{prefix.$prefix}red),
    scroll-to-top-hover-color       : var(--#{prefix.$prefix}pink),
    scroll-to-top-bg-color          : var(--#{prefix.$prefix}green),
    scroll-to-top-hover-bg-color    : var(--#{prefix.$prefix}yellow),
    scroll-to-top-border-color      : var(--#{prefix.$prefix}gray-600),
    scroll-to-top-hover-border-color: var(--#{prefix.$prefix}gray-700),
);


// * Default structure properties
// * ---------------------------------------------

$layout-properties: (
    // scroll-to-top-padding-x        : scroll-to-top.$padding-x,
    // scroll-to-top-small-padding-x  : scroll-to-top.$padding-x-small,
    // scroll-to-top-large-padding-x  : scroll-to-top.$padding-x-large,
    // scroll-to-top-padding-y        : scroll-to-top.$padding-y,
    // scroll-to-top-small-padding-y  : scroll-to-top.$padding-y-small,
    // scroll-to-top-large-padding-y  : scroll-to-top.$padding-y-large,
    // scroll-to-top-font-size        : scroll-to-top.$font-size,
    // scroll-to-top-small-font-size  : scroll-to-top.$font-size-small,
    // scroll-to-top-large-font-size  : scroll-to-top.$font-size-large,
    // scroll-to-top-font-weight      : scroll-to-top.$font-weight,
    // scroll-to-top-small-font-weight: scroll-to-top.$font-weight-small,
    // scroll-to-top-large-font-weight: scroll-to-top.$font-weight-large,
    // scroll-to-top-line-height      : scroll-to-top.$line-height,
    // scroll-to-top-small-line-height: scroll-to-top.$line-height-small,
    // scroll-to-top-large-line-height: scroll-to-top.$line-height-large,

    // scroll-to-top-border-width      : scroll-to-top.$border-width,
    // scroll-to-top-border-radius     : scroll-to-top.$border-radius,
    // scroll-to-top-font-family       : scroll-to-top.$font-family,
    // scroll-to-top-box-shadow        : scroll-to-top.$box-shadow,
    // scroll-to-top-focus-box-shadow  : scroll-to-top.$focus-box-shadow,
    // scroll-to-top-disabled-opacity  : scroll-to-top.$disabled-opacity,
);
