// ************************************************************************** //
// *
// *    Components: Scroll To Top
// *
// ************************************************************************** //

@use "sass:map";
@use 'sass:math';
@use 'sass:meta';
@use './../generated';
@use './../variables/colors';
@use './../variables/prefix';
@use './../variables/zindex';
@use './../variables/transitions';
@use './../abstracts/mixins/var';
@use './../abstracts/mixins/flex';
@use './../abstracts/mixins/sizes';
@use './../abstracts/mixins/banner';
@use './../abstracts/mixins/corner';
@use './../abstracts/functions/icon';
@use './../abstracts/mixins/position';
@use './../abstracts/functions/color';
@use './../abstracts/functions/utils';
@use './../abstracts/mixins/transition';



// * ======================================================================== //
// * Component constants
// * ======================================================================== //

$_COMPONENT: 'scroll-to-top';
$_CLASSNAME: '#{prefix.$prefix}#{$_COMPONENT}';

@include banner.header('Component #{$_COMPONENT}');



// * ======================================================================== //
// * Component functions & mixins
// * ======================================================================== //

@function calculate-font-size($element-height, $base-rem, $base-height, $multiplier) {
    $ratio: $base-rem * math.div($multiplier, $base-height);
    @return $element-height * $ratio;
}



// * ======================================================================== //
// * Component variables
// * ======================================================================== //

// * Layout variables
// * ------------------------------------------------------------------------ //

$scroll-to-top--shape               : if(meta.global-variable-exists('scroll-to-top--shape', $module: generated), generated.$scroll-to-top--shape, 'square') !default;
$scroll-to-top--position            : if(meta.global-variable-exists('scroll-to-top--position', $module: generated), generated.$scroll-to-top--position, 'bottom-right') !default;
$scroll-to-top--transition          : if(meta.global-variable-exists('scroll-to-top--transition', $module: generated), generated.$scroll-to-top--transition, 'natural') !default;
$scroll-to-top--symbol              : if(meta.global-variable-exists('scroll-to-top--symbol', $module: generated), generated.$scroll-to-top--symbol, 'arrow-up') !default;

$scroll-to-top--size                : 40px !default;
$scroll-to-top--position-x          : $spacer *2 !default;
$scroll-to-top--position-y          : $spacer *2 !default;
$scroll-to-top--offset-x            : 0px !default;
$scroll-to-top--offset-y            : 0px !default;
$scroll-to-top--font-size           : 2 !default;
$scroll-to-top--z-index             : zindex.$z-index--scroll-to-top !default;


// * Theme variables
// * ------------------------------------------------------------------------ //

$scroll-to-top--color               : colors.$white;
$scroll-to-top--color--hover        : colors.$white;
$scroll-to-top--bg-color            : colors.$teal;
$scroll-to-top--bg-color--hover     : colors.$green;
$scroll-to-top--border-color        : colors.$teal;
$scroll-to-top--border-color--hover : colors.$green;



// * ======================================================================== //
// * Component definition
// * ======================================================================== //

// * Palette
// * ------------------------------------------------------------------------ //

.#{$_CLASSNAME} {

    /// CSS variables
    /// --
    
    @include var.define( $_COMPONENT, prefix.$TEXT_COLOR,               $scroll-to-top--color);
    @include var.define( $_COMPONENT, prefix.$TEXT_COLOR_HOVER,         $scroll-to-top--color--hover);
    @include var.define( $_COMPONENT, prefix.$BACKGROUND_COLOR,         $scroll-to-top--bg-color);
    @include var.define( $_COMPONENT, prefix.$BACKGROUND_COLOR_HOVER,   $scroll-to-top--bg-color--hover);
    @include var.define( $_COMPONENT, prefix.$BORDER_COLOR,             $scroll-to-top--border-color);
    @include var.define( $_COMPONENT, prefix.$BORDER_COLOR_HOVER,       $scroll-to-top--border-color--hover);

    --icon : #{icon.get(#{$scroll-to-top--symbol}, var(--scroll-to-top--color, color.encode($scroll-to-top--color)))};
}


// * Structure
// * ------------------------------------------------------------------------ //

.#{$_CLASSNAME} {

    $transition-list: (opacity, background-color, border-color, color);
    $background-position: center;

    // $ratio: 1;

    // Button Shape

    @if $scroll-to-top--shape == 'circle' {
        @include corner.rounded(50%);
    }
    @else if $scroll-to-top--shape == 'corner' {
    }
    @else {
        @include corner.rounded(6px);
    }
    
    // $scroll-to-top--size: $scroll-to-top--size * $ratio;

    // Button position

    $position-top   : null;
    $position-right : null;
    $position-bottom: null;
    $position-left  : null;

    $offset-top   : null;
    $offset-right : null;
    $offset-bottom: null;
    $offset-left  : null;

    @if $scroll-to-top--position == 'top-left' {
        @if $scroll-to-top--offset-y != 0 {$offset-top: $scroll-to-top--offset-y;}
        @if $scroll-to-top--offset-x != 0 {$offset-left: $scroll-to-top--offset-x;}
        
        @if $scroll-to-top--transition == 'inverse' {
            $position-top   : 100%;
            $position-left  : $scroll-to-top--position-x;
            $transition-list: append($transition-list, top);
        }
        @else if $scroll-to-top--transition == 'right' {
            $position-top   : $scroll-to-top--position-y;
            $position-left  : 100%;
            $transition-list: append($transition-list, left);
        }
        @else if $scroll-to-top--transition == 'left' {
            $position-top   : $scroll-to-top--position-y;
            $position-left  : 0 - $scroll-to-top--size;
            $transition-list: append($transition-list, left);
        }
        @else {
            $position-top   : 0 - $scroll-to-top--size;
            $position-left  : $scroll-to-top--position-x;
            $transition-list: append($transition-list, top);
        }
    }
    @else if $scroll-to-top--position == 'top-center' {
        @if $scroll-to-top--offset-y != 0 {$offset-top: $scroll-to-top--offset-y;}
        @if $scroll-to-top--offset-x < 0 {$offset-right: $scroll-to-top--offset-x * -1;}
        @if $scroll-to-top--offset-x > 0 {$offset-left: $scroll-to-top--offset-x;}

        @if $scroll-to-top--transition == 'inverse' {
            $position-top   : 100%;
            $position-right : calc(50% - math.div($scroll-to-top--size, 2));
            $transition-list: append($transition-list, top);
        }
        @else if $scroll-to-top--transition == 'right' {
            $position-top   : $scroll-to-top--position-y;
            $position-right : 0 - $scroll-to-top--size;

            @if $offset-right != null {
                $position-right : 0 - $scroll-to-top--size;
                $position-left  : null;
            }
            @if $offset-left != null {
                $position-right: null;
                $position-left : 0 - $scroll-to-top--size;
            }

            $transition-list: append($transition-list, right);
        }
        @else if $scroll-to-top--transition == 'left' {
            $position-top   : $scroll-to-top--position-y;
            $position-left : 0 - $scroll-to-top--size;

            @if $offset-right != null {
                $position-right: null;
                $position-left : 0 - $scroll-to-top--size;
            }
            @if $offset-left != null {
                $position-right : 0 - $scroll-to-top--size;
                $position-left  : null;
            }

            $transition-list: append($transition-list, left);
        }
        @else {
            $position-top   : 0 - $scroll-to-top--size;
            $position-right : calc(50% - math.div($scroll-to-top--size, 2));
            $transition-list: append($transition-list, top);
        }
    }
    @else if $scroll-to-top--position == 'top-right' {
        @if $scroll-to-top--offset-y != 0 {$offset-top: $scroll-to-top--offset-y;}
        @if $scroll-to-top--offset-x < 0 {$offset-right: $scroll-to-top--offset-x * -1;}
        @if $scroll-to-top--offset-x > 0 {$offset-right: $scroll-to-top--offset-x * -1;}

        @if $scroll-to-top--transition == 'inverse' {
            $position-top   : 100%;
            $position-right  : $scroll-to-top--position-x;
            $transition-list: append($transition-list, top);
        }
        @else if $scroll-to-top--transition == 'right' {
            $position-top   : $scroll-to-top--position-y;
            $position-right  : 0 - $scroll-to-top--size;
            $transition-list: append($transition-list, right);
        }
        @else if $scroll-to-top--transition == 'left' {
            $position-top   : $scroll-to-top--position-y;
            $position-right  : 100%;
            $transition-list: append($transition-list, right);
        }
        @else {
            $position-top   : 0 - $scroll-to-top--size;
            $position-right  : $scroll-to-top--position-x;
            $transition-list: append($transition-list, top);
        }
    }
    @else if $scroll-to-top--position == 'middle-left' {
        @if $scroll-to-top--offset-y > 0 {$offset-top: $scroll-to-top--offset-y * -1;}
        @if $scroll-to-top--offset-y < 0 {$offset-top: $scroll-to-top--offset-y * -1;}
        @if $scroll-to-top--offset-x != 0 {$offset-left: $scroll-to-top--offset-x;}

        @if $scroll-to-top--transition == 'inverse' {
            $position-top   : 0 - $scroll-to-top--size;
            $position-left  : $scroll-to-top--position-x;
            $transition-list: append($transition-list, top);
        }
        @else if $scroll-to-top--transition == 'right' {
            $position-top   : calc(50% - math.div($scroll-to-top--size, 2));
            $position-left  : 100%;
            $transition-list: append($transition-list, left);
        }
        @else if $scroll-to-top--transition == 'left' {
            $position-top   : calc(50% - math.div($scroll-to-top--size, 2));
            $position-left  : 0 - $scroll-to-top--size;
            $transition-list: append($transition-list, left);
        }
        @else {
            $position-top   : 100%;
            $position-left  : $scroll-to-top--position-x;
            $transition-list: append($transition-list, top);
        }
    }
    @else if $scroll-to-top--position == 'middle-center' or $scroll-to-top--position == 'centered' {
        @if $scroll-to-top--offset-y > 0 {$offset-top: $scroll-to-top--offset-y * -1;}
        @if $scroll-to-top--offset-y < 0 {$offset-top: $scroll-to-top--offset-y * -1;}
        @if $scroll-to-top--offset-x > 0 {$offset-right: $scroll-to-top--offset-x * -1;}
        @if $scroll-to-top--offset-x < 0 {$offset-right: $scroll-to-top--offset-x * -1;}

        @if $scroll-to-top--transition == 'inverse' {
            $position-top   : 0 - $scroll-to-top--size;
            $position-right  : calc(50% - math.div($scroll-to-top--size, 2));;
            $transition-list: append($transition-list, top);
        }
        @else if $scroll-to-top--transition == 'right' {
            $position-top   : calc(50% - math.div($scroll-to-top--size, 2));
            $position-right  : 0 - $scroll-to-top--size;
            $transition-list: append($transition-list, right);
        }
        @else if $scroll-to-top--transition == 'left' {
            $position-top   : calc(50% - math.div($scroll-to-top--size, 2));
            $position-right  : 100%;
            $transition-list: append($transition-list, right);
        }
        @else {
            $position-top   : 100%;
            $position-right  : calc(50% - math.div($scroll-to-top--size, 2));;
            $transition-list: append($transition-list, top);
        }
    }
    @else if $scroll-to-top--position == 'middle-right' {
        @if $scroll-to-top--offset-y > 0 {$offset-top: $scroll-to-top--offset-y * -1;}
        @if $scroll-to-top--offset-y < 0 {$offset-top: $scroll-to-top--offset-y * -1;}
        @if $scroll-to-top--offset-x != 0 {$offset-right: $scroll-to-top--offset-x * -1;}

        @if $scroll-to-top--transition == 'inverse' {
            $position-top   : 0 - $scroll-to-top--size;
            $position-right  : $scroll-to-top--position-x;
            $transition-list: append($transition-list, top);
        }
        @else if $scroll-to-top--transition == 'right' {
            $position-top   : calc(50% - math.div($scroll-to-top--size, 2));
            $position-right  : 0 - $scroll-to-top--size;
            $transition-list: append($transition-list, right);
        }
        @else if $scroll-to-top--transition == 'left' {
            $position-top   : calc(50% - math.div($scroll-to-top--size, 2));
            $position-right  : 100%;
            $transition-list: append($transition-list, right);
        }
        @else {
            $position-top   : 100%;
            $position-right  : $scroll-to-top--position-x;
            $transition-list: append($transition-list, top);
        }
    }
    @else if $scroll-to-top--position == 'bottom-left' {
        @if $scroll-to-top--offset-y != 0 {$offset-bottom: $scroll-to-top--offset-y;}
        @if $scroll-to-top--offset-x != 0 {$offset-left: $scroll-to-top--offset-x;}

        @if $scroll-to-top--transition == 'inverse' {
            $position-bottom   : 100%;
            $position-left  : $scroll-to-top--position-x;
            $transition-list: append($transition-list, bottom);
        }
        @else if $scroll-to-top--transition == 'right' {
            $position-bottom   : $scroll-to-top--position-y;
            $position-left  : 100%;
            $transition-list: append($transition-list, left);
        }
        @else if $scroll-to-top--transition == 'left' {
            $position-bottom   : $scroll-to-top--position-y;
            $position-left  : 0 - $scroll-to-top--size;
            $transition-list: append($transition-list, left);
        }
        @else {
            $position-bottom   : 0 - $scroll-to-top--size;
            $position-left  : $scroll-to-top--position-x;
            $transition-list: append($transition-list, bottom);
        }
    }
    @else if $scroll-to-top--position == 'bottom-center' {
        @if $scroll-to-top--offset-x < 0 {$offset-right: $scroll-to-top--offset-x * -1;}
        @if $scroll-to-top--offset-y != 0 {$offset-bottom: $scroll-to-top--offset-y;}
        @if $scroll-to-top--offset-x > 0 {$offset-left: $scroll-to-top--offset-x;}

        @if $scroll-to-top--transition == 'inverse' {
            $position-bottom   : 100%;
            $position-right : calc(50% - math.div($scroll-to-top--size, 2));
            $transition-list: append($transition-list, bottom);
        }
        @else if $scroll-to-top--transition == 'right' {
            $position-bottom   : $scroll-to-top--position-y;
            $position-right : 0 - $scroll-to-top--size;

            @if $offset-right != null {
                $position-right : 0 - $scroll-to-top--size;
                $position-left  : null;
            }
            @if $offset-left != null {
                $position-right: null;
                $position-left : 0 - $scroll-to-top--size;
            }

            $transition-list: append($transition-list, right);
        }
        @else if $scroll-to-top--transition == 'left' {
            $position-bottom   : $scroll-to-top--position-y;
            $position-left : 0 - $scroll-to-top--size;

            @if $offset-right != null {
                $position-right: null;
                $position-left : 0 - $scroll-to-top--size;
            }
            @if $offset-left != null {
                $position-right : 0 - $scroll-to-top--size;
                $position-left  : null;
            }

            $transition-list: append($transition-list, left);
        }
        @else {
            $position-bottom   : 0 - $scroll-to-top--size;
            $position-right : calc(50% - math.div($scroll-to-top--size, 2));
            $transition-list: append($transition-list, bottom);
        }
    }
    @else {
        @if $scroll-to-top--offset-x < 0 {$offset-right: $scroll-to-top--offset-x * -1;}
        @if $scroll-to-top--offset-x > 0 {$offset-right: $scroll-to-top--offset-x * -1;}
        @if $scroll-to-top--offset-y != 0 {$offset-bottom: $scroll-to-top--offset-y;}

        @if $scroll-to-top--transition == 'inverse' {
            $position-bottom: 100%;
            $position-right : $scroll-to-top--position-x;
            $transition-list: append($transition-list, bottom);
        }
        @else if $scroll-to-top--transition == 'right' {
            $position-bottom: $scroll-to-top--position-y;
            $position-right : 0 - $scroll-to-top--size;
            $transition-list: append($transition-list, right);
        }
        @else if $scroll-to-top--transition == 'left' {
            $position-bottom: $scroll-to-top--position-y;
            $position-right : 100%;
            $transition-list: append($transition-list, right);
        }
        @else {
            $position-bottom: 0 - $scroll-to-top--size;
            $position-right : $scroll-to-top--position-x;
            $transition-list: append($transition-list, bottom);
        }
    }

    // @if $scroll-to-top--shape == 'corner' {

    //     // $scroll-to-top--size: $scroll-to-top--size * 2;
    //     transform: rotate(45deg);
    //     $background-position: math.div($scroll-to-top--size, 4);

    //     // Initial position
    //     $position: $scroll-to-top--size * -1;

    //     @if $scroll-to-top--position == 'top-left' {
    //         $offset-top     : 0;
    //         $offset-left    : 0;

    //         $position-top   : $position;
    //         $position-left  : $position;

    //         $transition-list: append($transition-list, top);
    //         $transition-list: append($transition-list, left);
    //     }
    // //     @else if $scroll-to-top--position == 'top-center' {

    // //         @if $scroll-to-top--offset-y != 0 {$offset-top: $scroll-to-top--offset-y;}
    // //         @if $scroll-to-top--offset-x < 0 {$offset-right: $scroll-to-top--offset-x * -1;}
    // //         $offset-bottom: null;
    // //         @if $scroll-to-top--offset-x > 0 {$offset-left: $scroll-to-top--offset-x;}

    // //         $position-top   : $scroll-to-top--position-y;
    // //         $position-right : calc(50% - math.div($scroll-to-top--size, 2));
    // //         $position-bottom: null;
    // //         $position-left  : null;

    // //         @if $offset-right != null {
    // //             $position-right : calc(50% - math.div($scroll-to-top--size, 2));
    // //             $position-left  : null;
    // //         }
    // //         @if $offset-left != null {
    // //             $position-right: null;
    // //             $position-left : calc(50% - math.div($scroll-to-top--size, 2));
    // //         }
    // //     }
    // //     @else if $scroll-to-top--position == 'top-right' {
    // //         $offset-top     : 0;
    // //         $offset-right   : 0;
    // //         $offset-bottom  : null;
    // //         $offset-left    : null;

    // //         $position-top   : 0;
    // //         $position-right : 0;
    // //         $position-bottom: null;
    // //         $position-left  : null;
    // //     }
    // //     @else if $scroll-to-top--position == 'middle-left' {
    // //         @if $scroll-to-top--offset-y > 0 {$offset-top: $scroll-to-top--offset-y * -1;}
    // //         @if $scroll-to-top--offset-y < 0 {$offset-top: $scroll-to-top--offset-y * -1;}
    // //         $offset-right : null;
    // //         $offset-bottom: null;
    // //         @if $scroll-to-top--offset-x != 0 {$offset-left: $scroll-to-top--offset-x;}

    // //         $position-top   : calc(50% - math.div($scroll-to-top--size, 2));
    // //         $position-right : null;
    // //         $position-bottom: null;
    // //         $position-left  : $scroll-to-top--position-x;
    // //     }
    // //     @else if $scroll-to-top--position == 'middle-center' or $scroll-to-top--position == 'centered' {
    // //         $offset-top   : null;
    // //         $offset-right : null;
    // //         $offset-bottom: null;
    // //         $offset-left  : null;

    // //         $position-top   : calc(50% - math.div($scroll-to-top--size, 2));
    // //         $position-right : calc(50% - math.div($scroll-to-top--size, 2));
    // //         $position-bottom: null;
    // //         $position-left  : null;
    // //     }
    // //     @else if $scroll-to-top--position == 'middle-right' {
    // //         @if $scroll-to-top--offset-y > 0 {$offset-top: $scroll-to-top--offset-y * -1;}
    // //         @if $scroll-to-top--offset-y < 0 {$offset-top: $scroll-to-top--offset-y * -1;}
    // //         @if $scroll-to-top--offset-x != 0 {$offset-right: $scroll-to-top--offset-x * -1;}
    // //         $offset-bottom: null;
    // //         $offset-left  : null;

    // //         $position-top   : calc(50% - math.div($scroll-to-top--size, 2));
    // //         $position-right : $scroll-to-top--position-x;
    // //         $position-bottom: null;
    // //         $position-left  : null;
    // //     }
    // //     @else if $scroll-to-top--position == 'bottom-left' {
    // //         $offset-top     : null;
    // //         $offset-right   : null;
    // //         $offset-bottom  : 0;
    // //         $offset-left    : 0;

    // //         $position-top   : null;
    // //         $position-right : null;
    // //         $position-bottom: 0;
    // //         $position-left  : 0;
    // //     }
    // //     @else if $scroll-to-top--position == 'bottom-center' {
    // //         $offset-top   : null;
    // //         @if $scroll-to-top--offset-x < 0 {$offset-right: $scroll-to-top--offset-x * -1;}
    // //         @if $scroll-to-top--offset-y != 0 {$offset-bottom: $scroll-to-top--offset-y;}
    // //         @if $scroll-to-top--offset-x > 0 {$offset-left: $scroll-to-top--offset-x;}

    // //         $position-top   : null;
    // //         $position-right : calc(50% - math.div($scroll-to-top--size, 2));
    // //         $position-bottom: $scroll-to-top--position-y;
    // //         $position-left  : null;

    // //         @if $offset-right != null {
    // //             $position-right : calc(50% - math.div($scroll-to-top--size, 2));
    // //             $position-left  : null;
    // //         }
    // //         @if $offset-left != null {
    // //             $position-right: null;
    // //             $position-left : calc(50% - math.div($scroll-to-top--size, 2));
    // //         }
    // //     }
    // //     @else {
    // //         $offset-top     : null;
    // //         $offset-right   : 0;
    // //         $offset-bottom  : 0;
    // //         $offset-left    : null;

    // //         $position-top   : null;
    // //         $position-right : 0;
    // //         $position-bottom: 0;
    // //         $position-left  : null;
    // //     }
    // }

    @include position.fixed($position-top, $position-right, $position-bottom, $position-left);

    
    // Button position offset

    @if $offset-top != null and $offset-top != 0 {margin-top: $offset-top;}
    @if $offset-right != null and $offset-right != 0 {margin-right: $offset-right;}
    @if $offset-bottom != null and $offset-bottom != 0 {margin-bottom: $offset-bottom;}
    @if $offset-left != null and $offset-left != 0 {margin-left: $offset-left;}

    @include transition.set($transition-list, map.get(transitions.$delays, 'normal'));

    /* #{$scroll-to-top--size} */
    @include sizes.set($scroll-to-top--size, $scroll-to-top--size);
    @include flex.centered;

    // background: var(--button-to-top--background-color, $scroll-to-top--bg-color) var(--icon) $background-position no-repeat;
    // border: 1px solid var(--button-to-top--border-color, $scroll-to-top--border-color);
    // color: var(--button-to-top--text-color, $scroll-to-top--color);

    color: var(--#{prefix.$prefix}#{$_COMPONENT}--#{prefix.$TEXT_COLOR});
    background-color: var(--#{prefix.$prefix}#{$_COMPONENT}--#{prefix.$BACKGROUND_COLOR});
    border-color: var(--#{prefix.$prefix}#{$_COMPONENT}--#{prefix.$BORDER_COLOR});

    cursor: pointer;
    opacity: 0;

    z-index: $scroll-to-top--z-index;

    &.show {
        $position-top   : null;
        $position-right : null;
        $position-bottom: null;
        $position-left  : null;

        $offset-top   : null;
        $offset-right : null;
        $offset-bottom: null;
        $offset-left  : null;

        @if $scroll-to-top--position == 'top-left' {
            $position-top   : $scroll-to-top--position-y;
            $position-left  : $scroll-to-top--position-x;
        }
        @else if $scroll-to-top--position == 'top-center' {
            @if $scroll-to-top--offset-x < 0 {$offset-right: $scroll-to-top--offset-x * -1;}
            @if $scroll-to-top--offset-x > 0 {$offset-left: $scroll-to-top--offset-x;}

            $position-top   : $scroll-to-top--position-y;

            @if $scroll-to-top--transition == 'left' {
                $position-left : calc(50% - math.div($scroll-to-top--size, 2));

                @if $offset-right != null {
                    $position-right: null;
                    $position-left : calc(50% - math.div($scroll-to-top--size, 2));
                }
                @if $offset-left != null {
                    $position-right : calc(50% - math.div($scroll-to-top--size, 2));
                    $position-left  : null;
                }
            }
            @else {
                $position-right : calc(50% - math.div($scroll-to-top--size, 2));

                @if $offset-right != null {
                    $position-right : calc(50% - math.div($scroll-to-top--size, 2));
                    $position-left  : null;
                }
                @if $offset-left != null {
                    $position-right: null;
                    $position-left : calc(50% - math.div($scroll-to-top--size, 2));
                }
            }
        }
        @else if $scroll-to-top--position == 'top-right' {
            $position-top   : $scroll-to-top--position-y;
            $position-right : $scroll-to-top--position-x;
            $position-bottom: null;
            $position-left  : null;
        }
        @else if $scroll-to-top--position == 'middle-left' {
            $position-top   : calc(50% - math.div($scroll-to-top--size, 2));
            $position-right : null;
            $position-bottom: null;
            $position-left  : $scroll-to-top--position-x;
        }
        @else if $scroll-to-top--position == 'middle-center' or $scroll-to-top--position == 'centered' {
            $position-top   : calc(50% - math.div($scroll-to-top--size, 2));
            $position-right : calc(50% - math.div($scroll-to-top--size, 2));
            $position-bottom: null;
            $position-left  : null;
        }
        @else if $scroll-to-top--position == 'middle-right' {
            $position-top   : calc(50% - math.div($scroll-to-top--size, 2));
            $position-right : $scroll-to-top--position-x;
        }
        @else if $scroll-to-top--position == 'bottom-left' {
            $position-bottom: $scroll-to-top--position-y;
            $position-left  : $scroll-to-top--position-x;
        }
        @else if $scroll-to-top--position == 'bottom-center' {
            @if $scroll-to-top--offset-x < 0 {$offset-right: $scroll-to-top--offset-x * -1;}
            @if $scroll-to-top--offset-x > 0 {$offset-left: $scroll-to-top--offset-x;}

            $position-bottom: $scroll-to-top--position-y;
            
            @if $scroll-to-top--transition == 'left' {
                $position-left : calc(50% - math.div($scroll-to-top--size, 2));

                @if $offset-right != null {
                    $position-right: null;
                    $position-left : calc(50% - math.div($scroll-to-top--size, 2));
                }
                @if $offset-left != null {
                    $position-right : calc(50% - math.div($scroll-to-top--size, 2));
                    $position-left  : null;
                }
            }
            @else {
                $position-right : calc(50% - math.div($scroll-to-top--size, 2));

                @if $offset-right != null {
                    $position-right : calc(50% - math.div($scroll-to-top--size, 2));
                    $position-left  : null;
                }
                @if $offset-left != null {
                    $position-right: null;
                    $position-left : calc(50% - math.div($scroll-to-top--size, 2));
                }
            }
        }
        @else {
            $position-right : $scroll-to-top--position-x;
            $position-bottom: $scroll-to-top--position-y;
        }

        // @if $scroll-to-top--shape == 'corner' {

        //     // Final position
        //     $position: math.div($scroll-to-top--size, 2) * -1;

        //     @if $scroll-to-top--position == 'top-left' {
        //         $offset-top     : 0;
        //         $offset-left    : 0;

        //         $position-top   : $position;
        //         $position-left  : $position;
        //     }
        // //     @else if $scroll-to-top--position == 'top-center' {

        // //         @if $scroll-to-top--offset-y != 0 {$offset-top: $scroll-to-top--offset-y;}
        // //         @if $scroll-to-top--offset-x < 0 {$offset-right: $scroll-to-top--offset-x * -1;}
        // //         $offset-bottom: null;
        // //         @if $scroll-to-top--offset-x > 0 {$offset-left: $scroll-to-top--offset-x;}

        // //         $position-top   : $scroll-to-top--position-y;
        // //         $position-right : calc(50% - math.div($scroll-to-top--size, 2));
        // //         $position-bottom: null;
        // //         $position-left  : null;

        // //         @if $offset-right != null {
        // //             $position-right : calc(50% - math.div($scroll-to-top--size, 2));
        // //             $position-left  : null;
        // //         }
        // //         @if $offset-left != null {
        // //             $position-right: null;
        // //             $position-left : calc(50% - math.div($scroll-to-top--size, 2));
        // //         }
        // //     }
        // //     @else if $scroll-to-top--position == 'top-right' {
        // //         $offset-top     : 0;
        // //         $offset-right   : 0;
        // //         $offset-bottom  : null;
        // //         $offset-left    : null;

        // //         $position-top   : 0;
        // //         $position-right : 0;
        // //         $position-bottom: null;
        // //         $position-left  : null;
        // //     }
        // //     @else if $scroll-to-top--position == 'middle-left' {
        // //         @if $scroll-to-top--offset-y > 0 {$offset-top: $scroll-to-top--offset-y * -1;}
        // //         @if $scroll-to-top--offset-y < 0 {$offset-top: $scroll-to-top--offset-y * -1;}
        // //         $offset-right : null;
        // //         $offset-bottom: null;
        // //         @if $scroll-to-top--offset-x != 0 {$offset-left: $scroll-to-top--offset-x;}

        // //         $position-top   : calc(50% - math.div($scroll-to-top--size, 2));
        // //         $position-right : null;
        // //         $position-bottom: null;
        // //         $position-left  : $scroll-to-top--position-x;
        // //     }
        // //     @else if $scroll-to-top--position == 'middle-center' or $scroll-to-top--position == 'centered' {
        // //         $offset-top   : null;
        // //         $offset-right : null;
        // //         $offset-bottom: null;
        // //         $offset-left  : null;

        // //         $position-top   : calc(50% - math.div($scroll-to-top--size, 2));
        // //         $position-right : calc(50% - math.div($scroll-to-top--size, 2));
        // //         $position-bottom: null;
        // //         $position-left  : null;
        // //     }
        // //     @else if $scroll-to-top--position == 'middle-right' {
        // //         @if $scroll-to-top--offset-y > 0 {$offset-top: $scroll-to-top--offset-y * -1;}
        // //         @if $scroll-to-top--offset-y < 0 {$offset-top: $scroll-to-top--offset-y * -1;}
        // //         @if $scroll-to-top--offset-x != 0 {$offset-right: $scroll-to-top--offset-x * -1;}
        // //         $offset-bottom: null;
        // //         $offset-left  : null;

        // //         $position-top   : calc(50% - math.div($scroll-to-top--size, 2));
        // //         $position-right : $scroll-to-top--position-x;
        // //         $position-bottom: null;
        // //         $position-left  : null;
        // //     }
        // //     @else if $scroll-to-top--position == 'bottom-left' {
        // //         $offset-top     : null;
        // //         $offset-right   : null;
        // //         $offset-bottom  : 0;
        // //         $offset-left    : 0;

        // //         $position-top   : null;
        // //         $position-right : null;
        // //         $position-bottom: 0;
        // //         $position-left  : 0;
        // //     }
        // //     @else if $scroll-to-top--position == 'bottom-center' {
        // //         $offset-top   : null;
        // //         @if $scroll-to-top--offset-x < 0 {$offset-right: $scroll-to-top--offset-x * -1;}
        // //         @if $scroll-to-top--offset-y != 0 {$offset-bottom: $scroll-to-top--offset-y;}
        // //         @if $scroll-to-top--offset-x > 0 {$offset-left: $scroll-to-top--offset-x;}

        // //         $position-top   : null;
        // //         $position-right : calc(50% - math.div($scroll-to-top--size, 2));
        // //         $position-bottom: $scroll-to-top--position-y;
        // //         $position-left  : null;

        // //         @if $offset-right != null {
        // //             $position-right : calc(50% - math.div($scroll-to-top--size, 2));
        // //             $position-left  : null;
        // //         }
        // //         @if $offset-left != null {
        // //             $position-right: null;
        // //             $position-left : calc(50% - math.div($scroll-to-top--size, 2));
        // //         }
        // //     }
        // //     @else {
        // //         $offset-top     : null;
        // //         $offset-right   : 0;
        // //         $offset-bottom  : 0;
        // //         $offset-left    : null;
                
        // //         $position-top   : null;
        // //         $position-right : 0;
        // //         $position-bottom: 0;
        // //         $position-left  : null;
        // //     }
        // }

        // Button position

        @if $position-top != null {top: $position-top;}
        @if $position-right != null {right: $position-right;}
        @if $position-bottom != null {bottom: $position-bottom;}
        @if $position-left != null {left: $position-left;}

        opacity: 1;
    }

    &:hover {
        color           : var(--#{prefix.$prefix}#{$_COMPONENT}--#{prefix.$TEXT_COLOR_HOVER});
        background-color: var(--#{prefix.$prefix}#{$_COMPONENT}--#{prefix.$BACKGROUND_COLOR_HOVER});
        border-color    : var(--#{prefix.$prefix}#{$_COMPONENT}--#{prefix.$BORDER_COLOR_HOVER});
    }
}


// * Responsive
// * ------------------------------------------------------------------------ //

// No responsive definition
