// ************************************************************************** //
// *
// *    Components: Search bar
// *
// ************************************************************************** //

@use './../variables/colors';
@use './../variables/prefix';
@use './../abstracts/mixins/flex';
@use './../abstracts/mixins/banner';
@use './../abstracts/mixins/corner';
@use './../abstracts/mixins/spaces';



// * ======================================================================== //
// * Component constants
// * ======================================================================== //

$_COMPONENT: 'search';
$_CLASSNAME: '#{prefix.$prefix}#{$_COMPONENT}';

@include banner.header('Component #{$_COMPONENT}');



// * ======================================================================== //
// * Component variables
// * ======================================================================== //

// * Layout variables
// * ------------------------------------------------------------------------ //

// No layout definition


// * Theme variables
// * ------------------------------------------------------------------------ //

// No theme variable definition



// * ======================================================================== //
// * Component definition
// * ======================================================================== //

// * Palette
// * ------------------------------------------------------------------------ //

// No palette definition


// * Structure
// * ------------------------------------------------------------------------ //

.#{$_CLASSNAME} {
    
    border: 1px solid colors.$gray-300;
    border-radius: 6px;

    position: relative;
    width: 480px;

    transition: border .3s;

    & form {
        // border: 3px solid green;
        min-width: 100%;
        display: flex;
        flex-direction: row;

        & .#{prefix.$prefix}form-control {
            flex-grow: 1;
            border: none;
        }

        // button {
        //     display: none;
        // }
    }

    &.focus {
        border: 1px solid red;
    }

    /// Component definition
    /// --

    // @include flex.row;
    // @include spaces.padding(6px, 6px, 6px, 6px);
    // @include corner.rounded(6px);
    // @include theme.property(background-color, searchbar--background-color);
    
    &-control {
        // @include theme.property(color, searchbar--color);
        background: none;
        border: none;
        outline: none;
    
        &::placeholder {
            // @include theme.property(color, searchbar--placeholder-color);
            opacity: 1;
        }
        &::-ms-input-placeholder {
            // @include theme.property(color, searchbar--placeholder-color);
        }
        // &::-webkit-search-cancel-button{
        //     @include theme.property(color, searchbar--placeholder-color);
        //     @include theme.property(background-color, searchbar--placeholder-color);
        //     position:relative;
        //     right:20px;    
        // }
        // &::-webkit-search-cancel-button {
        //     // -webkit-appearance: none;
        //     content: URL();
        //     cursor: pointer;
        // }
    }
    
    &-submit {
        @include flex.middle;
        // @include theme.property(color, searchbar--color);
        background: none;
        border: none;
    }



    &-suggestions {
        position: absolute;
        // top: 38px;
        left: 0;
        right: 0;
        z-index: 1;
        border: 1px solid #ccc;
        border-top: none;
        background-color: white;
        max-height: 150px;
        overflow-y: auto;
        margin: 0;
        display: none;
    }
    
    // & > .#{prefix.$prefix}modal-header {
    //     display: flex;
    // }

    & > .#{prefix.$prefix}modal {
        // display: flex;

        .#{$_CLASSNAME}-suggestions {
            display: block;

            position: relative;
            // height: 100%;
            border: none;

            max-height: none;
        }
    }
}


// * Responsive
// * ------------------------------------------------------------------------ //

// No responsive definition
