// ************************************************************************** //
// *
// *    Components: Switch
// *
// ************************************************************************** //

@use "sass:math";
@use './../variables/colors';
@use './../variables/prefix';
@use './../abstracts/mixins/var';
@use './../abstracts/mixins/flex';
@use './../abstracts/mixins/sizes';
@use './../abstracts/mixins/banner';
@use './../abstracts/mixins/spaces';
@use './../abstracts/mixins/position';
@use './../abstracts/mixins/transition';

$_PREFIX: prefix.$prefix;

$_COMPONENT: 'switch';
$_CLASSNAME: '#{$_PREFIX}#{$_COMPONENT}';

@include banner.header('Component #{$_COMPONENT}');



// * =============================================
// *
// *    Component functions
// *
// * =============================================



// * =============================================
// *
// *    Component Properties
// *
// * =============================================

// * Default layout variables
// * =========================

$switch-width: 30 !default;
$switch-height: 14 !default;

$_switch-width-px: #{$switch-width}px;
$_switch-height-px: #{$switch-height}px;


// * Default theme variables
// * =========================

$default--switch-off--border-color         : colors.$gray-700;
$default--switch-off--background-color     : colors.$gray-200;
$default--switch-off--indicator-color      : colors.$gray-700;

$default--switch-on--border-color          : colors.$blue;
$default--switch-on--background-color      : colors.$blue;
$default--switch-on--indicator-color       : colors.$white;

$default--switch-disabled--border-color    : colors.$gray-500;
$default--switch-background-color--disabled: colors.$gray-200;
$default--switch-disabled--indicator-color : colors.$gray-500;



// * =============================================
// *
// *    Component Definition
// *
// * =============================================


// * Palette
// * =========================

.#{$_CLASSNAME} {
    @each $key, $value in $ui-colors {
        &-#{$key} {
            // --#{$_CLASSNAME}--color           : var(--#{$key});
            // --#{$_CLASSNAME}--background-color: var(--#{$key}--tint-70);
            // --#{$_CLASSNAME}--border-color    : var(--#{$key});
        }
    }
}


// * Structure
// * =========================

.#{$_CLASSNAME} {

    /// Component definition
    /// --
    
    padding-left: math.div($switch-width, 16) + map-get($_SPACERS, 3 );
    
    @include flex.middle;
    @include position.relative;


    // Switch Input
    // --

    &-input {
        display: none;
    }

    
    // Switch Slider
    // --

    &-slider {
        @include position.absolute(null, null, null, 0);
        @include sizes.set($_switch-width-px, $_switch-height-px);
        @include transition.set((background-color), map-get($delays, normal));
    
        cursor: pointer;
        border-width: 1px;
        border-style: solid;
        border-radius: $_switch-height-px;

        // Theme
        border-color    : var(--switch-off--border-color, $default--switch-off--border-color);
        background-color: var(--switch-off--background-color, $default--switch-off--background-color);

        &:before {
            @include position.absolute(null, null, 1px, 2px);
            @include sizes.set(calc($_switch-height-px - 4px), calc($_switch-height-px - 4px));
            @include transition.set((left, background-color), map-get($delays, normal));
            content: "";
            border-radius: 50%;
            
            // Theme
            background-color: var(--switch-off--indicator-color, $default--switch-off--indicator-color);
        }
    }

    &-input {
        &:checked + .switch-slider {
            border-color    : var(--switch-on--border-color, $default--switch-on--border-color);
            background-color: var(--switch-on--background-color, $default--switch-on--background-color);

            &:before {
                background-color: var(--switch-on--indicator-color, $default--switch-on--indicator-color);
                left: calc($_switch-width-px - $_switch-height-px + 1px);
            }
        }

        &:disabled + .switch-slider {
            border-color    : var(--switch-disabled--border-color, $default--switch-disabled--border-color);
            background-color: var(--switch-background-color--disabled, $default--switch-background-color--disabled);

            &:before {
                background-color: var(--switch-disabled--indicator-color, $default--switch-disabled--indicator-color);
            }
        }
    }

    
    // Switch Label
    // --

    &-label {
        // border: 1px solid red;
    }


    /// Component Sizes
    /// --
    

    /// Component palettes
    /// --
    

    /// Component States
    /// --
    
}