// **************************** OSW3 - Symfony UX *************************** //
// *
// *    Components: Toast
// *
// ************************************************************************** //

@use './../variables/prefix';
@use './../abstracts/mixins/banner';
@use './../abstracts/mixins/corner';
@use './../abstracts/mixins/spaces';
@use './../abstracts/functions/color';

$_PREFIX: prefix.$prefix;

$_COMPONENT: 'toast';
$_CLASSNAME: '#{$_PREFIX}#{$_COMPONENT}';

@include banner.header('Component #{$_COMPONENT}');



// * =============================================
// *
// *    Component functions
// *
// * =============================================



// *
// * Component properties
// * ------------------------
// *

// * Layout Variables
// * --


// * Theme Variables
// * --


// *
// * Component definition
// * ------------------------
// *


// * Palette
// * =========================

.#{$_CLASSNAME} {
    @each $key, $value in $ui-colors {
        &-#{$key} {
            --#{$_CLASSNAME}--color           : var(--#{$key});
            --#{$_CLASSNAME}--background-color: var(--#{$key}--tint-70);
            --#{$_CLASSNAME}--border-color    : var(--#{$key});
        }
    }
}


// * Structure
// * =========================

.#{$_CLASSNAME} {

    /// Component definition
    /// --
    
    @include corner.rounded(6px);
    @include spaces.padding( $spacer * .6, $spacer * 1.4, $spacer * .6, $spacer * 1.4 );
    border-width: 1px;
    border-style: solid;

    /// Component Sizes
    /// --
    

    /// Component palettes
    /// --
    

    /// Component States
    /// --
}

// @each $key, $value in $ui-colors {
//     .#{$_CLASSNAME}-#{$key} {
//         color: $value;
//         background-color: color.tint($value, 70%);
//         border-color: $value;
//     }
// }