// **************************** OSW3 - Symfony UX *************************** //
// *
// *    Components: Toast
// *
// ************************************************************************** //

@use './../variables/prefix';
@use './../abstracts/mixins/banner';
@use './../abstracts/mixins/corner';
@use './../abstracts/mixins/spaces';
@use './../abstracts/functions/color';



// * ======================================================================== //
// * Component constants
// * ======================================================================== //

$_COMPONENT: 'toast';
$_CLASSNAME: '#{prefix.$prefix}#{$_COMPONENT}';

@include banner.header('Component #{$_COMPONENT}');



// * ======================================================================== //
// * Component variables
// * ======================================================================== //

// * Layout variables
// * ------------------------------------------------------------------------ //

// No layout definition


// * Theme variables
// * ------------------------------------------------------------------------ //

// No theme variable definition



// * ======================================================================== //
// * Component definition
// * ======================================================================== //

// * Palette
// * ------------------------------------------------------------------------ //

.#{$_CLASSNAME} {
    @each $key, $value in $ui-colors {
        &-#{$key} {
            --#{$_CLASSNAME}--color           : var(--#{$key});
            --#{$_CLASSNAME}--background-color: var(--#{$key}--tint-70);
            --#{$_CLASSNAME}--border-color    : var(--#{$key});
        }
    }
}


// * Structure
// * ------------------------------------------------------------------------ //

.#{$_CLASSNAME} {

    /// Component definition
    /// --
    
    @include corner.rounded(6px);
    @include spaces.padding( $spacer * .6, $spacer * 1.4, $spacer * .6, $spacer * 1.4 );
    border-width: 1px;
    border-style: solid;

    /// Component Sizes
    /// --
    

    /// Component palettes
    /// --
    

    /// Component States
    /// --
}


// * Responsive
// * ------------------------------------------------------------------------ //

// No responsive definition
