<!-- {"title": "Open multiple items in same times", "description": "Add the attribute \"multiple\""} -->
{% set items = [
    {
        title : "Item 1 (default open)",
        content : "This is an item content",
        open: true
    },
    {
        title : "Item 2 (template content)",
        template : "components/accordion/demo/item.html.twig"
    },
    {
        title : "Item 3 (long content)",
        content : "This is an item content<br>This is an item content<br>This is an item content<br>This is an item content<br>This is an item content<br>This is an item content<br>This is an item content<br>This is an item content<br>This is an item content<br>This is an item content<br>This is an item content<br>This is an item content<br>This is an item content<br>This is an item content<br>This is an item content<br>This is an item content<br>This is an item content<br>This is an item content<br>This is an item content<br>This is an item content<br>This is an item content<br>This is an item content<br>This is an item content<br>"
    }
] %}

<twig:Component:Accordion :items="items" multiple />