// ************************************************************************** //
// *
// *    Grid builder
// *
// ************************************************************************** //

@use "sass:math";
@use './../abstracts/mixins/flex';
@use './../abstracts/mixins/clear';
@use './../abstracts/mixins/banner';
@use './../abstracts/mixins/spaces';

@include banner.header('Grid & Columns');


/// Grid utils
/// =============================================

@mixin make-column($columns) 
{
    flex: 0 0 percentage(math.div($columns, $grid-divisions));
    max-width: percentage(math.div($columns, $grid-divisions));
}
@mixin make-break($columns) 
{
    // flex: 0 0 percentage(math.div($columns, $grid-divisions));
    margin-right: 100% - (percentage(math.div($columns, $grid-divisions)));
}
@mixin make-offset($columns) 
{
  margin-left: percentage(math.div($columns, $grid-divisions));
}



/// The Grid 
/// =============================================
@include banner.section('The grid');

// Set .grid styles definition
.grid {
    flex-wrap: wrap;
    
    @include flex.row;
    @include clear.both;

    // Make grid direct children as wrapped
    & > * {
        flex-shrink: 0;
        width: 100%;
        max-width: 100%;
    }

    // Grid alignment
    @each $_position in (center, start, end) {
        &-#{$_position} {
            justify-content: #{$_position} !important;
        }
    }
}



/// Gaps
/// =============================================
@include banner.section('Grid gaps');

@each $i, $spacer in $spacers 
{
    $margin: calc(-1 * $spacer);
    $padding: $spacer;

    // Padding gap for the Grid
    .grid.gap-#{$i}
    {
        @include spaces.margin(null, $margin, null, $margin);
    }

    // (All) Padding gap for thr grid Columns
    .gap-#{$i} [class^="column"]
    {
        @include spaces.padding($padding, $padding, $padding, $padding);
    }
    // (Left & right) Padding gap for thr grid Columns
    .gap-x-#{$i} [class^="column"]{
        @include spaces.padding(0, $padding, 0, $padding);
    }
    // (Top & Bottom) Padding gap for thr grid Columns
    .gap-y-#{$i} [class^="column"]{
        @include spaces.padding($padding, 0, $padding, 0);
    }
}



/// Columns
/// =============================================
@include banner.section('The grid columns');

// Set .column & .column-x styles definition
.column {
    flex: 1 0 0%;

    // .column-break
    &-break {
        flex-basis: 100%;
        height: 0;
        margin: 0 !important;
        padding: 0 !important;
    }

    // column-x
    @for $i from 1 through $grid-divisions {
        &-#{$i} {
            @include make-column($i);
        }
    }

    // Responsive columns
    @each $size, $breakpoint in $breakpoints {
        @if $breakpoint > 0 {
            @media (min-width: map-get($breakpoints, $size)) {
                @for $i from 1 through $grid-divisions {
                    &-#{$size}-#{$i} {
                        @include make-column($i);
                    }
                }
            }
        }
    }
}



/// Offsets
/// =============================================
@include banner.section('The grid offsets');

.offset {

    // .offset-x
    @for $i from 1 through $grid-divisions {
        &-#{$i} {
            @include make-offset($i);
        }
    }

    // Responsive offsets
    @each $size, $breakpoint in $breakpoints {
        @if $breakpoint > 0 {
            @media (min-width: map-get($breakpoints, $size)) {
                @for $i from 1 through $grid-divisions {
                    &-#{$size}-#{$i} {
                        @include make-offset($i);
                    }
                }
            }
        }
    }
}