// ******************************* DevBrain UI ****************************** //
// *
// *    Reboot
// *
// ************************************************************************** //

// @use './../abstracts/mixins/flex';
@use './../abstracts/mixins/flex';

// @import './../abstracts/variables/utilities';

/// Root
/// =============================================
/// 

*, 
*::before, 
*::after {
    box-sizing: border-box;
}

*::selection {
    // background-color: transparent;
}

@media (prefers-reduced-motion: no-preference) {
    :root {
        scroll-behavior: smooth;
    }
}

html {
    margin: map-get($spacers , 0);
    padding: map-get($spacers , 0);
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
}

body {
    @include flex.column;
    margin: map-get($spacers , 0);
    padding: map-get($spacers , 0);

    font-family: var(--font-#{$font-name-primary});
    font-size: $font-size-base;
    line-height: 1.45; 
    -webkit-font-smoothing: antialiased;

    min-height: 100vh;

    // background-image: url(/assets/images/background.jpg);
    // background-position: top center;
    // background-repeat: no-repeat;
}



// html, body, div, span, applet, object, iframe,h1, h2, h3, h4, h5, h6, p, 
// blockquote, pre,a, abbr, acronym, address, big, cite, code, del, dfn, em, img, 
// ins, kbd, q, s, samp,small, strike, strong, sub, sup, tt, var,b, u, i, center,
// dl, dt, dd, ol, ul, li,fieldset, form, label, legend,table, caption, tbody, 
// tfoot, thead, tr, th, td,article, aside, canvas, details, embed, figure, 
// figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,
// time, mark, audio, video {
//     margin: map-get($spacers, 0);
//     padding: map-get($spacers, 0);
// 	border: 0;
// 	// font-size: 100%;
// 	// font: inherit;
// 	vertical-align: baseline;
// }



// ******************************* DevBrain UI ****************************** //
// *                                                                        * //
// * Reset typography elements. <p>, <span>, ...                            * //
// *                                                                        * //
// ************************************************************************** //

abbr[title] {
    // Remove the bottom border in Chrome 57-
    border-bottom: none;
    // Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
    text-decoration: underline;
    text-decoration: underline dotted;
}

b,
strong {
    // Add the correct font weight in Chrome, Edge, and Safari.
    font-weight: bolder;
}

code,
kbd,
samp {
    // Correct the inheritance and scaling of font size in all browsers.
    font-family: monospace, monospace;
    // Correct the odd `em` font sizing in all browsers.
    font-size: 1em;
}

blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

small {
    // Add the correct font size in all browsers.
    font-size: 80%;
}

// Prevent `sub` and `sup` elements from affecting the line height in all browsers.
sub,
sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}
sub {
    bottom: -0.25em;
}
sup {
    top: -0.5em;
}

pre {
    // Correct the inheritance and scaling of font size in all browsers.
    font-family: monospace, monospace;

    // Correct the odd `em` font sizing in all browsers.
    font-size: 1em;
}


// ******************************* DevBrain UI ****************************** //
// *                                                                        * //
// * Reset list elements. <ul>, <ol>, <li>, ...                             * //
// *                                                                        * //
// ************************************************************************** //

ul, ol {
    padding: 0;
    list-style: none;
}


// ******************************* DevBrain UI ****************************** //
// *                                                                        * //
// * Reset link elements. <a>, <link>, ...                                  * //
// *                                                                        * //
// ************************************************************************** //


// Remove the gray background on active links in IE 10.
a {
    background-color: transparent;
}

a {
    cursor: pointer;
    text-decoration: underline;

    // background: red
}

// Force le pointer sur les liens
a *,
a svg {
    cursor: pointer !important;
}


// ******************************* DevBrain UI ****************************** //
// *                                                                        * //
// * Reset media elements. <img>, <audio>, <video>, ...                     * //
// *                                                                        * //
// ************************************************************************** //


figcaption, figure {
    display: block;
}

img {
    border-style: none;
}

// svg {
//     fill: #ffffff;
// }

// #icon-sound {
//     stroke: #ffffff;
// }


// ******************************* DevBrain UI ****************************** //
// *                                                                        * //
// * Reset form elements. <form>, <input>, <textarea>, <select>, ...        * //
// *                                                                        * //
// ************************************************************************** //

// textarea:focus,
// input:focus,
// select:focus,
// button:focus,
// label:focus,
// optgroup:focus {
//     outline: none !important;
//     box-shadow: none !important;
// }


button,
input,
optgroup,
select,
textarea {
    font-family: inherit;
    font-size: 100%;
    line-height: 1.15;
    margin: 0;
}

button,
input {
    overflow: visible;
}
button,
select {
    text-transform: none;
}

button,
[type="button"],
[type="reset"],
[type="submit"] {
    -webkit-appearance: button;
}

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
    border-style: none;
    padding: 0;
}

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
    outline: 1px dotted ButtonText;
}

fieldset {
    padding: 0.35em 0.75em 0.625em;
}

legend {
    box-sizing: border-box;
    display: table;
    max-width: 100%;
    white-space: normal;
    color: inherit;
    padding: 0;
}

progress {
    vertical-align: baseline;
}

textarea {
    overflow: auto;
}

[type="checkbox"],
[type="radio"] {
    box-sizing: border-box;
    padding: 0;
}

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
    height: auto;
}

[type="search"] {
    -webkit-appearance: textfield;
    outline-offset: -2px;
}

[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
}

::-webkit-file-upload-button {
    -webkit-appearance: button;
    font: inherit;
}



[hidden] {
    display: none;
}


// ******************************* DevBrain UI ****************************** //
// *                                                                        * //
// * Reset table elements. <table>, <tr>, <td>, ...                         * //
// *                                                                        * //
// ************************************************************************** //

table {
	border-collapse: collapse;
	border-spacing: 0;
}


article, aside, details, figcaption, figure, footer, header, hgroup, main, 
menu, nav, section {
    display: block;
}

summary {
    display: list-item;
}

template {
    display: none;
}
