<{{ tag }} {{ _get_attributes(_attr) }}>

    <div class="{{ container }}">

        {# Brand component #}
        {% if brand is not empty %}
        <twig:Component:Brand 
            :name="brand.name|default()"
            :tagline="brand.tagline|default()"
            :logo="brand.logo|default(null)"
            :size="brand.size|default('medium')"
            :url="brand.url|default()"
            :route="brand.route|default()"
        />
        {% endif %}

        {# Expand button - if menu is not showed on small devices #}
        {# <twig:Component:Button
            label="Expand"
            :class="togglerClassname"
            :dataset="{action: 'open', target: contentId}"
        /> #}
        <button class="{{ togglerClassname }}" data-action="open" data-target="{{ contentId }}">exp</button>

        <twig:Component:Navbar:Content 
            :backdrop="backdrop"
            :id="contentId"
            :placement="placement"
            :schema="schema" 
            :justify="justify"
        />
    </div>
</{{ tag }}>