<nav {{ _get_attributes(_attr) }}>
    <div class="{{ classname('container-'~ wrapper) }}">

        {% if _brand is not empty %}
        <twig:Ux:Brand 
            :name="_brand.name|default()"
            :tagline="_brand.tagline|default()"
            :logo="_brand.logo|default(null)"
            :size="_brand.size|default('medium')"
            :url="_brand.url|default()"
            :route="_brand.route|default()"
        />
        {% endif %}

        {# Expand button - if menu is not showed on small devices #}
        <twig:Ux:Button
            label="Expand"
            :class="navigation_toggler_classname"
            :dataset="navigation_toggler_dataset"
        />

        <div class="{{ classname('navigation-content') }}">

            {# Close button - if menu is showed on small device #}
            <twig:Ux:Button
                label="Close"
                :class="navigation_close_classname"
                :dataset="navigation_close_dataset"
            />

            {# Menu Schema #}
            {% for node in schema %}
                {% if node.type == 'menu' %}
                <twig:Ux:Navigation:Menu :options="node.options" />
                {% elseif node.type == 'searchbar' %}
                <twig:Ux:Navigation:Searchbar :options="node.options" />
                {% elseif node.type == 'template' %}
                <twig:Ux:Navigation:Template :template="node.template" :options="node.options" />
                {% endif %}
            {% endfor %}

        </div>
    </div>
</nav>