<div {{ _get_attributes(_attr) }}>

    <twig:FormWidget:Search 
        icon="symbol:home"
        label="Search"
        labelHidden
    />
    
    {# <twig:Component:SearchOld:Form 
        :method="method" 
        :param="param" 
        :placeholder="placeholder"
        :autocomplete="autocomplete"
        :label="label"
    />

    {% if type == 'modal' %}
        <twig:Component:SearchOld:Modal 
            :id="id" 
            :method="method" 
            :param="param" 
            :placeholder="placeholder"
            :autocomplete="autocomplete"
            :label="label"
        />
    {% elseif type == 'list' %}
    <twig:Component:SearchOld:Suggestions 
        :id="id" 
    />
    {% endif %} #}
</div>