{# {{ dump({
    name: name,
    method: method,
    action: action,
    
    symbol: symbol,

    param: param,
    placeholder: placeholder,

    button: button
}) }} #}
<form {{ _get_attributes(_attr) }}>
    {% if symbol.enable is same as true %}
        <twig:Ux:SearchBox:Symbol 
            :type="symbol.type"
            :icon="symbol.icon"
        />
    {% endif %}
    <twig:Ux:SearchBox:Input 
        :param="param" 
        :placeholder="placeholder"
    />
    <twig:Ux:Button:Submit 
        :hidden="button.hidden"
        :icon="button.symbol.icon" 
        :label="button.label.text" 
    />
</form>