{% extends '@SymfonyUx/form-widget/container.twig' %}

{% block widget %}
{% include "@SymfonyUx/form-widget/tag/label/tag.twig" with {
    id      : id,
    label   : label,
    ellipsis: labelEllipsis,
    hidden  : labelHidden,
    icon    : labelIcon,
    title   : labelTitle,
    required: required,
} only %}
{% embed "@SymfonyUx/form-widget/group.twig" with {
    isGroup     : isGroup,
    icon        : icon,
    iconPosition: iconPosition,
    iconType    : iconType,
} %}{% block controls %}

    <div>- SELECT Month {{ type }}</div>
    {# {% include "@SymfonyUx/form-widget/tag/select/tag.twig" with {
        id          : id,
        type        : type,
        name        : name,
        class       : class,
        value       : value,
        placeholder : placeholder,
        autocomplete: autocomplete,
        autofocus   : autofocus,
        dirname     : dirname,
        disabled    : disabled,
        form        : form,
        maxlength   : maxlength,
        minlength   : minlength,
        pattern     : pattern,
        required    : required,
        readonly    : readonly,
    } only %} #}
     
{% endblock controls %}{% endembed %}
{% include "@SymfonyUx/form-widget/tag/description/tag.twig" with {
    tag    : descriptionTag,
    icon   : descriptionIcon,
    id     : descriptionId,
    message: description,
} only %}
{% endblock widget %}