// ************************************************************************** //
// *
// *    Button Close
// *
// ************************************************************************** //

@use './../variables/prefix';
@use './../abstracts/mixins/var';
@use './../abstracts/mixins/banner';

$_PREFIX: prefix.$prefix;

$_COMPONENT: 'button-close';
$_CLASSNAME: '#{$_PREFIX}#{$_COMPONENT}';

@include banner.header('Component #{$_COMPONENT}');


// *
// * Component definition
// * ------------------------
// *

.#{$_CLASSNAME}
{
    --bs-btn-close-color: #000;
    --bs-btn-close-bg: url(data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23000'%3e%3cpath d='M.293.293a1 1 0 0 1 1.414 0L8 6.586 14.293.293a1 1 0 1 1 1.414 1.414L9.414 8l6.293 6.293a1 1 0 0 1-1.414 1.414L8 9.414l-6.293 6.293a1 1 0 0 1-1.414-1.414L6.586 8 .293 1.707a1 1 0 0 1 0-1.414z'/%3e%3c/svg%3e);
    --bs-btn-close-opacity: 0.5;

    cursor: pointer;
    box-sizing: content-box;
    max-width: 1em;
    max-height: 1em;
    padding: .25em .25em;
    color: var(--bs-btn-close-color);
    background: transparent var(--bs-btn-close-bg) center / 1em auto no-repeat;
    border: 0;
    border-radius: .375rem;
    opacity: var(--bs-btn-close-opacity);

    &:hover {
        color: var(--bs-btn-close-color);
        text-decoration: none;
        opacity: var(--bs-btn-close-hover-opacity);
    }
}