<div {{ _get_attributes(_attr) }}>
{% for section in schema %}
    {% if section.type == 'nav' %}
        <twig:Component:Nav 
            :items="section.items" 
            :order="section.order|default({})"
        />
    {% elseif section.type == 'search' %}
        <twig:Component:Search 
            :order="section.order"
        />
    {% elseif section.type == 'template' %}
        <twig:Component:Template 
            :source="section.source" 
            :options="section.options|default({})"
            :order="section.order"
        />
    {% endif %}
{% endfor %}
</div>