// * ===========================================================================
// *  STORAGE:  Announcement Component
// * ===========================================================================
// *
// *  This file is the storage for the Announcement component. It defines the 
// *  default variable values and mixins for the component.
// *
// * ===========================================================================

@charset 'utf-8';

@use './../storages/prefix';

$prefix: prefix.$prefix;



// * ------------------------------------------------------------------------ //
// * - Settings Storage                                                     - //
// * ------------------------------------------------------------------------ //

// * Structure
// * ---------------------------------------------

$min-height: 48px;


// * Typography
// * ---------------------------------------------


// * Spacing
// * ---------------------------------------------

$border-width: 0;
$border-radius: 0;


// * Interaction
// * ---------------------------------------------

$has-hover-state: true;


// * Transition
// * ---------------------------------------------

$has-transition: true;
$transition-delay: var(--#{$prefix}transition-normal);
$transition-type: ease-in-out;



// * ------------------------------------------------------------------------ //
// * - Reset Storage.                                                       - //
// * ------------------------------------------------------------------------ //

@mixin reset() {
    $min-height: 48px;
    $border-width: 0;
    $border-radius: 0;
    $has-hover-state: true;
    $has-transition: true;
    $transition-delay: var(--#{$prefix}transition-normal);
    $transition-type: ease-in-out;
}



// * ------------------------------------------------------------------------ //
// * - Settings Storage                                                     - //
// * ------------------------------------------------------------------------ //



/// Sets the minimum height for elements.
/// @param {Length} $height - The minimum height value to set.
//
@mixin setMinHeight($height) {
    $min-height: $height !global;
}


/// Sets the minimum height for elements.
/// @param {Length} $height - The minimum height value to set.
//
@mixin setMinHeight($height) {
    $min-height: $height !global;
}


/// Sets the border width for elements.
/// @param {Length} $width - The border width value to set.
//
@mixin setBorderWidth($width) {
    $border-width: $width !global;
}


/// Sets the border radius for elements.
/// @param {Length} $radius - The border radius value to set.
//
@mixin setBorderRadius($radius) {
    $border-radius: $radius !global;
}


/// Enables or disables hover effects for elements.
/// @param {Boolean} $enabled - Whether to enable (`true`) or disable (`false`) hover effects.
//
@mixin setHover($enabled) {
    $has-hover-state: $enabled !global;
}


/// Enables or disables transitions for the brand's elements.
/// @param {Boolean} $enabled - Whether to enable (`true`) or disable (`false`) transitions.
//
@mixin setTransition($enabled) {
    $has-transition: $enabled !global;
}


/// Sets the transition delay for the brand's elements.
/// @param {Length} $delay - The duration of the transition delay, typically a CSS variable.
//
@mixin setTransitionDelay($delay) {
    $transition-delay: $delay !global;
}


/// Sets the transition type (easing function) for the brand's elements.
/// @param {String} $type - The type of easing, e.g., `ease-in-out`.
//
@mixin setTransitionType($type) {
    $transition-type: $type !global;
}
