// * ----------- @osw3/symfony-ux/assets/sass/storages/copyright.scss ----------
// *
// *    Copyright Storage
// *
// * ---------------------------------------------------------------------------

@use './../storages/prefix';
@use './../storages/fonts';
@use './../storages/spaces';


// * Define storage data
// * ---------------------------------------------

$cursor               : initial;
$font-family          : var(--#{prefix.$prefix}font-open-sans);
$font-size            : fonts.$base-font-size * .8;
$font-weight          : 100 * 4;
$padding-x            : spaces.$base * 0;
$padding-y            : spaces.$base * 0;
$transition-delay     : var(--#{prefix.$prefix}transition-normal);
$transition-type      : ease-in-out;

 
// * Storage Mixins definition
// * ---------------------------------------------

@mixin setCursor($value) {
    $cursor: $value !global;
}

@mixin setFontFamily($value) {
    $font-family: $value !global;
}

@mixin setFontSize($value) {
    $font-size: $value !global;
}

@mixin setFontWeight($value) {
    $font-weight: $value !global;
}

@mixin setPaddingX($value) {
    $padding-x: $value !global;
}

@mixin setPaddingY($value) {
    $padding-y: $value !global;
}

@mixin setTransitionDelay($value) {
    $transition-delay: $value !global;
}

@mixin setTransitionType($value) {
    $transition-type: $value !global;
}