// * ===========================================================================
// *  STORAGE: Copyright Component
// * ===========================================================================
// *
// *  This file is the storage for the Copyright component. It defines the 
// *  default variable values and mixins for the component.
// *
// * ===========================================================================

@charset 'utf-8';

@use './../storages/prefix';
@use './../storages/fonts';
@use './../storages/spaces';

$prefix: prefix.$prefix;



// * ------------------------------------------------------------------------ //
// * - Settings Storage                                                     - //
// * ------------------------------------------------------------------------ //

// * Structure
// * ---------------------------------------------

$display: inline-block;


// * Typography
// * ---------------------------------------------

$font-family: null;
$font-size: fonts.$scale-base * .8;
$font-weight: 100 * 4;


// * Spacing
// * ---------------------------------------------

$padding-x: spaces.$base * 0;
$padding-y: spaces.$base * 0;


// * Interaction
// * ---------------------------------------------

$cursor: null;
$has-hover-state: false;


// * Transition
// * ---------------------------------------------

$has-transition: false;
$transition-delay: null;
$transition-type: null;



// * ------------------------------------------------------------------------ //
// * - Reset Storage.                                                       - //
// * ------------------------------------------------------------------------ //

@mixin reset() {
    $display: inline-block !global;
    $font-family: null !global;
    $font-size: fonts.$scale-base * .8 !global;
    $font-weight: 100 * 4 !global;
    $padding-x: spaces.$base * 0 !global;
    $padding-y: spaces.$base * 0 !global;
    $cursor: null !global;
    $has-hover-state: false !global;
    $has-transition: false !global;
    $transition-delay: null !global;
    $transition-type: null !global;
}



// * ------------------------------------------------------------------------ //
// * - Settings Storage                                                     - //
// * ------------------------------------------------------------------------ //

// * Structure
// * ---------------------------------------------

/// Sets the display property for the copyright component.
/// @param {Display} $value - The display value to set.
/// 
/// Usage example:
/// @include setDisplay(block);
/// 
@mixin setDisplay($value) {
    $display: $value !global;
}


// * Typography
// * ---------------------------------------------

/// Sets the font family for the copyright component.
/// @param {Font Family} $value - The font family value to set.
/// 
/// Usage example:
/// @include setFontFamily('Arial, sans-serif');
///
@mixin setFontFamily($value) {
    $font-family: $value !global;
}
@mixin setFontSize($value) {
    $font-size: $value !global;
}
@mixin setFontWeight($value) {
    $font-weight: $value !global;
}



// * Spacing
// * ---------------------------------------------

@mixin setPaddingX($value) {
    $padding-x: $value !global;
}
@mixin setPaddingY($value) {
    $padding-y: $value !global;
}


// * Interaction
// * ---------------------------------------------

@mixin setCursor($cursor) {
    $cursor: $cursor !global;
}
@mixin setHasHoverState($enabled) {
    $has-hover-state: $enabled !global;
}


// * Transition
// * ---------------------------------------------

@mixin setHasTransition($value) {
    $has-transition: $value !global;

    @if $has-transition and $transition-delay == null {
        $transition-delay : var(--#{$prefix}transition-normal) !global;
    }
    @if $has-transition and $transition-type == null {
        $transition-type  : ease-in-out !global;
    }
}
@mixin setTransitionDelay($value) {
    $transition-delay: $value !global;
}
@mixin setTransitionType($value) {
    $transition-type: $value !global;
}