// * ------------ @osw3/symfony-ux/assets/sass/forms/fonts.scss ------------
// *
// *    Fonts Form
// *
// * ---------------------------------------------------------------------------

@use "sass:map";
@use './../storages/prefix';
@use './../variables/fonts' as default;
$prefix: prefix.$prefix;


// * Define form data
// * ---------------------------------------------

// TODO: make it customizable by config.yaml
$required--symbol: '*';


// Widget container

$widget--padding-x    : 0;
$widget--padding-y    : 0;
$widget--border-width : 0;
$widget--border-radius: var(--#{$prefix}border-radius-none);


// Widget Label

$label--inline-width : auto; // applied when inline widget
$label--padding-x    : 0;
$label--padding-y    : 0;
$label--border-radius: var(--#{$prefix}border-radius-none);


// Widget Description

$description--padding-x    : 0;
$description--padding-y    : 0;
$description--border-radius: var(--#{$prefix}border-radius-none);


// Widget Control

$control--padding-x       : .75rem;
$control--padding-y       : .375rem;
// $control--padding-x--small: .25rem;
// $control--padding-y--small: .5rem;
// $control--padding-x--large: .5rem;
// $control--padding-y--large: 1rem;
$control--border-width    : 1px;
$control--border-radius   : var(--#{$prefix}border-radius-normal);


// $disabled-opacity : 0.65;

$transition           : true;
$transition-delay     : var(--#{$prefix}transition-normal);
$transition-type      : ease-in-out;


// * Form Mixins definition
// * ---------------------------------------------


@mixin setRequiredSymbol($symbol) {
    $required--symbol: $symbol !global;
}



@mixin setWidgetPaddingX($space) {
    $widget--padding-x: $space !global;
}
@mixin setWidgetPaddingY($space) {
    $widget--padding-y: $space !global;
}
@mixin setWidgetBorderWidth($width) {
    $widget--border-width: $width !global;
}
@mixin setWidgetBorderRadius($radius) {
    $widget--border-radius: $radius !global;
}



@mixin setLabelInlineWidth($width) {
    $label--inline-width: $width !global;
}
@mixin setLabelPaddingX($space) {
    $label--padding-x: $space !global;
}
@mixin setLabelPaddingY($space) {
    $label--padding-y: $space !global;
}
@mixin setLabelBorderRadius($radius) {
    $label--border-radius: $radius !global;
}



@mixin setControlPaddingX($space) {
    $control--padding-x: $space !global;
}
@mixin setControlPaddingY($space) {
    $control--padding-y: $space !global;
}
@mixin setControlBorderWidth($width) {
    $control--border-width: $width !global;
}
@mixin setControlBorderRadius($radius) {
    $control--border-radius: $radius !global;
}




@mixin setDescriptionPaddingX($space) {
    $description--padding-x: $space !global;
}
@mixin setDescriptionPaddingY($space) {
    $description--padding-y: $space !global;
}
@mixin setDescriptionBorderRadius($radius) {
    $description--border-radius: $radius !global;
}




