// * ------------- @osw3/symfony-ux/assets/sass/storages/grid.scss -------------
// *
// *    Grid Storage
// *
// * ---------------------------------------------------------------------------

@use './../variables/grid' as default;


// * Define storage data
// * ---------------------------------------------

$divisions                   : default.$divisions;
$enable-grid-columns-class   : default.$enable-grid-columns-class;
$enable-grid-alignments-class: default.$enable-grid-alignments-class;
$enable-column-sizes-class   : default.$enable-column-sizes-class;
$enable-column-offset-class  : default.$enable-column-offset-class;
$enable-column-shift-class   : default.$enable-column-shift-class;


// * Storage Mixins definition
// * ---------------------------------------------

@mixin divisions($value) {
    $divisions: $value !global;
}
@mixin enableGridColumnsClass($enable) {
    $enable-grid-columns-class: $enable !global;
}
@mixin enableGridAlignmentsClass($enable) {
    $enable-grid-alignments-class: $enable !global;
}
@mixin enableColumnSizesClass($enable) {
    $enable-column-sizes-class: $enable !global;
}
@mixin enableColumnOffsetClass($enable) {
    $enable-column-offset-class: $enable !global;
}
@mixin enableColumnShiftClass($enable) {
    $enable-column-shift-class: $enable !global;
}