// * ------------ @osw3/symfony-ux/assets/sass/storages/header.scss ------------
// *
// *    Header Storage
// *
// * ---------------------------------------------------------------------------

@use 'sass:meta';
@use './../storages/prefix';
@use './../generated';
$prefix: prefix.$prefix;


// * Define storage data
// * ---------------------------------------------

/// Specifies the breakpoint to expand or toggle between mobile and desktop views
/// @type string
//
$expand-at: if(meta.global-variable-exists('header-expand-at', $module: generated), generated.$header-expand-at, false);

/// Toggle `row` and `row-inverse` of the main element
/// @type Bool
//
$is-inverse: false;

/// The amount of blur applied to the backdrop.
/// @type length
//
$backdrop-blur: 4px;

/// The opacity level of the backdrop.
/// @type number
//
$backdrop-opacity: 0.5;

/// 
/// @type length
//
$brand-offset: 1rem;

/// 
/// @type length
//
$brand-gap: 3rem;


// $offcanvas-width: 380px;

/// Default width of the offcanvas component.
/// @type length
//
$width: 380px;

/// Custom width for the offcanvas when positioned on the left.
/// @type length | null
//
$left-width: null;

/// Custom width for the offcanvas when positioned on the right.
/// @type length | null
//
$right-width: null;



// Border bottom
$border-width    : 1px;
$border-style    : solid;
// $border-radius   : var(--#{$prefix}border-radius-normal);





// $padding-x        : spaces.$base * .94;
// $padding-y        : spaces.$base * 1.25;
// $padding-x-small  : spaces.$base * .6;
// $padding-y-small  : spaces.$base * 1;
// $padding-x-large  : spaces.$base * 1;
// $padding-y-large  : spaces.$base * 1.6;

// $font-family      : inherit;
// $font-size        : fonts.$scale-base * 1;
// $font-size-small  : fonts.$scale-base * .95;
// $font-size-large  : fonts.$scale-base * 1.2;
// $font-weight      : 400;
// $font-weight-small: 400;
// $font-weight-large: 400;
// $line-height      : 1.5;
// $line-height-small: 1;
// $line-height-large: 1.6;

// $enable-palette: true;

// $box-shadow       : inset 0 1px 0 rgba(255, 255, 255, 0.15), 0 1px 1px rgba(0, 0, 0, 0.075);


/// Delay for the transition effect, using a CSS variable.
/// @type time
//
$transition-delay: var(--#{$prefix}transition-normal);

/// Type of transition timing function.
/// @type string
//
$transition-type: ease-in-out;






// * Storage Mixins definition
// * ---------------------------------------------

@mixin setExpandAt($breakpoint) {
    $expand-at: $breakpoint !global;
}

@mixin setRowInverse($inverse) {
    $is-inverse: $inverse !global;
}

@mixin setBackdropBlur($length) {
    $backdrop-blur: $length !global;
}

@mixin setBackdropOpacity($opacity) {
    $backdrop-opacity: $opacity !global;
}

@mixin setBrandOffset($length) {
    $brand-offset: $length !global;
}

@mixin setBrandGap($length) {
    $brand-gap: $length !global;
}
