// * ------------- @osw3/symfony-ux/assets/sass/storages/menu.scss -------------
// *
// *    Menu Storage
// *
// * ---------------------------------------------------------------------------

@use 'sass:meta';
@use './../storages/spaces';
@use './../storages/prefix';
@use './../generated';
$prefix: prefix.$prefix;


// * Define storage data
// * ---------------------------------------------

$expand-at  : if(meta.global-variable-exists('menu-expand-at', $module: generated), generated.$menu-expand-at, false);

// $cursor          : pointer;
// $padding-x       : spaces.$base * .8;
// $padding-y       : spaces.$base * 1.4;

// $transition      : true;
// $transition-delay: var(--#{$prefix}transition-normal);
// $transition-type : ease-in-out;
// $disabled-opacity: 0.65;

// $sub-width: 280px;
// $sub-min-width: 100%;


// * Storage Mixins definition
// * ---------------------------------------------

@mixin setExpandAt($breakpoint) {
    $expand-at: $breakpoint !global;
}


// Sets the cursor style when hovering over the button.
// @param {Cursor} $cursor
// @mixin setCursor($cursor) {
//     $cursor: $cursor !global;
// }

// Sets the horizontal padding of the button for different screen sizes.
// @param {Length} $length.
// @mixin setPaddingX($length) {
//     $padding-x: $length !global;
// }

// Sets the vertical padding of the button for different screen sizes.
// @param {Length} $length.
// @mixin setPaddingY($length) {
//     $padding-y: $length !global;
// }