// * ===========================================================================
// *   Navbar Component Storage
// * ===========================================================================
// *
// *  This file defines the default storage values and mixins for the 
// *  Navbar component.
// *
// * ===========================================================================

@charset 'utf-8';
@use 'sass:meta';
@use './../generated';
@use './../storages/prefix';
@use './../storages/spaces';
$prefix: prefix.$prefix;


// * ------------------------------------------------------------------------ //
// * - Default variables for Navbar component
// * ------------------------------------------------------------------------ //

// * Global Navbar properties
// * ---------------------------------------------

$expand-at: if(sass(meta.global-variable-exists('navbar-expand-at', $module: generated)): generated.$navbar-expand-at; else: false);
$is-inverse: false;


// * Navbar Brand properties
// * ---------------------------------------------

$brand-offset: 1rem;
$brand-gap: 3rem;


// * Navbar transition properties
// * ---------------------------------------------

$transition-delay: var(--#{$prefix}transition-normal);
$transition-type: ease-in-out;


// * Offcanvas Navbar properties
// * ---------------------------------------------

$backdrop-blur: 4px;
$backdrop-opacity: 0.5;



// Default width of the offcanvas component.
$width: 380px;

// width for the offcanvas when positioned on the left.
$left-width: null;

// width for the offcanvas when positioned on the right.
$right-width: null;

/// Offcanvas box shadow
$box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;


/// Horizontal padding for the element.
/// @type length
//
$padding-x: spaces.$base * .94;

/// Vertical padding for the element.
/// @type length
//
$padding-y: spaces.$base * 1.25;

/// Width of the separator of the section.
/// @type length
//
$separator-width: 1px;


// * Navbar Nav Items properties
// * ---------------------------------------------

$sub-nav-max-height: 480px;
$sub-nav-border-width: 1px;
$sub-nav-border-radius: var(--#{$prefix}border-radius-normal);

$subnav--box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;

















// $padding-x        : spaces.$base * .94;
// $padding-y        : spaces.$base * 1.25;
// $padding-x-small  : spaces.$base * .6;
// $padding-y-small  : spaces.$base * 1;
// $padding-x-large  : spaces.$base * 1;
// $padding-y-large  : spaces.$base * 1.6;

// $font-family      : inherit;
// $font-size        : fonts.$scale-base * 1;
// $font-size-small  : fonts.$scale-base * .95;
// $font-size-large  : fonts.$scale-base * 1.2;
// $font-weight      : 400;
// $font-weight-small: 400;
// $font-weight-large: 400;
// $line-height      : 1.5;
// $line-height-small: 1;
// $line-height-large: 1.6;

// $enable-palette: true;






// * Storage Mixins definition
// * ---------------------------------------------

@mixin setExpandAt($breakpoint) {
    $expand-at: $breakpoint !global;
}

@mixin setRowInverse($inverse) {
    $is-inverse: $inverse !global;
}

@mixin setBackdropBlur($length) {
    $backdrop-blur: $length !global;
}

@mixin setBackdropOpacity($opacity) {
    $backdrop-opacity: $opacity !global;
}

@mixin setBrandOffset($length) {
    $brand-offset: $length !global;
}

@mixin setBrandGap($length) {
    $brand-gap: $length !global;
}
