// * ===========================================================================
// *  Scroll to Top Component Storage
// * ===========================================================================
// *
// *  This file defines the default storage values and mixins for the 
// *  Scroll-to-top component.
// *
// * ===========================================================================

@charset 'utf-8';
@use './../storages/prefix';
@use './../storages/spaces';


// * ------------------------------------------------------------------------ //
// * - Default variables for Scroll-to-top component
// * ------------------------------------------------------------------------ //

$cursor    : pointer;
$shape     : square;
$position  : bottom-right;
$symbol    : arrow-up;

$transition      : natural;
$transition-delay: null;
$transition-type : null;

$size      : 40px;
$position-x: spaces.$base *2;
$position-y: spaces.$base *2;
$offset-x  : 0px;
$offset-y  : 0px;
$font-size : 2;
$z-index   : 99999;

$border-width: 20px;
$square-radius: 6px;


// * ------------------------------------------------------------------------ //
// * - Storage Mixins definition
// * ------------------------------------------------------------------------ //

// Sets the cursor style for the scroll-to-top button.
// @param {Cursor} $cursor - The cursor style, e.g., pointer for clickable elements.
@mixin setCursor($cursor) {
    $cursor: $cursor !global;
}

// Sets the shape of the scroll-to-top button.
// @param {String} $shape - The shape of the button, e.g., `square`.
@mixin setShape($shape) {
    // square, circle, corner
    $shape: $shape !global;
}

// Sets the position of the scroll-to-top button on the screen.
// @param {String} $position - The position, e.g., `bottom-right`.
@mixin setPosition($position) {
    // top-left, top-center, top-right, middle-left, middle-center, centered, middle-right, bottom-left, bottom-center, bottom-right
    $position: $position !global;
}

// Sets the type of transition for the scroll-to-top button.
// @param {String} $transition - The type of transition, e.g., `natural` for smooth behavior.
@mixin setTransition($transition) {
    // natural, inverse, right, left
    $transition: $transition !global;
}

// Sets the delay before the transition begins for the scroll-to-top button.
// @param {Length} $delay - The duration of the transition delay, typically a CSS variable.
@mixin setTransitionDelay($delay) {
    $transition-delay: $delay !global;
}

// Sets the transition type (easing function) for the scroll-to-top button.
// @param {String} $type - The type of easing, e.g., `ease-in-out`.
@mixin setTransitionType($type) {
    $transition-type: $type !global;
}

// Sets the symbol displayed inside the scroll-to-top button.
// @param {String} $symbol - The symbol or icon, e.g., `arrow-up`.
@mixin setSymbol($symbol) {
    $symbol: $symbol !global;
}

// Sets the z-index of the scroll-to-top button to control stacking order.
// @param {Number} $zIndex - The z-index value, e.g., 999999 to ensure it is on top.
@mixin setZIndex($zIndex) {
    $z-index: $zIndex !global;
}

// Sets the border radius for a square-shaped scroll-to-top button.
// @param {Length} $radius - The radius for the button's corners, e.g., 6px.
@mixin setSquareRadius($radius) {
    $square-radius: $radius !global;
}

// Sets the border width for the scroll-to-top button.
// @param {Length} $width - The width of the border, e.g., 20px.
@mixin setBorderWidth($width) {
    $border-width: $width !global;
}
