<!-- {"title": "Component with context"} -->

<twig:Component:Alert:Danger message="My danger alert message" />
<twig:Component:Alert:Success message="My success alert message" />
<twig:Component:Alert:Warning message="My warning alert message" />
<twig:Component:Alert:Info message="My info alert message" />
<twig:Component:Alert:Primary message="My primary alert message" />
<twig:Component:Alert:Secondary message="My secondary alert message" />
<twig:Component:Alert:Light message="My light alert message" />
<twig:Component:Alert:Dark message="My dark alert message" />
<twig:Component:Alert:Muted message="My muted alert message" />