<!-- {"title": "Component with context in attribute 'is'"} -->

<twig:Alert is="danger" message="My danger alert message" />
<twig:Alert is="success" message="My success alert message" />
<twig:Alert is="warning" message="My warning alert message" />
<twig:Alert is="info" message="My info alert message" />
<twig:Alert is="primary" message="My primary alert message" />
<twig:Alert is="secondary" message="My secondary alert message" />
<twig:Alert is="light" message="My light alert message" />
<twig:Alert is="dark" message="My dark alert message" />
<twig:Alert is="muted" message="My muted alert message" />